@import 'mixin.scss';
.page-blog {
	padding-bottom: 40px;
	.section-header {
		padding: 50px 15px;
		@media (max-width: 767px) {
			padding-top: 0;
			padding-bottom: 30px;
		}
	}
}
.post-item {
	@extend %flexbox;
	@extend %flex-diretion-column;
}
.post-item-inner {	
	position: relative;
	margin-bottom: 40px;	
	background: var(--light-color);
	@include box-shadow(0 0 16px 5px rgba(var(--dark-color), 0.05));
	@media (max-width: 767px) {
		margin: 0 auto 20px;
	}
	.post-image {
		background: var(--background-pre-load);
	}
	.post-content {
		padding: 23px;
		height: 100%;		
		@extend %flexbox;
		@extend %flex-diretion-column;
		.info {
			@extend %flexbox;
			@extend %flex-diretion-column;
			.meta-data {
				padding: 0 0 8px;
				font-size: calc(var(--body-font-size) - 1px);
				color: var(--body-light-color);				
			}
			> div {
				> a {
					&:hover {
						color:var(--main-color);
						span {
							color: inherit;
						}
					}
				}
				.h4 {
					font-weight: 400;
					display: block;
					margin: 0 0 11px;
					line-height: 1.3;
				}				
			}			
			.post-title {
				font-weight: 400;
				display: block;
				margin: 0 0 11px;
				font-size: var(--size-h4);
				color: var(--body-title-color);
				&:hover {
					color:var(--main-color);
				}
			}	
			.blog-excerpt,
			p {
				@extend %text-line-clamp;
				line-height: 22px;
				max-height: 66px;
				-webkit-line-clamp: 3;
				margin: 0 0 15px;
				color: var(--body-light-color);
				font-size: calc(var(--body-font-size) - 1px);
			}
			.blog-read-more {
				margin-top: auto;
				@extend %flexbox;
			}
			.read-more,
			.link-to-post {
				text-transform: uppercase;
				color:var(--main-color);
				background: none;
				border: none;
				font-size: calc(var(--body-font-size) - 1px);
				&:hover {
					color: var(--body-title-color);
				}
			}
			.text-right {
				&.link-to-post {
					text-transform: capitalize;
					&:after {
						content: "\e82c";
						@include padding-start(6px);
						@extend %font-family;
					}
				}
			}
		}
	}
}