@import 'mixin.scss';
.page-account {	
	.account-details {
		@media (max-width: 767px) {
			padding-bottom: 20px;
		}
		h5 {
			padding-bottom: 20px;
		}
		.btn {				
			@extend %btn;
			@extend %btn-1;
			width: 225px;					
			margin-bottom: 20px;
            padding: 9px 20px;				
		}
	}
	#customer_orders {
		h5 {
			padding-bottom: 20px;
		}
	}
}

#customer_orders {
    .table-wrapper{
      width: 100%;
      overflow: auto;
      @media (min-width: 992px) {
          overflow: hidden;
      }
      table{
        tr{
            th {
                text-transform: uppercase;
            }
            th, td {
                position: relative;
                padding: 20px 15px;
                border-bottom: 1px solid var(--body-border-color);
                text-align: center;
            }
          td {
              &:last-child {
                  @include padding-end(0);
              }
            .total {
              font-size: 18px;
              color: var(--main-color);
            }
            .note { display: block; white-space: nowrap; }
          }
        }
      }
      .order-table {
          select {
              height: 40px;
              line-height: 40px;
              padding: 0 10px;
          }
          #sort_ic_dc {
              @include padding-end(var(--padding-inset-md));
              @include margin-start(var(--padding-inset-xs));
              @media (max-width: 575px) {
                  @include margin-start(60px);
                  margin-top: 20px;
              }
          }
          @media (max-width: 1199px) {
              tbody {
                  td {
                      display: block;
                      text-align: start;
                  }
              }
          }
          @media (max-width: 575px) {
              tbody {
                  td {
                      padding: 20px 0;
                      span {
                          font-size: 15px;
                      }
                      label {
                          font-size: 15px;
                      }
                      input:last-child {
                          @include margin-start(107px);
                          margin-top: 20px;
                      }
                  }
              }
          }
      }
      #orders-res {
          .btn-group {
              padding-top: 30px;
              .btn {
                  padding: 0 11px;
                  background: none;
                  @include margin-end(var(--padding-inset-xxs));
                  text-transform: capitalize;
              }
              .btn-primary {
                  border: 1px solid var(--body-link-color);
                  color: var(--body-link-color);
              }
              .prev {
                  &:before {
                      content: "\f100";
                      @extend %font-family;
                      font-size: 17px;
                      float: left;
                      @include margin-end(var(--padding-inset-xs));
                  }
              }
              .next {
                  &:before {
                      content: "\f101";
                      @extend %font-family;
                      font-size: 17px;
                      float: right;
                      @include margin-start(var(--padding-inset-xs));
                  }
              }
          }
          .row {
              @media (max-width: 991px) {
                  >div:last-child {
                      -webkit-box-flex: 0;
                      -ms-flex: 0 0 100%;
                      flex: 0 0 100%;
                      max-width: 100%;
                  }
              }
          }
      }
    }
  }