@import './tools/mixin.scss';
.page-product {
	#sub-col {
		padding-bottom: 40px;
	}
    .product-info {
      position: relative;
      @media (max-width: 767px) {
        padding-top: 30px;
      }      
      .product-info-inner {
        position: relative;          
        > div {
          position: relative;
        }
        .product-author {
          padding-bottom: var(--padding-xs);
        }
        .shipping-time {
          padding-bottom: 18px;
          border-bottom: 1px solid var(--body-border-color);                   
          li {
            list-style: none;
            padding: 2px 0;
          }
          .deadline {
            .text {
              float: left;
              line-height: 20px;
              @include padding-end(var(--padding-inset-xs));              
            }
            .countdown_deadline {
              line-height: 20px;
              .countdown-section {
                float: none;
                display: inline-block;
                width: auto;
                padding: 0 10px 0 0;
                font-size: var(--body-font-size);
                .countdown-amount {
                  display: inline-block;
                  font-size: inherit;
                  @include padding-end(var(--padding-inset-xxs));
                  color: var(--body-link-color);
                  font-weight: 600;
                }
                .countdown-period {
                  display: inline-block;
                  font-size: inherit;
                  color: var(--body-link-color);
                  font-weight: 600;
                }
              }
            }
          }
          .find-my-local {
            a {
              color: var(--body-light-color);
              font-size: inherit;
              i {
                &:before {
                  width: auto;
                  margin: 0;
                  @include padding-end(var(--padding-inset-xs));
                }
              }
            }
          }
        }
        .product-sku-collection {          
          li {
            list-style: none;
            line-height: 20px;
            padding: 2px 0;            
            > span {              
              &:first-child {
                font-weight: 600;
              }
            }
            a {
              color: var(--body-general-color);
            }
          }
        }
        .product-sub-action {
          padding: 20px 0 0;          
          a {
            color: var(--body-link-color);                 
            display: inline-block;
            margin: 0 8px;  
            @media (max-width: 1199px) {
              margin: 0 4px;
            }        
            i {
              @include margin-end(var(--padding-inset-xxs));
            }    
            &:hover {
              color: var(--main-color);
            }   
            &:first-child {
              @include margin-start(0);
            }         
            &:last-child {
              @include margin-end(0);
            }
          }
        }
      }
      h1[itemprop="name"] {
        text-align: start;
        font-size: var(--product-detail-title-size);
        margin: 0 0 10px;
        font-family: var(--font-standard);
        font-weight: var(--product-detail-title-weight);
        letter-spacing: 0.9px;        
      }
      .author {
        margin: 0;
        font-size: calc(var(--body-font-size) + 2px);
        letter-spacing: 0.62px;             
      }
      .rating-links {
        margin: 0 0 13px;        
        overflow: hidden;        
        font-size: calc(var(--body-font-size) + 2px);
        @extend %flexbox;
        @extend %flex-wrap;
        @extend %align-items-center;
        > a {
          color: var(--body-light-color);
          font-size: inherit;
        }
      }
      .detail-deal {
        display: block;
        clear: both;
        .deal-text {
          display: block;
          line-height: 28px;
          padding: 0 0 11px;
          text-transform: uppercase;
          font-weight: var(--font-bold);
        }
        @extend %countdown-product;
      }
      .product-detail-review {
        margin: 0 0 15px;
        display: inline-block;
        > a {
          @include margin-start(var(--padding-xxs));
          font-size: 13px;
          &:hover {
            color: var(--main-color);
          }
        }
      }
      .short-description {          
        margin: 10px 0 20px;
        line-height: 24px;
        font-weight: 300;
        max-height: 300px;
        overflow-y: auto;     
        h5 {
          display: none;
        }
        ul, ol {
          margin-top: 15px;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .spr-badge {
        margin: 0 5px 0 0;                
        position: relative;        
        @extend %flexbox;
        @extend %align-items-center;
        .spr-badge-caption {
          display: inline-block;
          color: var(--body-light-color);
          padding: 0 10px;
          text-transform: lowercase;
          &:before {
            content: "(";
          }
          &:after {
            content: ")";
          }
        }
      }        
      .pre-order {
        @include flex(1);
        max-width: 185px;
        @include padding-end(var(--padding-inset-md));
        .btn-pre-order {
          height: 50px;
          padding: 10px;   
          line-height: 20px;       
          width: 100%;
        }        
        &.hide {
          display: none;
        }
      }
      .pre-order-success {
        @include flex(0 0 100%);
        padding: 0 0 10px;
        color: var(--main-color);
      }
      .group-price-sale {       
        margin-top: 10px;
        @extend %flexbox;
        @extend %flex-wrap;
        @include align-items(flex-start);
        @extend %justify-content-between;        
        @media (max-width: 379px) {
          margin-bottom: 5px;
        }
      }     
      .product-price {          
        line-height: 100%;    
        padding-bottom: var(--padding-inset-md);
        .detail-price {
          @extend %flexbox;
          @extend %flex-wrap;
          @extend %align-items-center; 
          font-weight: var(--product-detail-price-weight);   
        }
        .price-sale {            
          font-size: var(--product-price-size);          
        }
        .price {                                    
          font-size: var(--product-detail-size);            
        }
        .price-compare {                    
          @include margin-start(var(--padding-inset-xs)); 
          font-size: calc(var(--product-detail-size) - 6px);
        }
      }
      #stock {                
        @extend %flexbox;     
        @media (max-width: 379px) {
          @include flex(0 0 100%);             
        }   
      }
      .required-fields {
        font-size: calc(var(--body-font-size) - 2px);
        color: var(--main-color);
        text-align: end;
        padding: 7px 0 0;
        position: absolute;
        top: 0;
        right: 0;
      }
      .custom-field {
        color: var(--main-color);
        margin: 0 0 20px;
      }
      .group-cw {
        position: relative;        
        width: 100%;
        margin: 15px 0 0;
        @extend %flexbox;
        @extend %flex-wrap;        
        .swatch {
          margin: 0 0 6px;
          position: relative;    
          .header {
            padding: 0 0 2px;      
            margin: 0;
            line-height: 30px;
            color: var(--body-general-color);
            display: block;
            font-weight: 600;
            font-size: calc(var(--body-font-size) - 1px);       
            .swatch-value {
              font-weight: 400;
            }
          }
          .swatch-element {
            margin: 0 0 5px; 
            &:not(:last-child) {
              @include margin-end(var(--padding-inset-xs));
            }
            label {
              position: relative;              
              text-align: center;
              cursor: pointer;
              min-width: var(--swatch-color-width);
              height: var(--swatch-color-height) ;
              padding: 0 5px;
              line-height: calc(var(--swatch-color-height) - 2px);        
              color: var(--body-general-color);
              font-size: calc((var(--body-font-size) - 1px));
              text-transform: none;
              background: none;
              background-repeat: no-repeat !important;
              background-position: center !important;
              background-size: cover !important;
              border: 1px solid var(--body-border-color);        
              @extend %border-radius-reset;
              @include box-shadow(0 0 0 #ffffff inset);
              @extend %transition-ease;
            }
            input:checked + label {        
              cursor: default;              
              border-color: var(--main-color);
              @include box-shadow(0 0 0 #ffffff inset);
              @extend %border-radius-reset;
              position: relative;        
            }
            &:hover {
              @media (min-width: 1025px) {
                label{
                  @include box-shadow(0 0 0 #ffffff inset);                  
                  border-color: var(--main-color);
                }
              }
            }
            &.soldout {
              label {
                cursor: default;
                background-color: transparent !important;
                color: var(--body-price-sold-out-color) !important;
              }
              &:hover {
                @media (min-width: 1025px) {
                  label {
                    cursor: default;
                    background-color: transparent !important;
                    color: var(--main-color) !important;
                  }
                }
              }
            }
            &.img-false {
              label {
                min-width: 28px;
                height: 28px;
                padding: 0;
                border-color: transparent;
                &:before {
                  content: "";
                  width: 24px;
                  height: 24px;
                  top: 1px;
                  left: 1px;
                  border: none;
                }
                &.cf-white {
                  &:before {
                    border: 1px solid var(--body-border-color);
                  }
                }
              }
              input:checked + label {
                background: none;
                border-color: var(--body-border-color);
                &.cf-white {
                  &:before {
                    border: none;
                  }
                }
              }
            }
            &.img-true {                            
              label {
                min-width: var(--variant-image-width);
                height: var(--variant-image-height);                  
                background-repeat: inherit!important;
                background-size: cover !important;
                background: transparent;
              }                 
            }
            &.circle {
              input:checked + label,
              label {
                @extend %border-radius-circle;
              }
            }              
          }  
          &.swt-type-button {
            .swatch-element {              
              input:checked + label {                          
                color: var(--main-color-contrast);
                background: var(--main-color);                   
              }
              &:hover {
                @media (min-width: 1025px) {
                  label{                    
                    color: var(--main-color-contrast);
                    background: var(--main-color);                     
                  }
                }
              }
            }
          }   
        }       
        > .sold-out {
          cursor: default;                    
          padding: 8px 10px;
          height: 50px;
          max-width: 175px;
          @include margin-end(var(--padding-inset-xs));
          @include flex(1);
        } 
        > .pre-order {
          @include padding-end(0);
          @include padding-start(var(--padding-inset-xs));
        }
      }
      .action-button {  
        @media (max-width: 370px) {
          margin-top: 15px;
        }       
        .btn {          
          @extend %btn-cart;   
          @media (max-width: 479px) {
            padding: 10px 20px;
          }            
        }
        .btn[disabled="disabled"] {
          margin-top: 18px;        
        }
      }
      .product-action {        
        width: 100%;
        margin: 0 0 20px;
        border-bottom: 1px solid var(--body-border-color);
        .variants-wrapper {
          @extend %flexbox;
          @extend %flex-wrap;
          @include margin-start(-var(--padding-inset-xs));
          @include margin-end(-var(--padding-inset-xs));                
          .selector-wrapper {                                                
            min-width: 50%;
            @include padding-start(var(--padding-inset-xs));
            @include padding-end(var(--padding-inset-xs));
            margin-bottom: 10px;
            display: none;
            position: relative;
            @include flex(1);            
            select {
              width: 100%;                                                                      
              height: 40px;          
              line-height: 38px;
              @include padding-end(var(--padding-inset-lg));
            }
            i {              
              z-index: 33;
              width: 30px;
              height: 40px;
              line-height: 40px;
              text-align: center;              
              @include ab(n, n, 0, 15px);
              pointer-events: none;
            }
          }
          label {
            padding: 0 0 2px;      
            margin: 0;
            line-height: 30px;
            color: var(--body-general-color);
            display: block;
            font-weight: 600;
            font-size: calc(var(--body-font-size) - 1px);  
          }
        }
        .wrap-quantity-add-cart {
          list-style: none;          
          margin: 20px 0 0;         
          &.wp-bundle {
            .quantity-product {
              width: auto;
            }
          }
        }
        .quantity-product {             
          @include margin-end(var(--padding-inset-lg));
          @media (max-width: 479px) {
            @include margin-end(var(--padding-inset-sm));
          }
          label {
            display: none;
          }
          @extend %quantity-product;
          .qty-stock {
            display: inline-block;
            margin-bottom: 15px;
          }
        }
        .add-to-wishlist,
        .add-to-compare {
          margin: 0;
          display: table-cell;
          i {
            display: inline-block;
            line-height: 38px;
            text-align: center;
            background: none;
            color: var(--body-title-color);
            font-size: calc(var(--font-small-icon) - 4px);
            @extend %border-radius-circle;
          }
          &:hover {
            i {
              color: var(--body-light-color);
            }
          }
        }        
      }
    }
}
.layout-product-music {
	.product-info-wrapper {
		position: relative;
		margin-bottom: 60px; 
		.bg-img {
			min-height: 500px;
			background: var(--background-pre-load);
			span {
				min-height: 500px;
			}
			img {
				height: 100%;
			}
		}
		.product-image {
			@include flex-box(25%);
			.prod-info-mobile {
				display: none;
			}
			@media (max-width: 991px) {
				@include flex-box(100%);
				.product-image-inner {
					display: flex;
					.slider-main-image {
						@include flex-box(100px);
					}
				}
				.prod-info-mobile {
					display: block;
					flex: 1;
					@include padding-start(var(--padding-inset-sm));
					h1[itemprop="name"] {
						text-align: start;
						font-size: var(--product-detail-title-size);
						margin: 0 0 10px;
						font-family: var(--font-standard);
						font-weight: var(--product-detail-title-weight);
						letter-spacing: 0.9px;  
						@media (max-width: 767px) {
							font-size: 20px;
							margin: 0;
						}
						@media (max-width: 479px) {
							font-size: 16px;
						}      
					}
					.product-author {
						padding-bottom: 5px;
						@media (max-width: 479px) {
							font-size: 12px;
							padding-bottom: 0;
						} 
					}
					.author {
						margin: 0;
						font-size: calc(var(--body-font-size) + 2px);
						letter-spacing: 0.62px;             
					}
					.product-price {
						display: flex;
						align-items: center;
						@media (max-width: 767px) {
							font-size: 14px;
						}
						.detail-price {
							font-weight: var(--product-detail-price-weight); 
						}
						.price {
							font-size: var(--product-detail-size);
							@media (max-width: 767px) {
								font-size: 18px;
							}
						}
						.label-price {
							@include padding-end(var(--padding-inset-xs));
						}
					}
				}
			}
			@media (max-width: 479px) {
				.product-image-inner {
					.slider-main-image {
						@include flex-box(80px);
					}
				}
			}
		}
		.product-info {
			@include flex-box(75%);
			@media (max-width: 991px) {
				flex: 1;
				max-width: 100%;
			}
		}
		.product-info {
			@include padding-start(var(--padding-inset-lg));
			padding-top: var(--padding-md);
			@media (max-width: 991px) {
				@include padding-start(0);
				.prod-title, .product-author, .group-price-sale {
					display: none;
				}
			}
			@media (max-width: 479px) {
				.short-description {
					font-size: 12px;
				}
			}
			.product-price {
				@extend %flexbox;
				.label-price {
					@include padding-end(var(--padding-inset-xs));
				}
			}
			.product-sub-action {
				padding: 0;
				@extend %flexbox;
				@media (max-width: 575px) {
					.action-button {
						margin-top: 0;
						#add-to-cart {
							padding: 5px 15px;
						}
					}
				}
				ul {
					margin: 0;
				}
				>a, >div .share-button {
					font-size: 0;
					width: 50px;
					height: 50px;
					margin: 0 0 0 20px;
					text-align: center;
					@extend %border-radius-circle;
					background-color: var(--button-hover-btn1);
					color: var(--button-hover-btn1-contrast);
					border-color: var(--button-hover-btn1-contrast);
					@include transition(background 300ms ease-in-out);
					@media (max-width: 575px) {
						width: 40px;
						height: 40px;
						margin: 0 0 0 10px;
					}
					i {
						font-size: var(--font-icon);
						margin: 0;
						line-height: 50px;
						@media (max-width: 575px) {
							line-height: 41px;
							font-size: 16px;
						}
					}
					&:hover {
						color: var(--button-btn1-contrast);
						border-color: var(--button-btn1);
						background: var(--button-btn1);
					}
				}
				.share-icons {
					@include ab(47px,n,n,0);
					width: 88%;
					z-index: 2;
					@media (max-width: 767px) {
						width: 100%;
					}
					.share-links ul li {
						text-align: center;
					}
				}
			}
			.shopify-payment-button button {
				@media (max-width: 575px) {
					padding: 5px;
				}
			}
			.product-action {
				border: 0;
				margin: 0;
			}
		}
		.bg-img {
			img {
				@extend %border-radius-reset;
			}
		}
	}
	.product-playpist-wrapper {
		#amplitude-left {
			@extend %flexbox;
			@media (max-width: 767px) {
				flex-wrap: wrap;
				display: block;
			}
			img {
				@include flex-box(150px);
				height: 100%;
				@media (max-width: 767px) {
					@include flex-box(100%);
				}
			}
			#player-left-bottom {
				background: unset;
				padding: 20px 15px;
				@media (max-width: 767px) {
					@include padding-start(0);
					@include padding-end(0);
				}
				#meta-container {
					margin: 0;
					padding-bottom: var(--padding-inset-sm);
					@media (min-width: 768px) {
						text-align: start;
					}
					.song-name {
						color: var(--body-title-color);
						font-weight: var(--product-detail-title-weight);
					}
					.song-artist-album {
						span {
							color: var(--body-title-color);
							text-transform: capitalize;
							font-weight: var(--body-weight);
						}
					}
				}
				#control-container {
					margin-top: var(--padding-inset-xs);
					#repeat-container {
						#repeat {
							@media (min-width: 480px) {								
								@include margin-start(0);
								@include margin-end(var(--padding-inset-md));
							}
						}
						#shuffle {
							@media (min-width: 480px) {								
								display: block;
							}
						}
					}
				}
			}
			.current-time {
				text-align: start;
				color: var(--body-link-color);
				@media (min-width: 768px) {
					width: 9%;
				}
			}
			.duration {
				text-align: end;
				color: var(--body-link-color);
				@media (min-width: 768px) {
					width: 9%;
				}
			}
			#repeat-container {
				@extend %flexbox;
			}
			#progress-container {
				@media (min-width: 768px) {
					width: 82%;
				}
				.amplitude-song-slider {
					top: 0;
					margin: 0;
				}
				input:focus {
					border-bottom: 0;
				}
			}
			#central-controls {
				width: auto;
				.amplitude-play-pause {
					position: relative;
					@media (min-width: 480px) {						
						margin: 0 var(--padding-inset-sm);
					}
				}
				>div {
					@include box-shadow (0 0 7px rgba(var(--body-general-color), 0.2));
					@extend %border-radius-circle;
				}
			}
			#volume-container {
				.volume-controls {
					display: flex;
					align-items: center;
					@media (max-width: 479px) {
						display: none;
					}
					.amplitude-volume-slider {
						margin-top: 0;
						float: none;
					}
				}
				#shuffle-right {
					display: none;
					@media (max-width: 479px) {
						display: block;
					}
				}
			}
			#central-control-container {
				@extend %flexbox;
			}
		}
		#amplitude-right {
			padding: var(--padding-inset-lg) 0;
			>div:not(:last-child) {
				border-bottom: 1px solid var(--body-border-color);
			}
			>div {
				&:hover {
					@include box-shadow(0 0 7px var(--body-border-color));
					@include border-radius(10px, 10px, 10px, 10px);
				}
			}
			.song-meta-data {
				width: calc(100% - 90px);
				.song-title {
					font-weight: var(--product-title-weight);
				}
				.song-artist {
					text-transform: unset;
					color: var(--body-link-color);
					padding-top: 3px;
					font-weight: var(--body-weight);
					&:hover {
						color: var(--main-color);
					}
				}
			}
			.song-duration {
				color: var(--body-light-color);
				font-size: inherit;
				font-weight: var(--body-weight);
			}
			.song {
				display: flex;
				align-items: center;
				i {
					display: none;
				}
				.song-now-playing-icon-container {
					.song-title {
						@include padding-start(var(--padding-inset-xxs));
					}
				}
				&.amplitude-active-song-container {
					.song-now-playing-icon-container {						
						.song-title {
							display: none;
						}
						i {
							display: block;
							margin-top: -5px;
							&:before {
								content: "";
								background: url('music1.gif');
								width: 18px;
								height: 20px;
								display: block;
								background-size: 100%;
							}
						}
					}
				}
			}
		}
		.play-button-container {
			&:before {
				content: "\e849";
				@include font-family;
			}
		}
	}
	.product-content-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		max-width: 1100px;
		width: 100%;
		height: 100%;
		padding: 15px;
		margin: 0 auto;
		@extend %flexbox;
		@extend %align-items-center;
		@media (max-width: 991px) {
			flex-wrap: wrap;
			align-content: center;
			max-width: 720px;
		}
	}
	.sidebar-column {
		.sb-widget {			
			&.sb-tag {
				ul {
					margin: 0;
					li {
						padding: 7px 15px;
						@include margin-end(var(--padding-inset-xs));
						border: 1px solid var(--body-general-color); 
						min-width: 100px;
						text-align: center;
						@extend %border-radius-5;
					}
				}
			}
		}
	}
}

.shopify-payment-button {
    padding: 0 0 20px; 
    margin-top: 20px;
    button {    
      min-width: 40px;    
      line-height: 28px;
      padding: 10px;
      font-size: var(--body-font-size);          
      text-transform: uppercase;
      background: var(--button-btn2);
      color: var(--button-text-btn2);
      border: 1px solid var(--border-btn2);
      @extend %border-radius-30;
      @extend %transition-ease; 
      &:hover {
        background: var(--button-hover-btn2) !important;
        color: var(--button-text-hover-btn2) !important;
        border: 1px solid var(--border-hover-btn2) !important;
      }
    }
  }
.shopify-payment-button__button--hidden {
    display: none !important;
}
.swatch .swatch-element .crossed-out,.swatch input{display:none}.swatch{margin:1em 0}.swatch .header{margin:.5em 0}.swatch label{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;float:left;min-width:16px;height:16px;margin:0;border:1px solid #ccc;background-color:#ddd;font-size:13px;text-align:center;line-height:16px;white-space:nowrap;text-transform:uppercase}.swatch-element label{padding:0 10px}.color.swatch-element label{padding:0}.swatch input:checked+label{-webkit-box-shadow:0 1px 2px rgba(0,0,0,.8);-moz-box-shadow:0 1px 2px rgba(0,0,0,.8);box-shadow:0 1px 2px rgba(0,0,0,.8);border-color:transparent}.swatch .swatch-element{float:left;-webkit-transform:translateZ(0);-webkit-font-smoothing:antialiased;margin:0 15px 10px 0;position:relative}.crossed-out{position:absolute;width:100%;height:100%;left:0;top:0}.swatch .swatch-element.soldout .crossed-out{display:block}.swatch .swatch-element.soldout label{filter:alpha(opacity=60);-khtml-opacity:.6;-moz-opacity:.6;opacity:.6}.swatch .tooltip{text-align:center;background:#5f6572;color:#fff;bottom:100%;padding:5px 15px;display:block;position:absolute;white-space:nowrap;left:49%!important;left:-31px;margin-bottom:8px;filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;visibility:hidden;-webkit-transform:translateY(10px);-moz-transform:translateY(10px);-ms-transform:translateY(10px);-o-transform:translateY(10px);transform:translateY(10px);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-ms-transition:all .25s ease-out;-o-transition:all .25s ease-out;transition:all .25s ease-out;-webkit-box-shadow:2px 2px 6px rgba(0,0,0,.28);-moz-box-shadow:2px 2px 6px rgba(0,0,0,.28);-ms-box-shadow:2px 2px 6px rgba(0,0,0,.28);-o-box-shadow:2px 2px 6px rgba(0,0,0,.28);box-shadow:2px 2px 6px rgba(0,0,0,.28);z-index:10000;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.swatch .tooltip:before{bottom:-10px;content:" ";display:block;height:10px;left:0;position:absolute;width:100%}.swatch .tooltip:after{@include border-inline-start(solid transparent 5px);@include border-inline-end(solid transparent 5px);border-top:solid #5f6572 5px;bottom:-5px;content:" ";height:0;left:50%;margin-left:-8px;position:absolute;width:0}.swatch.error p{margin:.7em 0}.swatch.error p:first-child{margin-top:0}.swatch.error p:last-child{margin-bottom:0}.swatch.error code{font-family:monospace}
@media (min-width: 1025px) {
  .swatch .swatch-element:hover .tooltip{filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;visibility:visible;-webkit-transform:translateY(0);-moz-transform:translateY(0);-ms-transform:translateY(0);-o-transform:translateY(0);transform:translateY(0);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);}.swatch.error{background-color:#E8D2D2!important;color:#333!important;padding:1em;border-radius:5px}
}
.product-wrapper {
	.product-head {
		.product-image {
			.featured-img {
				a {
					> span.img-back {
						img {
							@include ab(50% , 50%, n, n);
							@include translate(-50%, -50%);
							@include opacity(0);
							@include transition(all 0.35s ease-in-out);
						}
					}
				}
			}
		}
	}
	.product-image {
		.featured-img {
			img {
				@include transition(filter .6s, opacity .6s, transform .6s, box-shadow .3s);
			}
		}
	}
	/*Effect fade in*/
	&.effect-fade_in {
		.product-image {
			.featured-img {
				a {
					&:before {
						@include effect-fade-in_out;
						opacity: 1;
					}
				}
			}
		}
		&:hover {
			.product-image {
				.featured-img {
					a {
						&:before {
							opacity: 0;
						}
					}
				}
			}
		}
	}
	/*End fade in*/

	/*Effect fade out*/
	&.effect-fade_out {
		.product-image {
			.featured-img {
				a {
					&:before {
						@include effect-fade-in_out;
						opacity: 0;
					}
				}
			}
		}
		&:hover {
			.product-image {
				.featured-img {
					a {
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	/*End fade out*/

	/*Back Img Fade In*/	
	&.effect-fade_in_back{
		@include transition(0.35s all ease);
		&:hover{
			.product-head .product-image .featured-img a>span.img-back img{
				@include opacity(1);
			}
		}
	}
	/*End Img Fade In*/

	/*Back Img Zoom In*/
	&.effect-zoom_in {
		@include transition(0.35s all ease);
		.product-head {
			.product-image {
				.featured-img {
					a {
						> span.img-back {
							img {
								@include scale(1.1, 1.1);
								@include translate(0,0);
								left: 0;
								top: 0;
							}
						}
					}
				}
			}
		}
		&:hover{
			.product-head .product-image .featured-img a>span.img-back img{
				@include opacity(1);
				@include scale(1.15, 1.15);
			}
		}
	}
	/*End Back Img Zoom In*/	

	/*Effect zoom*/
	&.effect-zoom {
		.product-image {
			.featured-img {
				img {
					@include scale(1,1);
				}
			}
		}
		&:hover {
			.product-image {
				.featured-img {
					img {
						@include scale(1.12, 1.12);
					}
				}
			}
		}
	}
	/*End Effect Zoom*/

	/*Effect Zoom Fade*/
	&.effect-zoom_fade {
		.product-image {
			.featured-img {
				a {
					img {
						opacity: 1;
					}
				}
			}
		}
		&:hover {
			.product-image {
				.featured-img {
					a {
						img {
							opacity: 0.7;
							@include scale(1.1, 1.1);
						}
					}
				}
			}
		}
	}
	/*End Zoom Fade*/

	/*Effect Blur*/
	&.effect-blur {
		&:hover {
			.product-image {
				.featured-img {
					img {
						-webkit-filter: blur(5px);
						filter: blur(5px);
					}
				}
			}
		}
	}
	/*End Blur*/

	/*Effect Glow*/
	&.effect-glow {
		&:hover {
			.product-image {
				.featured-img {
					img {
						-webkit-filter: brightness(1.1);
						filter: brightness(1.1);
					}
				}
			}
		}
	}
	/*End Effect Glow*/

	/*Effect Color*/
	&.effect-color {
		.product-image {
			.featured-img {
				img {
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
				}
			}
		}
		&:hover {
			.product-image {
				.featured-img {
					img {
					-webkit-filter: grayscale(0);
					filter: grayscale(0);
					}
				}
			}
		}
	}
	/*End Effect Glow*/

	/*Effect Grayscale*/
	&.effect-grayscale {
		&:hover {
			.product-image {
				.featured-img {
					img {
						-webkit-filter: grayscale(100%);
						filter: grayscale(100%);
					}
				}
			}
		}
	}
	/*End Grayscale*/
}
.templateProduct {
	.product-simple-tab {
	  position: relative;    
	  margin-bottom: 55px;      
	  .tab-content {
		iframe {
		  max-width: 100%;
		  max-height: 100%;
		}
		.video {
		  display: block;
		  position: relative;
		  width: 100%;
		  height: 0;
		  padding-bottom: 56.25%;
		  iframe {
			@include ab(0, 0, n, n);   
			width: 100%;
			height: 100%;       
		  }
		}			
		h5 {
		  line-height: 1.5;
		  padding-bottom: 10px;
		}		
		h1, h2, h3, h4, h6 {
		  margin-bottom: 20px;
		}
		table {
		  color: var(--body-light-color);
		}
		p {
		  line-height: 24px;
  
		  &:last-child {
			margin-bottom: 0;
		  }
		}			
	  }
	  .nav-tabs { 
		border: none;        
		@media (max-width: 767px) {
		  white-space: nowrap;
		  overflow-y: hidden;
		  overflow-x: auto;
		  border-bottom: 1px solid var(--body-border-color);
		}   
		.nav-item {        
		  margin-bottom: 0; 
		  @media (max-width: 767px) {
			@include border-inline-end(1px solid var(--body-border-color));
		  }
		  .nav-link {					
			border: none;					          
			font-size: var(--body-font-size);          
			background: rgba(var(--body-border-color-rbga), 0.3);
			color: var(--body-general-color);         
			position: relative;
			display: block;
			padding: 15px 25px;
			line-height: 30px;
			@extend %border-radius-reset;   
			&.active {
			  background: transparent;
			  color: var(--main-color);
			}                           
		  }
		}
	  }  
	  .description-product {
		> div {
		  border: 1px solid var(--body-border-color);
		  @media (min-width: 768px) {
			@include flexbox;        
			.nav {
			  @include flex(0 0 200px);
			  max-width: 200%;
			  @include border-inline-end(1px solid var(--body-border-color));
			  .nav-item {
				display: block;
				&:not(:last-child) {
				  border-bottom: 1px solid var(--body-border-color);
				}
			  }
			}
			.tab-content {
			  @include flex(1);
			  position: relative;
			}
		  }       
		}
		.tab-pane {    
		  padding: 15px 25px;
		  height: 0;
		  z-index: -9;
		  width: 100%;
		  opacity: 0;
		  @include ab(0,0,n,n);
		  @include transition(opacity 0.35s ease-in-out);
		  @media (max-width: 767px) {
			padding: 5%;
		  }
		  .recommended-item, #related_item {
			p {
			  line-height: 1.5;
			}
			h5 {
			  line-height: initial;
			  padding-bottom: 0;
			}
		  }
		  #related_item {
			margin-top: 0;
		  }
		  &.show {
			position: static;
			display: block;
			height: auto;
			z-index: 1;
			@extend %opacity;
		  }
		}
	  }
	  .nav-ver-2 {
		>li {
		  list-style: none;
		  border: 1px solid var(--body-border-color);
		  &:not(:last-child) {
			margin-bottom: var(--padding-md);
		  }
		}
		li {
		  >a {
			padding: var(--padding-inset-sm);
			line-height: 30px;
			font-weight: 500;
			font-size: var(--size-h4);
			position: relative;
			background: rgba(var(--body-border-color-rbga), 0.3);
			border-bottom: 1px solid transparent;
			margin-bottom: -1px;
			i {
			  position: absolute;
			  right: 15px;
			}
		  }
		  &.active {
			>a {
			  border-bottom: 1px solid var(--body-border-color);
			}
			.tab-pane {
			  padding: var(--padding-inset-sm);
			}
		  }
		  .tab-pane {
			padding: 0;
		  }
		}
	  }
	} 
}
.sidebar-column { 
  .sb-widget {
    width: 100%;      
    position: relative;
    clear: both;              
    margin-bottom: 50px;
    &.sb-tag {
      .list-inline {        
        margin: 0 -10px;
        @extend %flexbox;
        @extend %flex-wrap;
        li {                      
          margin-bottom: 15px;           
          padding: 0 10px;         
          a {                            
            display: block;
            font-size: var(--body-font-size);
            color: var(--body-general-color);
          }
          &:hover {           
            a {
              color: var(--main-color);
              text-decoration: underline;
            }
          }
        }
      }
    }      
    .sb-banner {        
      a {
        display: block;
        position: relative;
        overflow: hidden;
        &:before {
          @extend %before;
        }
        @media (min-width: 1025px) {
          &:hover {
            &:before {
              @include before-hover;
            }
          }
        }
      }
    }    
    .categories-menu,
    .blog-menu {
      li {				         
        a {
          font-size: calc(var(--body-font-size) + 1px);
          letter-spacing: 0.6px;
          display: inline-block;
          line-height: 24px;
          padding: 6px 0;		
          color: var(--body-general-color);
          &:hover {
            color: var(--main-color);
          }
        }								
        .dropdown-menu {
          padding: 0;                    
          width: 100%;
          position: static;
          box-shadow: unset;			
          z-index: 0;
          float: none;
          li {
            a {
              color: var(--body-light-color);
              @include padding-start(var(--padding-inset-xs));                					
              &:hover {
                color: var(--body-general-color);
                &:before {
                  color: inherit;
                }
              }
            }
            &.dropdown {
              .expand {
                color: var(--body-light-color);
              }
            }
            .dropdown-menu {
              li {
                @include padding-start(var(--padding-inset-xs));
              }
            }
          }
        }
      }
      .dropdown {
        > a {
          @include padding-end(var(--padding-inset-md));
          color: var(--body-general-color);
        }
        .expand {
          @include ab(0, n, n, 0);
          @extend %transition-ease;
          text-align: end;
          cursor: pointer;
          &:after {
            content: '\e80a';
            @extend %font-family;
            line-height: 36px;						
            font-size: calc(var(--body-font-size) + 2px);						
            display: block;				
            @extend %transition-ease;							
          }
        }
        &.active {
          > a {
            color: var(--main-color);              
          }
          > .expand {
            &:after {
              @include rotate(180);
              color: var(--main-color);
            }
          }
          > .dropdown-menu {
            display: block;              			
          }
        }
      }			
    }         
    > a {
      display: block;
      position: relative;
    }    
    .sb-product-carousel {
      @include margin-start(-var(--padding-inset-xxs));
      @include margin-end(-var(--padding-inset-xxs));
      height: 0;
      @extend %opacity-zero;
      .listing-item {
        padding: 5px;          
      }
      &.owl-carousel {
        height: auto;
        @extend %opacity;
      }
    }  
    .listing-item {
      .row {          
        @include margin-start(0);
        @include margin-end(0);                        
      }
      &:not(:last-child) {
        margin-bottom: 30px;                    
      }
    }      
    .sb-product-head {
      @include padding-start(0);
      @include padding-end(0);
      max-width: 90px;
      @include box-shadow(0 3px 7px rgba(var(--dark-color-rgba), 0.06));
      > a {
        display: block;
        img {
          width: 100%;
        }
      }
    }
    .sb-product-content {
      @include padding-end(0);
      @include padding-start(var(--padding-inset-sm));
      .bp-content-inner {
        > a {
          font-size: calc(var(--body-font-size) + 2px);            
          margin: 0 0 8px;
          display: block;
          line-height: 20px;         
          letter-spacing: 0.64px;    
          color: var(--body-general-color);
          &:hover {
            color: var(--main-color);
          }
        }
      }
      .product-price, .price {
        font-size: calc(var(--body-font-size) + 1px);
      }
      .price-sale {
        @include padding-end(var(--padding-inset-xxs));
      }
      .price-compare {
        font-size: calc(var(--body-font-size) - 1px);
        @include padding-start(0);
      }
      .price-sale {
        font-size: inherit;
      }
      .product-review {
        margin: 8px 0 0;
        .spr-badge-caption {
          display: none;
        }
      }
    }     
    h5 {
      line-height: 28px;        
      margin: 0 0 30px;    
      font-size: var(--size-h4);    
    }
    .sb-title {  
      line-height: 28px;        
      margin: 0 0 22px;        
      letter-spacing: 0.8px;
      span {
        font-size: 14px;
      }
      .clear-filter {
        margin-top: 4px;
      }
    }
    .post-item {               
      &:not(:last-child) {         
        margin: 0 0 20px;         
      }        
    }
    .post-item-inner {        
      width: 100%;       
      margin: 0;
      background: none; 
      @extend %box-shadow-reset;
      @extend %flexbox;  
      position: relative;      
      .post-image {          
        @include flex-box(80px);          
        img {
          object-fit: cover;
          font-family:"object-fit: cover";            
        }  
      }        
      .post-content {     
        @include flex(1);
        padding: 0 0 0 15px;
        h6 {
          font-size: calc(var(--body-font-size) - 1px);
          font-family: var(--font-standard);
          font-weight: 400;		
          line-height: 18px;				
        }
        p {
          color: var(--body-light-color);
          margin: 5px 0 0;
          font-size: calc(var(--body-font-size) - 2px);						
        }
      }
    }
    ul{
      list-style: none;
      padding: 0;
      ul, ol {
        padding: 0;
        margin: 0;
      }
      li{
        padding: 0;
        margin: 0;          
        a {
          color: var(--body-general-color);
          &:hover{
            text-decoration: none;
            color: var(--body-light-color);
          }
        }
      }
    } 
    .sb-menu {
      .sb-title {
        margin-bottom: 10px;
      }	
    }
  }    
}