@import './tools/mixin.scss';
@import './tools/function.scss';

@import './component/page-product.scss';
@import './component/swatch.scss';
@import './component/effect-product-grid.scss';
@import './component/product-simple-tab.scss';

.page-product {
	&.layout-product-art {
		.product {
			margin-bottom: 40px;
		}
		.product-content-wrapper {
			@media (min-width: 1200px) {				
				@include flexbox;
				#product-image {
					@include flex(0 0 66.66666667%);
					max-width: 66.66666667%;
				}
				#product-info {
					@include padding-start(var(--padding-inset-lg));     
					@include flex(0 0 33.333333%);
					max-width: 33.333333%;    
				}  
			}
			@media (min-width: 768px) and (max-width: 1199px) {
				@include flexbox;
				#product-image {
					@include flex(0 0 52%);
					max-width: 52%;
				}	
				#product-info {
					@include padding-start(var(--padding-inset-lg));     
					@include flex(0 0 48%);
					max-width: 48%;    
				} 
			}
		}
		.product-image {
			&.thumbnail-position-left {
				.product-image-inner {
					@media (min-width: 1200px) {
						@include padding-start(230px);
					}
					@media (max-width: 1199px) and (min-width: 768px) {
						@include padding-start(100px);
					}
				}
				.slider-thumbs-06 {
					left: 0;
					.slick-item {
						margin-bottom: 9px;
					}
				}
				&.thumbnail-position-none {
					@include padding-start(0);
				}
			}
			&.thumbnail-position-right {
				.product-image-inner {
					@media (min-width: 1200px) {
						@include padding-end(230px);
					}
					@media (max-width: 1199px) and (min-width: 768px) {
						@include padding-end(100px);
					}
				}
				.slider-thumbs-06 {
					right: 0;
					.slick-item {
						margin-bottom: 9px;
					}
				}
				&.thumbnail-position-none {
					@include padding-end(0);
				}
			}
			.slider-thumbs-06 {
				width: 210px;
				@media (max-width: 1199px) and (min-width: 768px) {
					width: 80px;
				}
			}
		}
		.product-info {
			.product-author {
				border-bottom: 1px solid var(--body-border-color);
				margin-bottom: var(--padding-lg);
				.author-title {
					display: inline-block;
				}
				.product-sub-social {
					display: inline-block;
					float: right;
				}
			}
			.short-description {
				margin-bottom: 15px;
			}
			.action-button {
				.add-to-cart {
					padding: 15px 30px;
					&:before {
						content:'\e81e';
						@include font-family;
						@include padding-end(var(--padding-xs));
						font-size: calc(var(--body-font-size) + 1px);
					}
				}
			}
			.product-price {
				@extend %flexbox;
				.label-price {
					@include padding-end(var(--padding-inset-xs));
					color: var(--body-light-color);
					font-weight: var(--product-detail-price-weight);   
				}
			}
			.shopify-payment-button button {
				padding: 14px;
			}
			.product-sub-action {
				padding: var(--padding-inset-xs) 0;
			}
			.product-tags {
				display: inline-block;
				padding: var(--padding-inset-xs) 0;
				>span {
					display: inline-block;
					margin-bottom: 10px;
					a {
						padding: 10px 15px;
						border: 1px solid var(--body-general-color);
						display: inline-block;
					}
				}
			}
		}
	}
	&.layout-product-art , &.layout-product-video {
		.product-info {
			.action-button {
				margin-bottom: var(--padding-inset-lg);
				.add-to-cart {
					width: 100%;
					@extend %border-radius-reset;
				}
			}
			.shopify-payment-button button {
				@extend %border-radius-reset;
			}
			.quantity-product {
				margin: 0 0 15px;
				padding: 3px 0;
				@extend %flexbox;	
				.qty-inner {
					.qty-up {
						right: auto!important;
					}	
				}
				input {
					@include margin-start(54px);
					@include margin-end(var(--padding-xs));
				}	
			}
			.stock-required-fields #stock {
				padding-bottom: var(--padding-xs);
				padding-top: var(--padding-inset-lg);
				.product-stock {
					>span:first-child {
						background: none;
						padding: 0;
					}
					span {
						font-size: var(--body-font-size);
					}
				}
			}
			.product-tags {
				display: inline-block;
				padding: var(--padding-inset-xs) 0;
				>span {
					display: inline-block;
					margin-bottom: 10px;
					@include margin-end(var(--padding-inset-xxs));
					a {
						padding: 10px 15px;
						border: 1px solid var(--body-general-color);
						display: inline-block;
					}
				}
			}
		}
	}
}