@import './rtl-tools/mixin.scss';
.password-page__header__inner {
    padding: 15px 30px;
  }
  .password-login {
    text-align: end;
  }
  .password-login,
  .admin-login {
    margin-top: 15px;
  }
  .template-password {
    height: 100vh;  
    width: 100%; 
    #shopify-section-password-content {
      text-align: center;
      padding: 0;
      margin: 0 auto;  
    //   background-image: url({{'password-page-background.jpg' | asset_url }});
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      min-height: 100vh;  
    }
    .hidden-label {
      display: none;
    }
    *, input, *::before, *::after {
      box-sizing: border-box;
    }
    .password-page__main {
      height: 100%;
      margin: 0 auto;
      width: 100%; 
      margin-top: 8%;
      .password-content {
        margin: 0 auto;
        max-width: 530px;
        padding: 0 15px;
        text-align: center;
        .title-comming-soon {
          p {
            margin: 0;
            padding-bottom: 30px;
          }
          &:hover {
            @include text-shadow-ps;
          }
        }
        .offer-comming-soon {
          span:hover {
            @include text-shadow-ps;
          }
        }
      }
    }
    .mfp-preloader {
      display: none;
    }
    .countdown_password-content {
      padding-top: 40px;
      background: none;
      border: none;
      .countdown-row {
        @extend %flexbox;
        @extend %align-items-center;
        @extend %justify-content-center;
      }
      .countdown-section {      
        background-color: rgba(var(--main-color-rgba), 0.8);
        margin: 0 10px;
        width: calc(25% - 20px);
        @include flex(0 0 calc(25% - 20px));
        @include border-radius(4px, 4px, 4px, 4px);      
        @media (max-width: 479px) {        
          margin: 0 7px;
          width: calc(25% - 14px);
          @include flex(0 0 calc(25% - 14px));
        }
        &:hover {
          @include text-shadow-ps;
        }
        span {
          display: block;
        }
        .countdown-amount {
          font-size: 44px;
          font-weight: 500;
          padding: 10px;
          line-height: 100%;
          @media (max-width: 479px) {
            font-size: 28px;
          }
        }
        .countdown-period {
          font-size: 12px;
          padding: 10px 0;
          background: rgba(var(--main-color-rgba), 0.6);
          @include border-radius(0, 0, 4px, 4px);
        }
      }
    }
    .follow-us {
      padding-top: 40px;    
    }
  }
  .mfp-hide {
    display: none !important;
  }
  .mfp-bg {
    background: #ffffff none repeat scroll 0 0;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1042;
  }
  .mfp-wrap {
    height: 100%;
    left: 0;
    outline: medium none !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1043;
  }
  .mfp-container {
    background: var(--body-second-color);
    box-sizing: border-box;
    height: 100%;
    left: 0;
    padding: 0 8px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    &:before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }
  button.mfp-close,
  button.mfp-arrow {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    outline: medium none;
    overflow: visible;
    padding: 0;
    z-index: 1046;
  }
  button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
  }
  .mfp-close {
    color: #333333;
    font-family: Arial,Baskerville,monospace;
    font-size: 28px;
    font-style: normal;
    height: 44px;
    line-height: 44px;
    opacity: 0.65;
    padding: 0 0 18px 10px;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 44px;
    &:hover,
    &:focus {
      opacity: 1;
    }
    &:active {
      top: 1px;
    }
  }
  .mfp-close-btn-in .mfp-close {
    color: #333333;
  }
  .mfp-align-top .mfp-container:before {
    display: none;
  }
  .mfp-content {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: start;
    vertical-align: middle;
    z-index: 1045;
    color: #333;
  }
  .mfp-inline-holder,
  .mfp-ajax-holder {
    .mfp-content {
      cursor: auto;
      width: 100%;
    }
  }
  .mfp-ajax-cur {
    cursor: progress;
  }
  .mfp-image-holder,
  .mfp-iframe-holder {
    .mfp-close {
      color: #ffffff;
      @include padding-end(6px);
      right: -6px;
      text-align: end;
      width: 100%;
    }
  }
  button.mfp-close {
    color: #333333;
    font-size: 2.5em;
    margin: 0;
    opacity: 1;
  }
  .password-page__login-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    >p {
      text-align: center;
      padding-bottom: 30px;
    }
    .errors {
      text-align: center;
      ul {
        list-style-type: none;
        @include margin-start(0);
      }
    }
    .admin-login {
      text-align: center;
    }
    .input-group {
      position: relative;    
    }
    .input-group-field {
      border: 1px solid var(--body-border-color);
      height: 44px;
      line-height: 20px;
      padding: 10px 15px;
      @include flex(1);
      @media (max-width: 479px) {
        @include flex(0 0 100%);
      }
    }
    .input-group-btn {
      @media (max-width: 479px) {
        width: 100%;
        text-align: center;
      }
      input {      
        font-size: var(--body-font-size);
        padding: 7px 25px;
        height: 42px;      
        cursor: pointer;   
        @include margin-start(var(--padding-inset-md));   
        @extend %btn-1; 
        @extend %border-radius-30; 
        @media (max-width: 479px) {
          margin: 10px auto 0;
        }
      }
    }
  }