.cata-toolbar .sort-by #sort_by_box {
  opacity: 0; }

.cata-toolbar .sort-by.opened #sort_by_box {
  opacity: 1; }

.cata-product .mode-view-item, .group-toolbar .filter-icon {
  transition: all .35s ease 0s; }

.cata-product {
  flex-wrap: wrap; }

.group-toolbar {
  -ms-justify-content: space-between;
  justify-content: space-between; }

.cata-toolbar .grid-list, .cata-toolbar .sort-by .sort-by-inner, .group-toolbar, .group-toolbar .filter-icon {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.cata-product, .cata-product .mode-view-item, .cata-toolbar .grid-list, .cata-toolbar .sort-by .sort-by-inner, .group-toolbar, .group-toolbar .filter-icon {
  display: flex; }

.cata-toolbar .sort-by.has-border #cata_sort_by {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px; }

.templateCollection .top-collection {
  position: relative;
  background: var(--body-second-color);
  margin: 0 auto 15px; }

.templateCollection .cata-description {
  padding: 25px 0;
  font-size: var(--body-font-size);
  color: var(--body-light-color);
  line-height: 24px; }

@media (max-width: 479px) {
  .templateCollection .cata-description {
    display: none; } }

.templateCollection .top-banner img {
  width: 100%; }

.templateCollection .page-cata {
  padding-bottom: 50px; }

@media (max-width: 991px) {
  .templateCollection .page-cata .cata-toolbar {
    display: none; } }

.templateCollection .page-cata .col-12 {
  scrollbar-color: var(--main-color) var(--body-second-color);
  scrollbar-width: thin; }

.templateCollection .page-cata .col-12 .product-playlist::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--body-second-color); }

.templateCollection .page-cata .col-12 > div::-webkit-scrollbar {
  width: 6px;
  background-color: var(--body-second-color); }

.templateCollection .page-cata .col-12 > div::-webkit-scrollbar-thumb {
  background-color: var(--main-color); }

.templateCollection .page-cata .mobile-layout-bar .cata-toolbar {
  display: block; }

.templateCollection .page-cata .mobile-layout-bar .cata-toolbar .sort-by {
  -webkit-padding-start: var(--padding-inset-sm);
  padding-inline-start: var(--padding-inset-sm); }

@media (max-width: 479px) {
  .templateCollection .page-cata .mobile-layout-bar .cata-toolbar .sort-by {
    max-width: 50%; } }

@media (max-width: 991px) {
  .templateCollection .page-cata.order-form .cata-toolbar .filter-icon {
    color: var(--main-color); } }

.templateCollection .page-cata .products-grid-item .product-wrapper:not(.product-style-1) .product-head .product-button {
  display: none; }

.group-toolbar .filter-icon {
  cursor: pointer;
  font-size: var(--size-h4);
  color: var(--body-light-color); }

@media (max-width: 479px) {
  .group-toolbar .filter-icon {
    font-size: 14px; } }

.group-toolbar .filter-icon i {
  -webkit-margin-end: var(--padding-inset-xxs);
  margin-inline-end: var(--padding-inset-xxs);
  font-weight: 400;
  font-size: 16px; }

@media (min-width: 992px) {
  .group-toolbar .filter-icon i {
    color: rgba(var(--body-general-color-rbga), 0.5); } }

.group-toolbar .filter-icon i:before {
  position: static; }

@media (min-width: 1025px) {
  .group-toolbar .filter-icon:hover {
    color: var(--body-title-color); } }

.cata-toolbar {
  margin: 0 0 20px;
  width: 100%;
  position: relative; }

@media (max-width: 991px) {
  .cata-toolbar {
    margin: 0;
    padding: 10px; } }

.cata-toolbar .group-gl {
  float: right;
  margin: 0 0 10px; }

.cata-toolbar .grid-list .grid, .cata-toolbar .grid-list .list {
  text-align: center;
  cursor: pointer;
  color: rgba(var(--body-general-color-rbga), 0.5);
  -webkit-padding-end: var(--padding-inset-sm);
  padding-inline-end: var(--padding-inset-sm); }

@media (max-width: 991px) {
  .cata-toolbar .grid-list .grid, .cata-toolbar .grid-list .list {
    height: 26px; } }

@media (max-width: 374px) {
  .cata-toolbar .grid-list .grid, .cata-toolbar .grid-list .list {
    -webkit-padding-end: var(--padding-inset-xs);
    padding-inline-end: var(--padding-inset-xs); } }

.cata-toolbar .grid-list .grid i, .cata-toolbar .grid-list .list i {
  font-size: var(--font-small-icon);
  display: block; }

.cata-toolbar .grid-list .grid i:before, .cata-toolbar .grid-list .list i:before {
  width: auto; }

.cata-toolbar .grid-list .grid.active, .cata-toolbar .grid-list .list.active {
  background: none;
  opacity: 1; }

@media (min-width: 992px) {
  .cata-toolbar .grid-list .grid.active, .cata-toolbar .grid-list .list.active {
    color: var(--main-color); } }

.cata-toolbar .grid-list .grid:hover, .cata-toolbar .grid-list .list:hover {
  background: none; }

@media (min-width: 1025px) {
  .cata-toolbar .grid-list .grid:hover, .cata-toolbar .grid-list .list:hover {
    color: var(--main-color); } }

.cata-toolbar .group-toolbar > div ~ .grid-list .grid, .cata-toolbar .group-toolbar > div ~ .grid-list .list {
  -webkit-padding-start: var(--padding-inset-sm);
  padding-inline-start: var(--padding-inset-sm);
  -webkit-padding-end: 0;
  padding-inline-end: 0; }

@media (max-width: 374px) {
  .cata-toolbar .group-toolbar > div ~ .grid-list .grid, .cata-toolbar .group-toolbar > div ~ .grid-list .list {
    -webkit-padding-start: var(--padding-inset-xs);
    padding-inline-start: var(--padding-inset-xs);
    -webkit-padding-end: 0;
    padding-inline-end: 0; } }

.cata-toolbar .filter {
  -webkit-margin-end: 40px;
  margin-inline-end: 40px;
  padding-bottom: 20px;
  margin-bottom: -1px; }

.cata-toolbar .filter:hover > .dropdown-menu {
  display: block;
  z-index: 11; }

.cata-toolbar .filter > a {
  border: 1px solid var(--body-border-color);
  padding: 9px 20px;
  font-size: 14px;
  display: inline-block;
  width: 140px;
  text-align: center; }

.cata-toolbar .filter > a i {
  float: right;
  margin-top: 4px; }

.cata-toolbar .filter > a:hover {
  text-decoration: none;
  color: var(--body-link-color); }

.cata-toolbar .filter > .dropdown-menu {
  right: auto;
  left: 15px;
  width: 100%;
  padding: 25px 30px; }

.cata-toolbar .filter .clear-filter {
  display: none; }

.cata-toolbar .sort-by {
  color: var(--body-general-color);
  line-height: 28px; }

.cata-toolbar .sort-by > label {
  -webkit-margin-end: var(--padding-xxs);
  margin-inline-end: var(--padding-xxs);
  vertical-align: top;
  margin-bottom: 0;
  display: inline-block; }

.cata-toolbar .sort-by .sort-by-inner {
  position: relative;
  white-space: nowrap; }

@media (max-width: 991px) {
  .cata-toolbar .sort-by .sort-by-inner select {
    height: 40px;
    line-height: 38px;
    max-width: 100%; }
  .cata-toolbar .sort-by .sort-by-inner:before {
    content: "\e817";
    font-family: arenafont;
    position: absolute;
    display: block;
    right: 15px; } }

@media (max-width: 400px) {
  .cata-toolbar .sort-by .sort-by-inner .sort-by-title {
    display: none; } }

.cata-toolbar .sort-by .sort-by-inner label {
  margin: 0 10px 0 0;
  color: var(--body-general-color);
  line-height: 28px;
  font-size: var(--size-h4);
  letter-spacing: .72px; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by {
  float: right;
  position: static; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by:after {
  content: none; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button {
  float: left;
  border: none;
  padding: 0 5px 0 0;
  background: none;
  text-align: start;
  line-height: 28px;
  white-space: nowrap;
  font-size: var(--size-h4);
  cursor: pointer; }

@media (max-width: 350px) {
  .cata-toolbar .sort-by .sort-by-inner #cata_sort_by button {
    font-size: var(--body-font-size); } }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button a {
  color: rgba(var(--body-general-color-rbga), 0.5);
  letter-spacing: .72px; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button span {
  padding: 0 10px;
  float: left; }

@media (max-width: 350px) {
  .cata-toolbar .sort-by .sort-by-inner #cata_sort_by button span {
    padding: 0; } }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button span.visible-xs {
  padding-top: 0; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button i {
  float: right;
  text-align: end;
  padding: 0;
  content: none;
  color: var(--body-light-color);
  font-size: 14px; }

.cata-toolbar .sort-by.has-border #cata_sort_by {
  border: 1px solid var(--body-light-color);
  padding: 5px; }

.cata-toolbar .sort-by #sort_by_box {
  width: auto;
  min-width: 0;
  background: var(--light-color);
  padding: 10px 18px;
  visibility: hidden;
  z-index: -99;
  list-style: none;
  position: absolute;
  display: block;
  left: -1px;
  top: 100%;
  right: -1px;
  transform: translateY(10px);
  transition: all .35s ease;
  -ms-box-shadow: 0 0 18px rgba(var(--dark-color), 0.21);
  box-shadow: 0 0 18px rgba(var(--dark-color), 0.21); }

@media (max-width: 991px) {
  .cata-toolbar .sort-by #sort_by_box {
    transform: translateY(-100%); } }

.cata-toolbar .sort-by #sort_by_box li {
  padding: 0;
  text-align: start;
  margin-bottom: 0; }

.cata-toolbar .sort-by #sort_by_box li a {
  padding: 4px 0;
  line-height: 20px;
  display: block;
  transition: none;
  font-size: var(--body-font-size)-1px;
  color: var(--body-general-color); }

@media (min-width: 1025px) {
  .cata-toolbar .sort-by #sort_by_box li:hover a {
    color: var(--main-color); } }

.cata-toolbar .sort-by #sort_by_box li.active a {
  cursor: default;
  color: var(--main-color); }

@media (max-width: 479px) {
  .cata-toolbar .sort-by #sort_by_box {
    padding: 10px; }
  .cata-toolbar .sort-by #sort_by_box li a {
    font-size: 12px; } }

.cata-toolbar .sort-by.opened #sort_by_box {
  visibility: visible;
  z-index: 99;
  -ms-box-shadow: 0 0 18px rgba(var(--dark-color), 0.16);
  box-shadow: 0 0 18px rgba(var(--dark-color), 0.16); }

@media (max-width: 991px) {
  .cata-toolbar .sort-by.opened #sort_by_box {
    transform: translateY(-110%); } }

.cata-toolbar .top-pagination-holder {
  float: right;
  margin: 5px 0; }

.cata-toolbar .top-pagination-holder > span {
  float: left;
  line-height: 40px;
  padding: 0 7px 0 0; }

.cata-toolbar .top-pagination-holder .pagination {
  float: left; }

.cata-toolbar .visible-xs {
  cursor: pointer; }

.cata-product {
  margin: 0 -15px;
  padding: 0; }

@media (max-width: 575px) {
  .cata-product {
    -webkit-margin-start: -7.5px;
    margin-inline-start: -7.5px;
    -webkit-margin-end: -7.5px;
    margin-inline-end: -7.5px; } }

.cata-product .mode-view-item {
  padding: 0 15px;
  letter-spacing: 0; }

@media (max-width: 575px) {
  .cata-product .mode-view-item {
    padding: 0 7.5px; } }
