@keyframes moveFromLeft {
  0% {
    left: -9000px; }
  to {
    left: 0; } }

@keyframes moveFromRight {
  0% {
    right: -9000px; }
  to {
    right: 0; } }

@keyframes moveFromTop {
  0% {
    top: -5000px; }
  to {
    top: 0; } }

@keyframes moveFromBottom {
  0% {
    bottom: -5000px; }
  to {
    bottom: 0; } }

@-webkit-keyframes moveFromLeft {
  0% {
    left: -9000px; }
  to {
    left: 0; } }

@-webkit-keyframes moveFromRight {
  0% {
    right: -9000px; }
  to {
    right: 0; } }

@-webkit-keyframes moveFromTop {
  0% {
    top: -5000px; }
  to {
    top: 0; } }

@-webkit-keyframes moveFromBottom {
  0% {
    bottom: -5000px; }
  to {
    bottom: 0; } }

@keyframes slidenavAnimation {
  0% {
    margin-top: -30px;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

@-webkit-keyframes slidenavAnimation {
  0% {
    margin-top: -30px;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

@-webkit-keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@keyframes fa-spin {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

@-webkit-keyframes size-chart {
  0% {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(359deg); } }

@keyframes size-chart {
  0% {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(359deg); } }

@-webkit-keyframes hvr-icon-bob {
  0% {
    transform: translateY(-8px); }
  to {
    transform: translateY(0); } }

@keyframes hvr-icon-bob {
  0% {
    transform: translateY(-8px); }
  to {
    transform: translateY(0); } }

@-webkit-keyframes hvr-icon-bob-float {
  to {
    transform: translateY(-8px); } }

@keyframes hvr-icon-bob-float {
  to {
    transform: translateY(-8px); } }

@-webkit-keyframes hvr-pulse {
  25% {
    transform: scale(1.1); }
  75% {
    transform: scale(0.9); } }

@keyframes hvr-pulse {
  25% {
    transform: scale(1.1); }
  75% {
    transform: scale(0.9); } }

@-webkit-keyframes translateY-display {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes translateY-display {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes translateY-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: translateY(0); }
  99% {
    display: inline-flex;
    opacity: 0;
    transform: translateY(50%); }
  to {
    display: none;
    opacity: 0;
    transform: translateY(50%); } }

@keyframes translateY-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: translateY(0); }
  99% {
    display: inline-flex;
    opacity: 0;
    transform: translateY(50%); }
  to {
    display: none;
    opacity: 0;
    transform: translateY(50%); } }

@-webkit-keyframes move {
  0% {
    background-position: 0 0; }
  to {
    background-position: 40px 0; } }

@keyframes move {
  0% {
    background-position: 0 0; }
  to {
    background-position: 40px 0; } }

@-webkit-keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  to {
    transform: rotate(1turn); } }

@keyframes loader-rotate {
  0% {
    transform: rotate(0); }
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(1turn); } }

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(1turn); } }

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0); }
  to {
    transform: translate3d(100%, 0, 0); } }

@keyframes loader-animate {
  0% {
    transform: translate3d(-100%, 0, 0); }
  to {
    transform: translate3d(100%, 0, 0); } }

.cata-toolbar .sort-by #sort_by_box, .sidebar-column .sb-widget .sb-product-carousel, .sidebar .sb-widget .sb-product-carousel {
  opacity: 0; }

.cata-toolbar .sort-by.opened #sort_by_box, .sidebar-column .sb-widget .sb-product-carousel.owl-carousel, .sidebar .sb-widget .sb-product-carousel.owl-carousel {
  opacity: 1; }

.cata-product .mode-view-item, .group-toolbar .filter-icon, .sidebar-column .sb-widget .blog-menu .dropdown .expand, .sidebar-column .sb-widget .blog-menu .dropdown .expand:after, .sidebar-column .sb-widget .categories-menu .dropdown .expand, .sidebar-column .sb-widget .categories-menu .dropdown .expand:after, .sidebar .sb-widget .blog-menu .dropdown .expand, .sidebar .sb-widget .blog-menu .dropdown .expand:after, .sidebar .sb-widget .categories-menu .dropdown .expand, .sidebar .sb-widget .categories-menu .dropdown .expand:after {
  transition: all .35s ease 0s; }

.cata-product, .sidebar-column .instagram_list, .sidebar-column .sb-widget.sb-tag .list-inline, .sidebar .instagram_list, .sidebar .sb-widget.sb-tag .list-inline, .subcollection-inner {
  flex-wrap: wrap; }

.group-toolbar {
  -ms-justify-content: space-between;
  justify-content: space-between; }

.cata-toolbar .grid-list, .cata-toolbar .sort-by .sort-by-inner, .group-toolbar, .group-toolbar .filter-icon {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.cata-product, .cata-product .mode-view-item, .cata-toolbar .grid-list, .cata-toolbar .sort-by .sort-by-inner, .group-toolbar, .group-toolbar .filter-icon, .sidebar-column .instagram_list, .sidebar-column .sb-widget .post-item-inner, .sidebar-column .sb-widget.sb-tag .list-inline, .sidebar .instagram_list, .sidebar .sb-widget .post-item-inner, .sidebar .sb-widget.sb-tag .list-inline, .subcollection-inner {
  display: flex; }

.sidebar-column .instagram_list > a:before, .sidebar-column .sb-widget .sb-banner a:before, .sidebar .instagram_list > a:before, .sidebar .sb-widget .sb-banner a:before, .templateCollection .sb-banner > a:before, .templateListCollections .category-grid-view .category .category-image > a:before {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  transition: all .5s ease 0s;
  opacity: 0;
  background: rgba(var(--main-color-rgba), 0.5);
  visibility: hidden;
  width: 0;
  height: 100%;
  z-index: 1; }

.cata-toolbar .sort-by.has-border #cata_sort_by {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px; }

.sidebar-column .accordion .sb-filter .sbf-title:before {
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%; }

.sidebar-column .sb-widget .post-item-inner, .sidebar .sb-widget .post-item-inner {
  -ms-box-shadow: 0 0 0 var(--light-color);
  box-shadow: 0 0 0 var(--light-color); }

.sidebar-column .accordion .sb-filter.active .sbf-title:before, .sidebar-column .accordion .sb-filter .sbf-title:before, .sidebar-column .sb-widget .blog-menu .dropdown .expand:after, .sidebar-column .sb-widget .categories-menu .dropdown .expand:after, .sidebar .sb-widget .blog-menu .dropdown .expand:after, .sidebar .sb-widget .categories-menu .dropdown .expand:after {
  font-family: arenafont; }

.loading_img i:before {
  -webkit-animation: fa-spin 2s linear infinite;
  animation: fa-spin 2s linear infinite; }

.cata-product {
  margin: 0 -15px;
  padding: 0; }

@media (max-width: 575px) {
  .cata-product {
    -webkit-margin-start: -7.5px;
    margin-inline-start: -7.5px;
    -webkit-margin-end: -7.5px;
    margin-inline-end: -7.5px; } }

.cata-product .mode-view-item {
  padding: 0 15px;
  letter-spacing: 0; }

@media (max-width: 575px) {
  .cata-product .mode-view-item {
    padding: 0 7.5px; } }

.subcollection-wrapper {
  background: var(--body-second-color);
  padding: 25px;
  margin: 0 auto 15px; }

@media (max-width: 479px) {
  .subcollection-wrapper {
    padding: 5%; } }

.subcollection-wrapper .subcollection-header h4 {
  font-size: var(--size-h5);
  margin: 0 0 16px; }

.subcollection-wrapper .subcollection-header h5 {
  color: var(--main-color);
  font-size: calc(var(--body-font-size) - 1px);
  font-weight: 600;
  font-family: var(--font-standard); }

.subcollection-wrapper .subcollection-header span {
  display: block;
  text-align: end; }

.subcollection-inner {
  border-top: 1px solid var(--body-border-color);
  padding: 18px 0 0;
  margin-top: 8px;
  -webkit-margin-start: -7.5px;
  margin-inline-start: -7.5px;
  -webkit-margin-end: -7.5px;
  margin-inline-end: -7.5px; }

.subcollection-inner > .subcollection-item {
  padding: 0 7.5px; }

@media (min-width: 768px) {
  .subcollection-inner > .subcollection-item {
    -moz-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; } }

@media (max-width: 767px) {
  .subcollection-inner > .subcollection-item {
    -moz-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; } }

.subcollection-inner .subcollection-item a {
  display: block; }

.subcollection-inner .subcollection-item .subcollection-title {
  font-size: var(--body-font-size)-1px;
  color: var(--body-light-color);
  margin: 13px auto 0; }

@media (min-width: 1025px) {
  .subcollection-inner .subcollection-item .subcollection-title:hover {
    color: var(--main-color); } }

.subcollection-inner.owl-loaded {
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0; }

.templateCollection .top-collection {
  position: relative;
  background: var(--body-second-color);
  margin: 0 auto 15px; }

.templateCollection .cata-description {
  padding: 25px 0;
  font-size: var(--body-font-size);
  color: var(--body-light-color);
  line-height: 24px; }

@media (max-width: 479px) {
  .templateCollection .cata-description {
    display: none; } }

.templateCollection .top-banner img {
  width: 100%; }

.templateCollection .page-cata {
  padding-bottom: 50px; }

@media (max-width: 991px) {
  .templateCollection .page-cata .cata-toolbar {
    display: none; } }

.templateCollection .page-cata .col-12 {
  scrollbar-color: var(--main-color) var(--body-second-color);
  scrollbar-width: thin; }

.templateCollection .page-cata .col-12 .product-playlist::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--body-second-color); }

.templateCollection .page-cata .col-12 > div::-webkit-scrollbar {
  width: 6px;
  background-color: var(--body-second-color); }

.templateCollection .page-cata .col-12 > div::-webkit-scrollbar-thumb {
  background-color: var(--main-color); }

.templateCollection .page-cata .mobile-layout-bar .cata-toolbar {
  display: block; }

.templateCollection .page-cata .mobile-layout-bar .cata-toolbar .sort-by {
  -webkit-padding-start: var(--padding-inset-sm);
  padding-inline-start: var(--padding-inset-sm); }

@media (max-width: 479px) {
  .templateCollection .page-cata .mobile-layout-bar .cata-toolbar .sort-by {
    max-width: 50%; } }

@media (max-width: 991px) {
  .templateCollection .page-cata.order-form .cata-toolbar .filter-icon {
    color: var(--main-color); } }

.templateCollection .page-cata .products-grid-item .product-wrapper:not(.product-style-1) .product-head .product-button {
  display: none; }

.templateListCollections .category-grid-view {
  padding-bottom: 20px; }

.templateListCollections .category-grid-view .owl-item {
  display: inline-block; }

.templateListCollections .category-grid-view .collection-item {
  margin-bottom: 40px; }

.templateListCollections .category-grid-view .category {
  position: relative; }

.templateListCollections .category-grid-view .category .category-image {
  -ms-box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.2);
  box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.2); }

.templateListCollections .category-grid-view .category .category-image > a {
  display: block;
  position: relative; }

.templateListCollections .category-grid-view .category .category-name {
  color: var(--body-title-color);
  display: block;
  font-size: var(--size-h4);
  line-height: 1.2;
  margin: 16px 0 0; }

.templateListCollections .category-grid-view .category .category-name:hover {
  color: var(--main-color); }

@media (min-width: 1025px) {
  .templateListCollections .category-grid-view .category:hover .category-image > a:before {
    opacity: 1;
    left: 0;
    right: 0;
    width: 100%;
    visibility: visible; } }

.loading_img {
  text-align: center; }

.loading_img i {
  font-size: 45px;
  color: var(--main-color); }

.load_more {
  text-align: center; }

.sidebar-column {
  padding-top: 10px; }

.sidebar-column .price-sale, .sidebar .price-sale {
  font-size: var(--size-h6);
  color: var(--body-price-sale-color); }

.sidebar-column .filter-component, .sidebar .filter-component {
  display: block;
  overflow: hidden; }

.sidebar-column .sb-widget, .sidebar .sb-widget {
  width: 100%;
  position: relative;
  clear: both;
  margin-bottom: 50px; }

.sidebar-column .sb-widget.sb-tag .list-inline, .sidebar .sb-widget.sb-tag .list-inline {
  margin: 0 -10px; }

.sidebar-column .sb-widget.sb-tag .list-inline li, .sidebar .sb-widget.sb-tag .list-inline li {
  margin-bottom: 15px;
  padding: 0 10px; }

.sidebar-column .sb-widget.sb-tag .list-inline li a, .sidebar .sb-widget.sb-tag .list-inline li a {
  display: block;
  font-size: var(--body-font-size);
  color: var(--body-general-color); }

.sidebar-column .sb-widget.sb-tag .list-inline li:hover a, .sidebar .sb-widget.sb-tag .list-inline li:hover a {
  color: var(--main-color);
  text-decoration: underline; }

.sidebar-column .sb-widget .sb-banner a, .sidebar .sb-widget .sb-banner a {
  display: block;
  position: relative;
  overflow: hidden; }

@media (min-width: 1025px) {
  .sidebar-column .sb-widget .sb-banner a:hover:before, .sidebar .sb-widget .sb-banner a:hover:before {
    opacity: 1;
    left: 0;
    right: 0;
    width: 100%;
    visibility: visible; } }

.sidebar-column .sb-widget .blog-menu li a, .sidebar-column .sb-widget .categories-menu li a, .sidebar .sb-widget .blog-menu li a, .sidebar .sb-widget .categories-menu li a {
  font-size: calc(var(--body-font-size) + 1px);
  letter-spacing: .6px;
  display: inline-block;
  line-height: 24px;
  padding: 6px 0;
  color: var(--body-general-color); }

.sidebar-column .sb-widget .blog-menu li a:hover, .sidebar-column .sb-widget .categories-menu li a:hover, .sidebar .sb-widget .blog-menu li a:hover, .sidebar .sb-widget .categories-menu li a:hover {
  color: var(--main-color); }

.sidebar-column .sb-widget .blog-menu li .dropdown-menu, .sidebar-column .sb-widget .categories-menu li .dropdown-menu, .sidebar .sb-widget .blog-menu li .dropdown-menu, .sidebar .sb-widget .categories-menu li .dropdown-menu {
  padding: 0;
  width: 100%;
  position: static;
  box-shadow: unset;
  z-index: 0;
  float: none; }

.sidebar-column .sb-widget .blog-menu li .dropdown-menu li a, .sidebar-column .sb-widget .categories-menu li .dropdown-menu li a, .sidebar .sb-widget .blog-menu li .dropdown-menu li a, .sidebar .sb-widget .categories-menu li .dropdown-menu li a {
  color: var(--body-light-color);
  -webkit-padding-start: var(--padding-inset-xs);
  padding-inline-start: var(--padding-inset-xs); }

.sidebar-column .sb-widget .blog-menu li .dropdown-menu li a:hover, .sidebar-column .sb-widget .categories-menu li .dropdown-menu li a:hover, .sidebar .sb-widget .blog-menu li .dropdown-menu li a:hover, .sidebar .sb-widget .categories-menu li .dropdown-menu li a:hover {
  color: var(--body-general-color); }

.sidebar-column .sb-widget .blog-menu li .dropdown-menu li a:hover:before, .sidebar-column .sb-widget .categories-menu li .dropdown-menu li a:hover:before, .sidebar .sb-widget .blog-menu li .dropdown-menu li a:hover:before, .sidebar .sb-widget .categories-menu li .dropdown-menu li a:hover:before {
  color: inherit; }

.sidebar-column .sb-widget .blog-menu li .dropdown-menu li.dropdown .expand, .sidebar-column .sb-widget .categories-menu li .dropdown-menu li.dropdown .expand, .sidebar .sb-widget .blog-menu li .dropdown-menu li.dropdown .expand, .sidebar .sb-widget .categories-menu li .dropdown-menu li.dropdown .expand {
  color: var(--body-light-color); }

.sidebar-column .sb-widget .blog-menu li .dropdown-menu li .dropdown-menu li, .sidebar-column .sb-widget .categories-menu li .dropdown-menu li .dropdown-menu li, .sidebar .sb-widget .blog-menu li .dropdown-menu li .dropdown-menu li, .sidebar .sb-widget .categories-menu li .dropdown-menu li .dropdown-menu li {
  -webkit-padding-start: var(--padding-inset-xs);
  padding-inline-start: var(--padding-inset-xs); }

.sidebar-column .sb-widget .blog-menu .dropdown > a, .sidebar-column .sb-widget .categories-menu .dropdown > a, .sidebar .sb-widget .blog-menu .dropdown > a, .sidebar .sb-widget .categories-menu .dropdown > a {
  -webkit-padding-end: var(--padding-inset-md);
  padding-inline-end: var(--padding-inset-md);
  color: var(--body-general-color); }

.sidebar-column .sb-widget .blog-menu .dropdown .expand, .sidebar-column .sb-widget .categories-menu .dropdown .expand, .sidebar .sb-widget .blog-menu .dropdown .expand, .sidebar .sb-widget .categories-menu .dropdown .expand {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  text-align: end;
  cursor: pointer; }

.sidebar-column .sb-widget .blog-menu .dropdown .expand:after, .sidebar-column .sb-widget .categories-menu .dropdown .expand:after, .sidebar .sb-widget .blog-menu .dropdown .expand:after, .sidebar .sb-widget .categories-menu .dropdown .expand:after {
  content: "\e80a";
  line-height: 36px;
  font-size: calc(var(--body-font-size) + 2px);
  display: block; }

.sidebar-column .sb-widget .blog-menu .dropdown.active > a, .sidebar-column .sb-widget .categories-menu .dropdown.active > a, .sidebar .sb-widget .blog-menu .dropdown.active > a, .sidebar .sb-widget .categories-menu .dropdown.active > a {
  color: var(--main-color); }

.sidebar-column .sb-widget .blog-menu .dropdown.active > .expand:after, .sidebar-column .sb-widget .categories-menu .dropdown.active > .expand:after, .sidebar .sb-widget .blog-menu .dropdown.active > .expand:after, .sidebar .sb-widget .categories-menu .dropdown.active > .expand:after {
  transform: rotate(180deg);
  color: var(--main-color); }

.sidebar-column .sb-widget .blog-menu .dropdown.active > .dropdown-menu, .sidebar-column .sb-widget .categories-menu .dropdown.active > .dropdown-menu, .sidebar .sb-widget .blog-menu .dropdown.active > .dropdown-menu, .sidebar .sb-widget .categories-menu .dropdown.active > .dropdown-menu {
  display: block; }

.sidebar-column .sb-widget > a, .sidebar .sb-widget > a {
  display: block;
  position: relative; }

.sidebar-column .sb-widget .sb-product-carousel, .sidebar .sb-widget .sb-product-carousel {
  -webkit-margin-start: -var(--padding-inset-xxs);
  margin-inline-start: -var(--padding-inset-xxs);
  -webkit-margin-end: -var(--padding-inset-xxs);
  margin-inline-end: -var(--padding-inset-xxs);
  height: 0; }

.sidebar-column .sb-widget .sb-product-carousel .listing-item, .sidebar .sb-widget .sb-product-carousel .listing-item {
  padding: 5px; }

.sidebar-column .sb-widget .sb-product-carousel.owl-carousel, .sidebar .sb-widget .sb-product-carousel.owl-carousel {
  height: auto; }

.sidebar-column .sb-widget .listing-item .row, .sidebar .sb-widget .listing-item .row {
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0; }

.sidebar-column .sb-widget .listing-item:not(:last-child), .sidebar .sb-widget .listing-item:not(:last-child) {
  margin-bottom: 30px; }

.sidebar-column .sb-widget .sb-product-head, .sidebar .sb-widget .sb-product-head {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
  max-width: 90px;
  -ms-box-shadow: 0 3px 7px rgba(var(--dark-color-rgba), 0.06);
  box-shadow: 0 3px 7px rgba(var(--dark-color-rgba), 0.06); }

.sidebar-column .sb-widget .sb-product-head > a, .sidebar .sb-widget .sb-product-head > a {
  display: block; }

.sidebar-column .sb-widget .sb-product-head > a img, .sidebar .sb-widget .sb-product-head > a img {
  width: 100%; }

.sidebar-column .sb-widget .sb-product-content, .sidebar .sb-widget .sb-product-content {
  -webkit-padding-end: 0;
  padding-inline-end: 0;
  -webkit-padding-start: var(--padding-inset-sm);
  padding-inline-start: var(--padding-inset-sm); }

.sidebar-column .sb-widget .sb-product-content .bp-content-inner > a, .sidebar .sb-widget .sb-product-content .bp-content-inner > a {
  font-size: calc(var(--body-font-size) + 2px);
  margin: 0 0 8px;
  display: block;
  line-height: 20px;
  letter-spacing: .64px;
  color: var(--body-general-color); }

.sidebar-column .sb-widget .sb-product-content .bp-content-inner > a:hover, .sidebar .sb-widget .sb-product-content .bp-content-inner > a:hover {
  color: var(--main-color); }

.sidebar-column .sb-widget .sb-product-content .price, .sidebar-column .sb-widget .sb-product-content .product-price, .sidebar .sb-widget .sb-product-content .price, .sidebar .sb-widget .sb-product-content .product-price {
  font-size: calc(var(--body-font-size) + 1px); }

.sidebar-column .sb-widget .sb-product-content .price-sale, .sidebar .sb-widget .sb-product-content .price-sale {
  -webkit-padding-end: var(--padding-inset-xxs);
  padding-inline-end: var(--padding-inset-xxs); }

.sidebar-column .sb-widget .sb-product-content .price-compare, .sidebar .sb-widget .sb-product-content .price-compare {
  font-size: calc(var(--body-font-size) - 1px);
  -webkit-padding-start: 0;
  padding-inline-start: 0; }

.sidebar-column .sb-widget .sb-product-content .price-sale, .sidebar .sb-widget .sb-product-content .price-sale {
  font-size: inherit; }

.sidebar-column .sb-widget .sb-product-content .product-review, .sidebar .sb-widget .sb-product-content .product-review {
  margin: 8px 0 0; }

.sidebar-column .sb-widget .sb-product-content .product-review .spr-badge-caption, .sidebar .sb-widget .sb-product-content .product-review .spr-badge-caption {
  display: none; }

.sidebar-column .sb-widget h5, .sidebar .sb-widget h5 {
  line-height: 28px;
  margin: 0 0 30px;
  font-size: var(--size-h4); }

.sidebar-column .sb-widget .sb-title, .sidebar .sb-widget .sb-title {
  line-height: 28px;
  margin: 0 0 22px;
  letter-spacing: .8px; }

.sidebar-column .sb-widget .sb-title span, .sidebar .sb-widget .sb-title span {
  font-size: 14px; }

.sidebar-column .sb-widget .sb-title .clear-filter, .sidebar .sb-widget .sb-title .clear-filter {
  margin-top: 4px; }

.sidebar-column .sb-widget .post-item:not(:last-child), .sidebar .sb-widget .post-item:not(:last-child) {
  margin: 0 0 20px; }

.sidebar-column .sb-widget .post-item-inner, .sidebar .sb-widget .post-item-inner {
  width: 100%;
  margin: 0;
  background: none;
  position: relative; }

.sidebar-column .sb-widget .post-item-inner .post-image, .sidebar .sb-widget .post-item-inner .post-image {
  flex: 0 0 80px;
  max-width: 80px; }

.sidebar-column .sb-widget .post-item-inner .post-image img, .sidebar .sb-widget .post-item-inner .post-image img {
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover"; }

.sidebar-column .sb-widget .post-item-inner .post-content, .sidebar .sb-widget .post-item-inner .post-content {
  -moz-flex: 1;
  flex: 1;
  padding: 0 0 0 15px; }

.sidebar-column .sb-widget .post-item-inner .post-content h6, .sidebar .sb-widget .post-item-inner .post-content h6 {
  font-size: calc(var(--body-font-size) - 1px);
  font-family: var(--font-standard);
  font-weight: 400;
  line-height: 18px; }

.sidebar-column .sb-widget .post-item-inner .post-content p, .sidebar .sb-widget .post-item-inner .post-content p {
  color: var(--body-light-color);
  margin: 5px 0 0;
  font-size: calc(var(--body-font-size) - 2px); }

.sidebar-column .sb-widget ul, .sidebar .sb-widget ul {
  list-style: none;
  padding: 0; }

.sidebar-column .sb-widget ul li, .sidebar-column .sb-widget ul ol, .sidebar-column .sb-widget ul ul, .sidebar .sb-widget ul li, .sidebar .sb-widget ul ol, .sidebar .sb-widget ul ul {
  padding: 0;
  margin: 0; }

.sidebar-column .sb-widget ul li a, .sidebar .sb-widget ul li a {
  color: var(--body-general-color); }

.sidebar-column .sb-widget ul li a:hover, .sidebar .sb-widget ul li a:hover {
  text-decoration: none;
  color: var(--body-light-color); }

.sidebar-column .sb-widget .sb-menu .sb-title, .sidebar .sb-widget .sb-menu .sb-title {
  margin-bottom: 10px; }

.sidebar-column .instagram_list, .sidebar .instagram_list {
  margin: 0 -4px; }

.sidebar-column .instagram_list > a, .sidebar .instagram_list > a {
  -moz-flex: 0 0 calc(33.33333% - 8px);
  flex: 0 0 calc(33.33333% - 8px);
  max-width: calc(33.33333% - 8px);
  margin: 4px;
  position: relative;
  overflow: hidden; }

@media (min-width: 1025px) {
  .sidebar-column .instagram_list > a:hover:before, .sidebar .instagram_list > a:hover:before {
    opacity: 1;
    left: 0;
    right: 0;
    width: 100%;
    visibility: visible; } }

@media (max-width: 767px) {
  .sidebar + .col-md-9, .sidebar-column + .col-md-9 {
    padding-top: 40px; } }

.sidebar-column .accordion .sb-filter {
  margin: 0; }

.sidebar-column .accordion .sb-filter .sbf-title {
  position: relative; }

.sidebar-column .accordion .sb-filter .sbf-title:before {
  content: "\e828";
  color: var(--main-color);
  position: absolute;
  display: block;
  top: 2px;
  right: 0;
  line-height: 20px;
  height: 20px;
  cursor: pointer;
  width: 20px;
  text-align: center;
  border: 1px solid;
  transition: all .2s ease; }

@media (max-width: 991px) {
  .sidebar-column .accordion .sb-filter .sbf-title:before {
    display: none; } }

.sidebar-column .accordion .sb-filter.active .advanced-filters {
  display: block !important; }

.sidebar-column .accordion .sb-filter.active .advanced-filters.afs-color {
  overflow: hidden; }

.sidebar-column .accordion .sb-filter.active .advanced-filters.afs-color li {
  float: left; }

.sidebar-column .accordion .sb-filter.active .sbf-title:before {
  content: "\e827"; }

.sidebar-column .accordion .advanced-filters, .sidebar-column .accordion .del-before:before {
  display: none !important; }

.sidebar-column .sb-filter-tag li {
  font-size: calc(var(--body-font-size) - 1px);
  line-height: 26px; }

@media (max-width: 991px) {
  .templateCollection .drawer .accordion .advanced-filters {
    display: block; } }

.group-toolbar .filter-icon {
  cursor: pointer;
  font-size: var(--size-h4);
  color: var(--body-light-color); }

@media (max-width: 991px) {
  .group-toolbar .filter-icon {
    color: var(--header-mobile-bg-contrast); } }

@media (max-width: 479px) {
  .group-toolbar .filter-icon {
    font-size: 14px; } }

.group-toolbar .filter-icon i {
  -webkit-margin-end: var(--padding-inset-xxs);
  margin-inline-end: var(--padding-inset-xxs);
  font-weight: 400;
  font-size: 16px; }

.group-toolbar .filter-icon i:before {
  position: static; }

@media (min-width: 1025px) {
  .group-toolbar .filter-icon:hover {
    color: var(--body-title-color); } }

.cata-toolbar {
  margin: 0 0 20px;
  width: 100%;
  position: relative; }

@media (max-width: 991px) {
  .cata-toolbar {
    margin: 0;
    padding: 10px; } }

.cata-toolbar .group-gl {
  float: right;
  margin: 0 0 10px; }

.cata-toolbar .grid-list .grid, .cata-toolbar .grid-list .list {
  text-align: center;
  cursor: pointer;
  -webkit-padding-end: var(--padding-inset-sm);
  padding-inline-end: var(--padding-inset-sm); }

@media (max-width: 991px) {
  .cata-toolbar .grid-list .grid, .cata-toolbar .grid-list .list {
    height: 26px;
    color: rgba(var(--header-mobile-bg-contrast-rgba), 0.5); } }

@media (max-width: 374px) {
  .cata-toolbar .grid-list .grid, .cata-toolbar .grid-list .list {
    -webkit-padding-end: var(--padding-inset-xs);
    padding-inline-end: var(--padding-inset-xs); } }

.cata-toolbar .grid-list .grid i, .cata-toolbar .grid-list .list i {
  font-size: var(--font-small-icon);
  display: block; }

.cata-toolbar .grid-list .grid i:before, .cata-toolbar .grid-list .list i:before {
  width: auto; }

.cata-toolbar .grid-list .grid.active, .cata-toolbar .grid-list .list.active {
  background: none;
  opacity: 1; }

@media (min-width: 992px) {
  .cata-toolbar .grid-list .grid.active, .cata-toolbar .grid-list .list.active {
    color: var(--main-color); } }

.cata-toolbar .grid-list .grid:hover, .cata-toolbar .grid-list .list:hover {
  background: none; }

@media (min-width: 1025px) {
  .cata-toolbar .grid-list .grid:hover, .cata-toolbar .grid-list .list:hover {
    color: var(--main-color); } }

.cata-toolbar .group-toolbar > div ~ .grid-list .grid, .cata-toolbar .group-toolbar > div ~ .grid-list .list {
  -webkit-padding-start: var(--padding-inset-sm);
  padding-inline-start: var(--padding-inset-sm);
  -webkit-padding-end: 0;
  padding-inline-end: 0; }

@media (max-width: 374px) {
  .cata-toolbar .group-toolbar > div ~ .grid-list .grid, .cata-toolbar .group-toolbar > div ~ .grid-list .list {
    -webkit-padding-start: var(--padding-inset-xs);
    padding-inline-start: var(--padding-inset-xs);
    -webkit-padding-end: 0;
    padding-inline-end: 0; } }

.cata-toolbar .filter {
  -webkit-margin-end: 40px;
  margin-inline-end: 40px;
  padding-bottom: 20px;
  margin-bottom: -1px; }

.cata-toolbar .filter:hover > .dropdown-menu {
  display: block;
  z-index: 11; }

.cata-toolbar .filter > a {
  border: 1px solid var(--body-border-color);
  padding: 9px 20px;
  font-size: 14px;
  display: inline-block;
  width: 140px;
  text-align: center; }

.cata-toolbar .filter > a i {
  float: right;
  margin-top: 4px; }

.cata-toolbar .filter > a:hover {
  text-decoration: none;
  color: var(--body-link-color); }

.cata-toolbar .filter > .dropdown-menu {
  right: auto;
  left: 15px;
  width: 100%;
  padding: 25px 30px; }

.cata-toolbar .filter .clear-filter {
  display: none; }

.cata-toolbar .sort-by {
  color: var(--body-general-color);
  line-height: 28px; }

.cata-toolbar .sort-by > label {
  -webkit-margin-end: var(--padding-xxs);
  margin-inline-end: var(--padding-xxs);
  vertical-align: top;
  margin-bottom: 0;
  display: inline-block; }

.cata-toolbar .sort-by .sort-by-inner {
  position: relative;
  white-space: nowrap; }

@media (max-width: 991px) {
  .cata-toolbar .sort-by .sort-by-inner select {
    height: 40px;
    line-height: 38px;
    max-width: 100%;
    color: var(--header-mobile-bg-contrast); }
  .cata-toolbar .sort-by .sort-by-inner:before {
    content: "\e817";
    font-family: arenafont;
    position: absolute;
    display: block;
    right: 15px;
    color: var(--header-mobile-bg-contrast); } }

@media (max-width: 400px) {
  .cata-toolbar .sort-by .sort-by-inner .sort-by-title {
    display: none; } }

.cata-toolbar .sort-by .sort-by-inner label {
  margin: 0 10px 0 0;
  color: var(--body-general-color);
  line-height: 28px;
  font-size: var(--size-h4);
  letter-spacing: .72px; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by {
  float: right;
  position: static; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by:after {
  content: none; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button {
  float: left;
  border: none;
  padding: 0 5px 0 0;
  background: none;
  text-align: start;
  line-height: 28px;
  white-space: nowrap;
  font-size: var(--size-h4);
  cursor: pointer; }

@media (max-width: 350px) {
  .cata-toolbar .sort-by .sort-by-inner #cata_sort_by button {
    font-size: var(--body-font-size); } }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button a {
  letter-spacing: .72px; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button span {
  padding: 0 10px;
  float: left; }

@media (max-width: 350px) {
  .cata-toolbar .sort-by .sort-by-inner #cata_sort_by button span {
    padding: 0; } }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button span.visible-xs {
  padding-top: 0; }

.cata-toolbar .sort-by .sort-by-inner #cata_sort_by button i {
  float: right;
  text-align: end;
  padding: 0;
  content: none;
  color: var(--body-light-color);
  font-size: 14px; }

.cata-toolbar .sort-by.has-border #cata_sort_by {
  border: 1px solid var(--body-light-color);
  padding: 5px; }

.cata-toolbar .sort-by #sort_by_box {
  width: auto;
  min-width: 0;
  background: var(--light-color);
  padding: 10px 18px;
  visibility: hidden;
  z-index: -99;
  list-style: none;
  position: absolute;
  display: block;
  left: -1px;
  top: 100%;
  right: -1px;
  transform: translateY(10px);
  transition: all .35s ease;
  -ms-box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.21);
  box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.21); }

@media (max-width: 991px) {
  .cata-toolbar .sort-by #sort_by_box {
    transform: translateY(-100%); } }

.cata-toolbar .sort-by #sort_by_box li {
  padding: 0;
  text-align: start;
  margin-bottom: 0; }

.cata-toolbar .sort-by #sort_by_box li a {
  padding: 4px 0;
  line-height: 20px;
  display: block;
  transition: none;
  font-size: var(--body-font-size)-1px;
  color: var(--body-general-color); }

@media (min-width: 1025px) {
  .cata-toolbar .sort-by #sort_by_box li:hover a {
    color: var(--main-color); } }

.cata-toolbar .sort-by #sort_by_box li.active a {
  cursor: default;
  color: var(--main-color); }

@media (max-width: 479px) {
  .cata-toolbar .sort-by #sort_by_box {
    padding: 10px; }
  .cata-toolbar .sort-by #sort_by_box li a {
    font-size: 12px; } }

.cata-toolbar .sort-by.opened #sort_by_box {
  visibility: visible;
  z-index: 99;
  -ms-box-shadow: 0 0 18px rgba(var(--dark-color), 0.16);
  box-shadow: 0 0 18px rgba(var(--dark-color), 0.16); }

@media (max-width: 991px) {
  .cata-toolbar .sort-by.opened #sort_by_box {
    transform: translateY(-110%); } }

.cata-toolbar .top-pagination-holder {
  float: right;
  margin: 5px 0; }

.cata-toolbar .top-pagination-holder > span {
  float: left;
  line-height: 40px;
  padding: 0 7px 0 0; }

.cata-toolbar .top-pagination-holder .pagination {
  float: left; }

.cata-toolbar .visible-xs {
  cursor: pointer; }

.templateCollection .sb-banner > a {
  display: block;
  position: relative; }

.templateCollection .sb-banner > a img {
  width: 100%; }

@media (min-width: 1025px) {
  .templateCollection .sb-banner > a:hover:before {
    opacity: 1;
    left: 0;
    right: 0;
    width: 100%;
    visibility: visible; } }
