#searchModal .modal-dialog .modal-content.s-loading .navbar-form .search-icon {
  opacity: 0; }

#searchModal .modal-dialog button.close {
  opacity: 1;
  transition: all .35s ease 0s; }

#searchModal, #searchModal .modal-dialog {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  display: flex; }

#searchModal .modal-dialog .modal-content {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0; }

#searchModal .modal-dialog button.close {
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%; }

#searchModal #result-ajax-search {
  -ms-box-shadow: 0 0 0 var(--light-color);
  box-shadow: 0 0 0 var(--light-color); }

#searchModal .modal-dialog button.close {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
  color: var(--body-general-color);
  background: var(--body-background-color);
  position: absolute;
  display: block;
  top: -15px;
  right: -15px;
  -ms-box-shadow: 0 0 10px rgba(var(--dark-color), 0.5);
  box-shadow: 0 0 10px rgba(var(--dark-color), 0.5); }

#searchModal .modal-dialog button.close i, #searchModal .modal-dialog button.close svg {
  display: none; }

#searchModal .modal-dialog button.close:before {
  content: "\e831";
  font-family: arenafont;
  font-size: 14px;
  color: inherit;
  display: block; }

#searchModal .modal-dialog button.close:hover {
  background: var(--main-color);
  color: var(--light-color); }

#searchModal .modal-dialog .modal-content.s-loading .navbar-form:before {
  -webkit-animation: fa-spin 2s linear infinite;
  animation: fa-spin 2s linear infinite; }

#searchModal {
  background: rgba(var(--dark-color-rbga), 0.76) none repeat scroll 0 0;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  padding: 5% 0;
  z-index: 9999; }

#searchModal #searchModal[aria-hidden=false] {
  z-index: 99999; }

#searchModal .modal-dialog {
  width: 90%;
  max-width: 580px;
  min-width: 290px;
  height: 100%;
  padding: 0;
  margin: 0 auto;
  position: relative;
  z-index: 3; }

#searchModal .modal-dialog .modal-content {
  background: var(--body-second-color);
  padding: 5%;
  border: none; }

#searchModal .modal-dialog .modal-content.s-loading .navbar-form:before {
  z-index: 5;
  font-size: var(--font-small-icon);
  vertical-align: middle;
  font-family: arenafont;
  content: "\e89c";
  color: var(--body-title-color);
  width: 40px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  display: block;
  top: 0;
  right: 0; }

#searchModal .modal-dialog h3 {
  margin: 0;
  padding: 0 0 15px;
  font-size: var(--size-h4); }

#searchModal .modal-dialog .navbar-form {
  padding: 0;
  margin: 0;
  position: relative; }

#searchModal .modal-dialog .navbar-form .form-control {
  width: 100%;
  font-weight: 300;
  -webkit-padding-end: 45px;
  padding-inline-end: 45px; }

#searchModal .modal-dialog .navbar-form .search-icon {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  z-index: 8;
  position: absolute;
  display: block;
  top: 0;
  right: 0; }

#searchModal .modal-dialog .navbar-form .search-icon i {
  font-size: var(--font-icon);
  color: var(--body-general-color); }

#searchModal .modal-dialog .navbar-form .search-icon:hover i {
  color: var(--main-color); }

#searchModal #result-ajax-search {
  text-align: start;
  width: 100%;
  padding: 0;
  margin: 15px 0 0;
  display: none;
  border-bottom: 1px solid var(--body-border-color);
  overflow: hidden; }

#searchModal #result-ajax-search ul {
  margin: 0;
  padding: 0 15px;
  max-height: 450px;
  overflow: auto;
  background: var(--light-color);
  width: 100%; }

#searchModal #result-ajax-search ul li {
  display: block;
  overflow: hidden;
  padding: 10px 0; }

#searchModal #result-ajax-search ul li:not(:last-child) {
  border-bottom: 1px solid var(--body-border-color); }

#searchModal #result-ajax-search ul li .search-item-img {
  float: left;
  margin: 0 15px 0 0; }

#searchModal #result-ajax-search ul li .search-item-title {
  display: block;
  line-height: 1.4;
  margin: 0 0 5px 115px;
  font-size: var(--product-font-size); }

#searchModal #result-ajax-search ul li .search-item-title .marked, #searchModal #result-ajax-search ul li .search-item-title:hover {
  color: var(--main-color); }

#searchModal #result-ajax-search ul li .price-compare {
  margin: 0 0 0 10px;
  text-decoration: line-through;
  color: var(--body-price-color);
  font-size: var(--product-price-size); }

#searchModal #result-ajax-search ul li p {
  margin: 0; }

#searchModal #result-ajax-search ul li:hover {
  background: none; }
