@media (min-width: 480px) {
  .page-address #new-address {
    -webkit-margin-end: var(--padding-inset-md);
    margin-inline-end: var(--padding-inset-md); } }

@media (max-width: 479px) {
  .page-address #new-address {
    margin-bottom: 30px;
    display: block; } }

.page-address .new-address a {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 600;
  font-size: calc(var(--body-font-size) - 1px); }

@media (max-width: 389px) {
  .page-address .customer_address_table + .control-wrapper .btn {
    margin-bottom: 20px;
    min-width: 225px;
    -webkit-padding-start: var(--padding-inset-md);
    padding-inline-start: var(--padding-inset-md);
    -webkit-padding-end: var(--padding-inset-md);
    padding-inline-end: var(--padding-inset-md); } }

.page-address #add_address .control-wrapper h4 {
  padding: 30px 0; }

.page-address #add_address .control-wrapper #address_country_new {
  height: 40px;
  line-height: inherit; }

.page-address #add_address .control-wrapper.set_default {
  position: relative;
  padding-bottom: 20px; }

.page-address #add_address .control-wrapper.set_default input {
  float: left;
  width: auto;
  margin: 4px 5px 0 0; }

.page-address .address-table {
  padding: 20px 0; }

.page-address .address-table .address_actions .btn-default {
  -webkit-margin-end: var(--padding-inset-md);
  margin-inline-end: var(--padding-inset-md); }
