.home-customer-review .bx-pager {
  -ms-justify-content: center;
  justify-content: center;
  display: flex; }

.home-customer-review .bx-pager > a .author-img, .home-customer-review .bx-pager > a .author-img img, .page-about-us .type-team .type-team-member .image img {
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%; }

.page-about-us > div {
  padding-bottom: 60px; }

.page-about-us .type-image {
  padding: 0 0 60px; }

.page-about-us .type-group-text .title-wrapper {
  padding-bottom: 95px; }

@media (max-width: 991px) {
  .page-about-us .type-group-text .title-wrapper {
    padding-bottom: 40px; } }

.page-about-us .type-group-text .type-textbox .ig_text {
  line-height: 1.6;
  text-align: justify;
  font-size: calc(var(--body-font-size) + 1px);
  font-weight: 300; }

.page-about-us .type-team {
  padding-top: 60px; }

@media (max-width: 991px) {
  .page-about-us .type-team {
    padding-bottom: 30px; } }

.page-about-us .type-team .title-wrapper {
  padding-bottom: 60px; }

@media (max-width: 991px) {
  .page-about-us .type-team .title-wrapper {
    padding-bottom: 30px; } }

@media (max-width: 991px) {
  .page-about-us .type-team .type-team-member {
    padding-bottom: 15px; } }

.page-about-us .type-team .type-team-member .image {
  max-width: 130px;
  margin: 0 auto var(--padding-inset-lg); }

.page-about-us .type-team .type-team-member .member-info {
  text-align: center; }

.page-about-us .type-team .type-team-member .member-info .member-name p {
  font-size: calc(var(--size-h4) + 2px);
  margin-bottom: var(--padding-inset-xs);
  font-weight: 400; }

.page-about-us .type-team .type-team-member .member-info .member-major {
  font-size: calc(var(--body-font-size) + 1px);
  margin-bottom: var(--padding-inset-xxs);
  font-weight: 300; }

.page-about-us .type-team .type-team-member .member-info .member-des {
  margin-bottom: var(--padding-inset-xxs);
  font-weight: 300; }

.page-about-us .type-team .type-team-member .member-social {
  text-align: center; }

.page-about-us .type-team .type-team-member .member-social a {
  font-size: var(--size-h3); }

.page-about-us .home-customer-review {
  padding-top: 60px; }

@media (max-width: 991px) {
  .page-about-us .home-customer-review {
    padding-bottom: 30px; } }

@media (max-width: 767px) {
  .page-about-us .home-customer-review .bx-pager {
    display: block; } }

.page-about-us .home-customer-review .bx-pager > a {
  margin: 0 auto 30px; }

@media (max-width: 767px) {
  .page-about-us .home-customer-review .bx-pager > a {
    display: block; } }

.page-about-us .home-customer-review .slider .bxslider > li {
  font-size: var(--size-h4); }

.page-about-us .type-policies .type-policy-member {
  border: 1px solid var(--body-border-color);
  padding: 40px 7%; }

.page-about-us .type-policies .type-policy-member .policy-icon-image {
  width: 32px;
  margin: 0 auto 10px; }

.page-about-us .type-policies .type-policy-member .text {
  text-align: center; }

.page-about-us .type-policies .type-policy-member .text p {
  margin: 0;
  font-weight: 700; }

@media (max-width: 767px) {
  .page-about-us .type-policies .wapper-group > div {
    padding-bottom: 15px; } }

.home-customer-review .slider {
  max-width: 830px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.home-customer-review .slider > ul > li:not(:first-child) {
  display: none; }

.home-customer-review .slider .bx-wrapper {
  margin: 0 auto 60px; }

@media (max-width: 767px) {
  .home-customer-review .slider .bx-wrapper {
    margin-bottom: 25px; } }

.home-customer-review .slider .bxslider {
  list-style: none; }

.home-customer-review .slider .bxslider > li {
  color: var(--body-general-color);
  font-size: calc(var(--size-h4) - 2px);
  font-weight: 300;
  text-align: center;
  font-style: italic;
  width: 100% !important;
  line-height: 1.5; }

.home-customer-review .bx-controls-direction {
  display: none; }

.home-customer-review .bx-controls-direction > a {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  line-height: 35px;
  color: var(--main-color);
  font-size: 0;
  text-align: center; }

.home-customer-review .bx-controls-direction > a:before {
  font-family: arenafont;
  font-size: var(--font-small-icon); }

.home-customer-review .bx-controls-direction > a.bx-prev {
  left: 0; }

.home-customer-review .bx-controls-direction > a.bx-prev:before {
  content: "\e82f"; }

.home-customer-review .bx-controls-direction > a.bx-next {
  right: 0; }

.home-customer-review .bx-controls-direction > a.bx-next:before {
  content: "\e82c"; }

.home-customer-review .bx-pager > a {
  text-align: center;
  margin: 0 30px;
  opacity: .4;
  -moz-flex: 0 0 170px;
  flex: 0 0 170px;
  max-width: 170px; }

.home-customer-review .bx-pager > a .author-img {
  display: block;
  height: 100px;
  width: 100px;
  padding: 5px;
  margin: 0 auto 20px;
  background: var(--light-color);
  -ms-box-shadow: 0 0 21px rgba(var(--dark-color), 0.1);
  box-shadow: 0 0 21px rgba(var(--dark-color), 0.1); }

.home-customer-review .bx-pager > a .author-img img {
  display: inline; }

.home-customer-review .bx-pager > a .name {
  font-size: calc(var(--body-font-size) + 3px);
  display: block;
  padding: 0 0 10px; }

.home-customer-review .bx-pager > a .collector {
  display: block;
  font-weight: 300; }

.home-customer-review .bx-pager > a.active {
  opacity: 1; }

@media (min-width: 1025px) {
  .home-customer-review .bx-pager > a:hover {
    opacity: 1; } }
