.template-password .countdown_password-content .countdown-row {
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  display: flex; }

.password-page__login-form .input-group-btn input {
  border-radius: 999px 999px 999px 999px;
  -moz-border-radius: 999px 999px 999px 999px;
  -webkit-border-radius: 999px 999px 999px 999px;
  color: var(--button-text-btn1);
  border-color: var(--border-btn1);
  background: var(--button-btn1);
  transition: background .3s ease-in-out;
  -ms-box-shadow: 0 5px 15px 0 rgba(var(--button-btn1), 0.36);
  box-shadow: 0 5px 15px 0 rgba(var(--button-btn1), 0.36); }

.password-page__login-form .input-group-btn input:active, .password-page__login-form .input-group-btn input:focus, .password-page__login-form .input-group-btn input:hover {
  background-color: var(--button-hover-btn1);
  color: var(--button-text-hover-btn1);
  border-color: var(--border-hover-btn1);
  -ms-box-shadow: 0 5px 15px 0 rgba(var(--button-hover-btn1), 0.36);
  box-shadow: 0 5px 15px 0 rgba(var(--button-hover-btn1), 0.36); }

.password-page__login-form {
  max-width: 500px;
  margin: 0 auto; }

.password-page__login-form > p {
  text-align: center;
  padding-bottom: 30px; }

.password-page__login-form .errors {
  text-align: center; }

.password-page__login-form .errors ul {
  list-style-type: none;
  -webkit-margin-start: 0;
  margin-inline-start: 0; }

.password-page__login-form .admin-login {
  text-align: center; }

.password-page__login-form .input-group {
  position: relative; }

.password-page__login-form .input-group-field {
  border: 1px solid var(--body-border-color);
  height: 44px;
  line-height: 20px;
  padding: 10px 15px;
  -moz-flex: 1;
  flex: 1; }

@media (max-width: 479px) {
  .password-page__login-form .input-group-field {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%; } }

@media (max-width: 479px) {
  .password-page__login-form .input-group-btn {
    width: 100%;
    text-align: center; } }

.password-page__login-form .input-group-btn input {
  font-size: var(--body-font-size);
  padding: 7px 25px;
  height: 42px;
  cursor: pointer;
  -webkit-margin-start: var(--padding-inset-md);
  margin-inline-start: var(--padding-inset-md); }

@media (max-width: 479px) {
  .password-page__login-form .input-group-btn input {
    margin: 10px auto 0; } }

.template-password {
  height: 100vh;
  width: 100%; }

.template-password #shopify-section-password-content {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh; }

.template-password .hidden-label {
  display: none; }

.template-password *, .template-password :after, .template-password :before, .template-password input {
  box-sizing: border-box; }

.template-password .password-page__main {
  height: 100%;
  width: 100%;
  margin: 8% auto 0; }

.template-password .password-page__main .password-content {
  margin: 0 auto;
  max-width: 530px;
  padding: 0 15px;
  text-align: center; }

.template-password .password-page__main .password-content .title-comming-soon p {
  margin: 0;
  padding-bottom: 30px; }

.template-password .password-page__main .password-content .offer-comming-soon span:hover, .template-password .password-page__main .password-content .title-comming-soon:hover {
  text-shadow: 0 0 10px #3498db,0 0 20px #3498db,0 0 30px #3498db,0 0 40px #2980b9,0 0 70px #2980b9,0 0 80px #2980b9,0 0 100px #2980b9,0 0 150px #2980b9; }

.template-password .mfp-preloader {
  display: none; }

.template-password .countdown_password-content {
  padding-top: 40px;
  background: none;
  border: none; }

.template-password .countdown_password-content .countdown-section {
  background-color: rgba(var(--main-color), 0.8);
  margin: 0 10px;
  width: calc(25% - 20px);
  -moz-flex: 0 0 calc(25% - 20px);
  flex: 0 0 calc(25% - 20px);
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px; }

@media (max-width: 479px) {
  .template-password .countdown_password-content .countdown-section {
    margin: 0 5px;
    width: calc(25% - 14px);
    -moz-flex: 0 0 calc(25% - 14px);
    flex: 0 0 calc(25% - 14px); } }

.template-password .countdown_password-content .countdown-section:hover {
  text-shadow: 0 0 10px #3498db,0 0 20px #3498db,0 0 30px #3498db,0 0 40px #2980b9,0 0 70px #2980b9,0 0 80px #2980b9,0 0 100px #2980b9,0 0 150px #2980b9; }

.template-password .countdown_password-content .countdown-section span {
  display: block; }

.template-password .countdown_password-content .countdown-section .countdown-amount {
  font-size: 44px;
  font-weight: 500;
  padding: 10px;
  line-height: 100%; }

@media (max-width: 479px) {
  .template-password .countdown_password-content .countdown-section .countdown-amount {
    padding: 12px 4px;
    font-size: 24px; } }

.template-password .countdown_password-content .countdown-section .countdown-period {
  font-size: 12px;
  padding: 10px 0;
  background: rgba(var(--main-color), 0.6);
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px; }

@media (max-width: 479px) {
  .template-password .countdown_password-content .countdown-section .countdown-period {
    padding: 5px 0; } }

.template-password .follow-us {
  padding-top: 40px; }

.template-password .follow-us .share-links li {
  padding: 0 15px; }

@media (max-width: 575px) {
  .template-password .follow-us .share-links li {
    padding: 0 5px; } }

.template-password .follow-us .share-links li a {
  min-width: 120px; }

@media (max-width: 575px) {
  .template-password .follow-us .share-links li a {
    min-width: 50px; }
  .template-password .follow-us .share-links li a i {
    display: block; }
  .template-password .follow-us .share-links li a span {
    display: none; } }
