.product-comparison-template-wrapper.fancybox-content {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px; }

.product-comparison-template-wrapper .product_comparison_template .product-col .comparison_product_infos .view-btn {
  color: var(--button-text-btn1);
  border-color: var(--border-btn1);
  background: var(--button-btn1);
  transition: background .3s ease-in-out;
  -ms-box-shadow: 0 5px 15px 0 rgba(var(--button-btn1-rgba), 0.36);
  box-shadow: 0 5px 15px 0 rgba(var(--button-btn1-rgba), 0.36); }

.product-comparison-template-wrapper .product_comparison_template .product-col .comparison_product_infos .view-btn:active, .product-comparison-template-wrapper .product_comparison_template .product-col .comparison_product_infos .view-btn:focus, .product-comparison-template-wrapper .product_comparison_template .product-col .comparison_product_infos .view-btn:hover {
  background-color: var(--button-hover-btn1);
  color: var(--button-text-hover-btn1);
  border-color: var(--border-hover-btn1);
  -ms-box-shadow: 0 5px 15px 0 rgba(var(--button-hover-btn1-rgba), 0.36);
  box-shadow: 0 5px 15px 0 rgba(var(--button-hover-btn1-rgba), 0.36); }

.product-comparison-template-wrapper table img {
  width: auto; }

@media (min-width: 768px) {
  .product-comparison-template-wrapper table {
    display: table;
    table-layout: fixed; } }

@media (min-width: 768px) {
  .product-comparison-template-wrapper.fancybox-content {
    padding: 55px 0 10px;
    width: 1180px !important;
    max-width: 90%; }
  .product-comparison-template-wrapper.fancybox-content table {
    margin: 0; } }

@media (max-width: 767px) {
  .product-comparison-template-wrapper.fancybox-content {
    max-width: 95%;
    padding: 0;
    height: 90% !important; } }

.product-comparison-template-wrapper .remove a i {
  display: none; }

.product-comparison-template-wrapper .product_comparison_template .heading-col {
  background: var(--body-background-color);
  color: var(--body-general-color);
  font-size: calc(var(--size-h4) - 1px);
  font-weight: 300;
  letter-spacing: 3.4px; }

@media (min-width: 768px) {
  .product-comparison-template-wrapper .product_comparison_template .heading-col {
    width: 200px; } }

@media (max-width: 767px) {
  .product-comparison-template-wrapper .product_comparison_template .heading-col {
    border-bottom: 1px solid var(--body-border-color);
    text-align: start; } }

.product-comparison-template-wrapper .product_comparison_template .heading-col strong {
  font-weight: 500; }

.product-comparison-template-wrapper .product_comparison_template .spr-summary-actions {
  display: none; }

.product-comparison-template-wrapper .product_comparison_template .product-col .remove {
  z-index: 1; }

@media (max-width: 767px) {
  .product-comparison-template-wrapper .product_comparison_template .product-col {
    border-bottom: 1px solid var(--body-border-color);
    text-align: center; }
  .product-comparison-template-wrapper .product_comparison_template .product-col .remove {
    text-align: start; } }

.product-comparison-template-wrapper .product_comparison_template .product-col a {
  color: var(--body-general-color); }

.product-comparison-template-wrapper .product_comparison_template .product-col a:hover {
  color: var(--main-color); }

.product-comparison-template-wrapper .product_comparison_template .product-col .comparison_product_infos .comparison_availability_statut {
  margin: 5px 0; }

.product-comparison-template-wrapper .product_comparison_template .product-col .comparison_product_infos .view-btn {
  padding: 0 25px;
  text-transform: uppercase;
  height: 40px;
  line-height: 40px;
  min-width: 120px;
  font-size: var(--body-font-size); }

.product-comparison-template-wrapper .product_comparison_template .product-col .spr-summary {
  text-align: center; }

.product-comparison-template-wrapper .product_comparison_template .product-col .product-name {
  padding-top: 10px;
  font-family: var(--font-standard);
  font-size: var(--size-h4);
  font-weight: 400; }

.product-comparison-template-wrapper .product_comparison_template .product-col .product-name a {
  color: var(--body-title-color); }

.product-comparison-template-wrapper .product_comparison_template .product-col.comparison_collection a {
  margin-left: 5px; }

.product-comparison-template-wrapper .product_comparison_template .rating .product-col .spr-container {
  padding: 0; }

.product-comparison-template-wrapper .product_comparison_template .rating .product-col .spr-container .spr-header-title {
  display: none; }

.product-comparison-template-wrapper .rating .spr-container {
  border: none; }

.product-comparison-template-wrapper .rating .spr-container .spr-content {
  display: none; }

@media (max-width: 767px) {
  .product-comparison-template-wrapper .product_comparison_template {
    margin: 0; }
  .product-comparison-template-wrapper table.product_comparison_template tr td {
    display: block;
    position: relative;
    width: 100%; } }
