.product-wrapper .product-content .swatch .tooltip {
  opacity: 0; }

.product-wrapper.product-shadow .product-content, .product-wrapper.product-style-1 .product-content .group-price-buttons .product-hover .product-add-cart .btn-1, .product-wrapper.product-style-1 .product-head .product-button > div, .product-wrapper.product-style-2 .product-content .product-hover .product-wishlist, .product-wrapper.product-style-2 .product-content .product-hover .product-wishlist i, .product-wrapper.product-style-2 .product-content .product-hover .quick_shop, .product-wrapper.product-style-2 .product-content .product-hover .quick_shop i {
  transition: all .35s ease 0s; }

.product-wrapper.product-style-2 .product-content .product-hover {
  -ms-justify-content: center;
  justify-content: center; }

.product-wrapper.product-style-3 .product-content .product-hover {
  -ms-justify-content: space-between;
  justify-content: space-between; }

.product-wrapper.product-style-2 .product-content .product-hover {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.product-wrapper .detail-deal .wrapper-countdown .countdown-row, .product-wrapper.product-style-3 .product-content .product-hover, .product-wrapper.product-style-3 .product-content .product-hover .product-button, .product-wrapper.product-style-3 .product-content .type-name-vendor-price {
  display: flex; }

.product-wrapper .swatch-wrapper .swatch-element label, .product-wrapper .swatch-wrapper .wrap-swatch-color .square, .product-wrapper .swatch-wrapper .wrap-swatch-color .square.active, .product-wrapper .swatch-wrapper .wrap-swatch-material .square, .product-wrapper .swatch-wrapper .wrap-swatch-material .square.active, .product-wrapper .swatch-wrapper .wrap-swatch-size .square, .product-wrapper .swatch-wrapper .wrap-swatch-size .square.active {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0; }

.product-wrapper .product-content .product-price.has-border, .product-wrapper .swatch-wrapper .wrap-swatch-material .circle, .product-wrapper .swatch-wrapper .wrap-swatch-material .circle.active {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px; }

.product-wrapper.product-style-1 .product-head .product-button > div, .product-wrapper.product-style-2 .product-content .product-hover .product-wishlist i, .product-wrapper.product-style-2 .product-content .product-hover .quick_shop i, .product-wrapper.product-style-3 .product-head .style-grid-3 > div, .product-wrapper .swatch-wrapper .wrap-swatch-color .circle, .product-wrapper .swatch-wrapper .wrap-swatch-color .circle.active, .product-wrapper .swatch-wrapper .wrap-swatch-color .circle label, .product-wrapper .swatch-wrapper .wrap-swatch-size .circle, .product-wrapper .swatch-wrapper .wrap-swatch-size .circle.active, .product-wrapper .swatch-wrapper .wrap-swatch-size .circle label {
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%; }

.product-wrapper {
  position: relative;
  margin: 0 0 30px;
  width: 100%;
  background: var(--product-wrapper-bg); }

.product-wrapper:not(.product-style-3).product-title--one-line .product-name a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block; }

.product-wrapper.product-padding .product-content {
  -webkit-padding-start: var(--padding-inset-sm);
  padding-inline-start: var(--padding-inset-sm);
  -webkit-padding-end: var(--padding-inset-sm);
  padding-inline-end: var(--padding-inset-sm); }

@media (max-width: 479px) {
  .product-wrapper.product-padding .product-content {
    -webkit-padding-start: var(--padding-inset-xs);
    padding-inline-start: var(--padding-inset-xs);
    -webkit-padding-end: var(--padding-inset-xs);
    padding-inline-end: var(--padding-inset-xs); } }

@media (max-width: 1024px) {
  .product-wrapper.product-shadow {
    -ms-box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.12);
    box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.12); } }

.product-wrapper.product-shadow .product-image {
  -ms-box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.17);
  box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.17); }

@media (min-width: 1025px) {
  .product-wrapper.product-shadow:hover .product-content {
    -ms-box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.12);
    box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.12); } }

.product-wrapper .detail-deal {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(var(--body-border-color-rbga-rbga), 0.5); }

.product-wrapper .detail-deal .wrapper-countdown .countdown-row {
  padding: 0;
  font-size: var(--body-font-size); }

.product-wrapper .detail-deal .wrapper-countdown .countdown-row .countdown-section {
  background: rgba(var(--main-color-rbga), 0.95);
  color: var(--light-color);
  padding-top: 3px; }

.product-wrapper .detail-deal .wrapper-countdown .countdown-row .countdown-section:not(:last-child) {
  -webkit-margin-end: var(--padding-inset-xxs);
  margin-inline-end: var(--padding-inset-xxs); }

@media (max-width: 575px) {
  .product-wrapper .detail-deal .wrapper-countdown .countdown-row .countdown-section:not(:last-child) {
    -webkit-margin-end: 2px;
    margin-inline-end: 2px; } }

.product-wrapper .detail-deal .wrapper-countdown .countdown-row .countdown-section .countdown-amount {
  font-size: 160%;
  padding: 5px 0;
  display: block; }

.product-wrapper .detail-deal .wrapper-countdown .countdown-row .countdown-section .countdown-period {
  background: rgba(var(--body-border-color-rbga-rbga), 0.4);
  padding: 2px 0; }

@media (max-width: 575px) {
  .product-wrapper .detail-deal .wrapper-countdown .countdown-row .countdown-section .countdown-period {
    font-size: 9px; } }

.product-wrapper .product-head .product-image {
  padding: 0; }

.product-wrapper .product-head .product-image, .product-wrapper .product-head .product-image .featured-img {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  text-align: center; }

.product-wrapper .product-head .product-image .featured-img:before {
  content: "";
  display: block;
  padding-bottom: var(--productImageRatioPercentage); }

.product-wrapper .product-head .product-image .featured-img a {
  display: block; }

.product-wrapper .product-head .product-image .featured-img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover"; }

.product-wrapper .product-head .product-image .featured-img .image--style img:not(.featured-image), .product-wrapper .product-head .product-image .featured-img span.img-back {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.product-wrapper .product-content {
  position: relative;
  padding: var(--padding-inset-sm) 0; }

.product-wrapper .product-content .swatch {
  margin: 0;
  position: relative; }

.product-wrapper .product-content .swatch .swatch-element {
  margin: 0 7px 7px 0; }

.product-wrapper .product-content .swatch .header {
  display: none; }

.product-wrapper .product-content .swatch .tooltip {
  left: -42px; }

.product-wrapper .product-content .pc-inner {
  display: block;
  width: 100%; }

.product-wrapper .product-content .product-description {
  display: none; }

.product-wrapper .product-content .product-price {
  margin-bottom: var(--padding-xxs); }

.product-wrapper .product-content .product-price.has-border {
  display: inline-block;
  border: 2px solid var(--body-price-sale-color);
  padding: 5px 20px; }

@media (max-width: 479px) {
  .product-wrapper .product-content .product-price.has-border {
    padding: 4px 5px;
    font-size: inherit; } }

.product-wrapper .product-content .product-vendor {
  margin: 0 0 var(--padding-xxs);
  font-size: var(--size-h6); }

.product-wrapper .product-content .product-name {
  font-size: var(--product-font-size);
  margin: 0 0 var(--padding-xxs);
  line-height: 1.2;
  font-weight: var(--product-title-weight);
  position: relative; }

@media (max-width: 767px) {
  .product-wrapper .product-content .product-name {
    -webkit-padding-end: var(--padding-inset-xxs);
    padding-inline-end: var(--padding-inset-xxs);
    font-size: 14px; } }

.product-wrapper .product-content .product-name:hover a {
  color: var(--body-light-color); }

.product-wrapper .product-content .product-type {
  margin: 0 0 5px;
  padding: 0;
  border: none;
  font-size: var(--size-h6);
  color: var(--body-general-color); }

.product-wrapper .product-content .product-descrip, .product-wrapper .product-content .product-price p {
  display: none; }

.product-wrapper .product-content .product-price .price-compare {
  display: inline;
  position: relative;
  top: -1px; }

.product-wrapper .product-content .wrap-swatch-color {
  padding-top: var(--padding-inset-xxs); }

@media (max-width: 1024px) {
  .product-wrapper .product-content .product-hover {
    display: none !important; } }

@media (max-width: 479px) {
  .product-wrapper .product-content .product-name {
    margin-bottom: 5px; }
  .product-wrapper .product-content .product-price {
    padding-top: 5px;
    padding-bottom: 5px; }
  .product-wrapper .product-content.card-padding .product-content {
    -webkit-padding-start: var(--padding-inset-xs);
    padding-inline-start: var(--padding-inset-xs);
    -webkit-padding-end: var(--padding-inset-xs);
    padding-inline-end: var(--padding-inset-xs); } }

.product-wrapper .swatch-wrapper {
  padding-top: var(--padding-inset-xs); }

.product-wrapper .swatch-wrapper .swatch-element label {
  padding: 0;
  border: 0; }

.product-wrapper .swatch-wrapper .swatch-element.image-true label {
  background-size: cover;
  background-repeat: no-repeat; }

.product-wrapper .swatch-wrapper .swatch-element[class*=more-] {
  border: 0 !important;
  font-size: 12px; }

.product-wrapper .swatch-wrapper .swatch-col .swatch-element {
  border: 1px solid rgba(var(--main-color-rbga-rbga), 0.2);
  padding: 2px;
  transition: all .65s ease; }

.product-wrapper .swatch-wrapper .swatch-col .swatch-element.active {
  border: 1px solid var(--main-color); }

.product-wrapper .swatch-wrapper .wrap-swatch-color .swt-size-medium .swatch-element label, .product-wrapper .swatch-wrapper .wrap-swatch-size .swt-size-medium .swatch-element label {
  min-width: 24px;
  height: 24px;
  line-height: 24px; }

.product-wrapper .swatch-wrapper .wrap-swatch-color .swt-size-medium .swatch-element[class*=more-], .product-wrapper .swatch-wrapper .wrap-swatch-size .swt-size-medium .swatch-element[class*=more-] {
  line-height: 25px; }

.product-wrapper .swatch-wrapper .wrap-swatch-color .swt-size-large .swatch-element label, .product-wrapper .swatch-wrapper .wrap-swatch-size .swt-size-large .swatch-element label {
  min-width: 40px;
  height: 40px;
  line-height: 40px; }

@media (max-width: 1199px) {
  .product-wrapper .swatch-wrapper .wrap-swatch-color .swt-size-large .swatch-element label, .product-wrapper .swatch-wrapper .wrap-swatch-size .swt-size-large .swatch-element label {
    min-width: 20px;
    height: 20px;
    line-height: 20px; } }

.product-wrapper .swatch-wrapper .wrap-swatch-color .swt-size-large .swatch-element[class*=more-], .product-wrapper .swatch-wrapper .wrap-swatch-size .swt-size-large .swatch-element[class*=more-] {
  line-height: 40px; }

@media (max-width: 1199px) {
  .product-wrapper .swatch-wrapper .wrap-swatch-color .swt-size-large .swatch-element[class*=more-], .product-wrapper .swatch-wrapper .wrap-swatch-size .swt-size-large .swatch-element[class*=more-] {
    line-height: 20px; } }

.product-wrapper .swatch-wrapper .wrap-swatch-material .swatch-element label, .product-wrapper .swatch-wrapper .wrap-swatch-size .swatch-element label {
  background: none; }

.product-wrapper .swatch-wrapper .wrap-swatch-material {
  padding-top: var(--padding-inset-xxs); }

.product-wrapper .swatch-wrapper .wrap-swatch-material label {
  font-size: 12px; }

.product-wrapper .product-review .spr-badge-caption {
  font-size: var(--body-font-size)-2px;
  -webkit-margin-start: var(--padding-inset-xxs);
  margin-inline-start: var(--padding-inset-xxs); }

.product-wrapper .progress {
  margin: var(--padding-xxs) 0; }

.product-wrapper .progress .progress-bar {
  background-color: var(--body-ratting-color); }

.product-wrapper.product-style-1 .product-head .product-button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  z-index: 1; }

.product-wrapper.product-style-1 .product-head .product-button > div {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: var(--button-btn1);
  color: var(--button-text-btn1);
  border: 1px solid var(--border-btn1);
  margin: 5px;
  transform: translate(40px);
  opacity: 0; }

.product-wrapper.product-style-1 .product-head .product-button > div .add-to-wishlist {
  color: var(--button-text-btn1); }

.product-wrapper.product-style-1 .product-head .product-button > div:hover {
  background: var(--button-hover-btn1);
  color: var(--var(--button-text-hover-btn1));
  border: 1px solid var(--border-hover-btn1); }

.product-wrapper.product-style-1 .product-head .product-button > div:hover .add-to-wishlist {
  color: var(--var(--button-text-hover-btn1)); }

.product-wrapper.product-style-1 .product-content .group-price-buttons {
  position: relative;
  min-height: 40px; }

.product-wrapper.product-style-1 .product-content .group-price-buttons .product-price {
  transform: scale(1);
  transition: all .25s ease-out 0s; }

.product-wrapper.product-style-1 .product-content .group-price-buttons .product-hover {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  transform: scale(0) translate(0);
  transition: all .25s ease-out 0s; }

.product-wrapper.product-style-1 .product-content .group-price-buttons .product-hover .product-add-cart .btn-1 {
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  margin: 0 auto;
  padding: 5px;
  line-height: 28px;
  border: 1px solid var(--button-btn1);
  display: block;
  width: 85%; }

.product-wrapper.product-style-1 .product-content .product-review {
  padding-top: 4px; }

.product-wrapper.product-style-1:hover .product-head .product-button > div {
  opacity: 1;
  transform: translate(0); }

@media (min-width: 1025px) {
  .product-wrapper.product-style-1:hover .product-content .product-price {
    transform: scale(0);
    transition: all .4s ease-out 0s; } }

.product-wrapper.product-style-1:hover .product-content .product-hover {
  opacity: 1;
  transform: scale(1) translate(0); }

.product-wrapper.product-style-2 .product-content .product-hover {
  transition: all .22s ease-in-out;
  opacity: 0;
  padding: 5px 0 15px;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: -30px;
  display: flex;
  background: var(--product-wrapper-bg);
  height: 60px;
  z-index: 9; }

.product-wrapper.product-style-2 .product-content .product-hover .product-add-cart .btn-1 {
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  margin: 0 5px;
  padding: 10px;
  line-height: 28px;
  border: 1px solid var(--border-btn1);
  text-align: center; }

.product-wrapper.product-style-2 .product-content .product-hover .product-add-cart .btn-1 i {
  display: none; }

.product-wrapper.product-style-2 .product-content .product-hover .product-add-cart:hover .btn-1 {
  border: 1px solid var(--border-hover-btn1); }

@media (max-width: 1199px) {
  .product-wrapper.product-style-2 .product-content .product-hover .product-add-cart .btn-1 {
    font-size: 13px; } }

.product-wrapper.product-style-2 .product-content .product-hover .product-wishlist i, .product-wrapper.product-style-2 .product-content .product-hover .quick_shop i {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: var(--button-text-btn2);
  background: var(--button-btn2);
  -ms-box-shadow: 0 0 10px rgba(var(--dark-color), 0.05);
  box-shadow: 0 0 10px rgba(var(--dark-color), 0.05); }

.product-wrapper.product-style-2 .product-content .product-hover .product-wishlist:hover i, .product-wrapper.product-style-2 .product-content .product-hover .quick_shop:hover i {
  color: var(--button-text-hover-btn2);
  background: var(--button-hover-btn2);
  -ms-box-shadow: 0 0 10px rgba(var(--dark-color), 0.05);
  box-shadow: 0 0 10px rgba(var(--dark-color), 0.05); }

.product-wrapper.product-style-2:hover .product-content .product-hover {
  opacity: 1;
  bottom: -50px; }

.product-wrapper.product-style-2.product-shadow:hover .product-content .product-hover {
  -ms-box-shadow: 0 4px 5px rgba(var(--dark-color-rgba), 0.1);
  box-shadow: 0 4px 5px rgba(var(--dark-color-rgba), 0.1); }

.product-wrapper.product-style-3 .product-head .style-grid-3 {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  opacity: 0;
  transition: all .35s ease-in-out;
  transform: translate(50px); }

.product-wrapper.product-style-3 .product-head .style-grid-3 > div {
  background: var(--button-btn1);
  color: var(--button-text-btn1);
  width: 30px;
  height: 30px;
  line-height: 29px; }

.product-wrapper.product-style-3:hover .product-head .style-grid-3 {
  opacity: 1;
  transform: translate(0); }

@media (max-width: 1439px) and (min-width: 992px) {
  .product-wrapper.product-style-3 .product-content .type-name-vendor-price {
    display: block; } }

@media (max-width: 479px) {
  .product-wrapper.product-style-3 .product-content .type-name-vendor-price {
    display: block; } }

.product-wrapper.product-style-3 .product-content .type-name-vendor-price .price {
  position: relative;
  flex: 1;
  justify-content: flex-end;
  text-align: end; }

@media (max-width: 1439px) and (min-width: 992px) {
  .product-wrapper.product-style-3 .product-content .type-name-vendor-price .price {
    text-align: start; }
  .product-wrapper.product-style-3 .product-content .type-name-vendor-price .price .product-price {
    padding-top: 0 !important; }
  .product-wrapper.product-style-3 .product-content .type-name-vendor-price .price .product-price .price-compare {
    -webkit-padding-start: 0;
    padding-inline-start: 0; } }

@media (max-width: 479px) {
  .product-wrapper.product-style-3 .product-content .type-name-vendor-price .price {
    text-align: start; }
  .product-wrapper.product-style-3 .product-content .type-name-vendor-price .price .product-price {
    padding-top: 0 !important; }
  .product-wrapper.product-style-3 .product-content .type-name-vendor-price .price .product-price .price-compare {
    -webkit-padding-start: 0;
    padding-inline-start: 0; }
  .product-wrapper.product-style-3 .product-content .type-name-vendor-price .price .money {
    font-size: 12px; } }

.product-wrapper.product-style-3 .product-content .type-name-vendor-price .product-price {
  line-height: 1; }

.product-wrapper.product-style-3 .product-content .type-name-vendor-price .product-price .price-sale {
  font-weight: 600; }

.product-wrapper.product-style-3 .product-content .product-review {
  padding-bottom: var(--padding-xxs); }

.product-wrapper.product-style-3 .product-content .product-hover {
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out; }

.product-wrapper.product-style-3 .product-content .product-hover .product-add-cart a {
  background: none;
  color: var(--button-btn1);
  line-height: 30px;
  padding: 5px 0;
  font-weight: var(--body-weight) 100;
  box-shadow: unset !important; }

.product-wrapper.product-style-3 .product-content .product-hover .product-add-cart a i {
  -webkit-padding-end: var(--padding-inset-xxs);
  padding-inline-end: var(--padding-inset-xxs); }

.product-wrapper.product-style-3 .product-content .product-hover .product-button > div {
  width: 30px;
  text-align: center;
  height: 30px;
  line-height: 30px; }

.product-wrapper.product-style-3 .product-content .product-hover .product-button > div a, .product-wrapper.product-style-3 .product-content .product-hover .product-button > div i {
  color: var(--button-text-btn3); }

.product-wrapper.product-style-3 .product-content .product-hover .product-button > div:last-child {
  -webkit-margin-start: var(--padding-inset-xxs);
  margin-inline-start: var(--padding-inset-xxs); }

.product-wrapper.product-style-3 .product-content .product-hover:hover .product-add-cart a {
  color: var(--button-text-hover-btn1); }

.product-wrapper.product-style-3 .product-content .product-hover:hover .product-button > div a, .product-wrapper.product-style-3 .product-content .product-hover:hover .product-button > div i {
  color: var(--button-text-hover-btn3); }

.product-wrapper.product-style-3.product-title--one-line .type-name-vendor-price .product-name a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -webkit-box-orient: vertical; }

.product-wrapper.product-style-3:hover .product-content .product-hover {
  opacity: 1;
  visibility: visible; }

.product-wrapper.product-style-4 .product-head .product-hover {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 1;
  width: 100%;
  text-align: center;
  margin-top: -55px;
  opacity: 0;
  transform: scale(0.82);
  transition: all .35s ease-out 0s; }

.product-wrapper.product-style-4 .product-head .product-hover .product-add-cart {
  display: inline-block;
  width: 180px; }

.product-wrapper.product-style-4 .product-head .product-hover .product-add-cart i {
  display: none; }

.product-wrapper.product-style-4 .product-head .product-hover .product-add-cart a {
  height: 45px;
  display: block;
  line-height: 35px;
  padding: 5px 20px;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px; }

.product-wrapper.product-style-4 .product-head .product-hover .product-button {
  display: flex !important;
  padding-top: 20px;
  width: 196px;
  margin: 0 auto; }

.product-wrapper.product-style-4 .product-head .product-hover .product-button > div {
  cursor: pointer;
  flex: 1;
  height: 45px;
  line-height: 45px;
  margin: 0 8px;
  font-size: var(--size-h4);
  background: var(--button-btn2);
  color: var(--button-text-btn2);
  transition: background .3s ease-in-out;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px; }

.product-wrapper.product-style-4 .product-head .product-hover .product-button > div:hover {
  background: var(--button-hover-btn2);
  color: var(--button-text-hover-btn2); }

.product-wrapper.product-style-4 .product-head .product-hover .product-button > div:hover a {
  color: var(--button-text-hover-btn2); }

.product-wrapper.product-style-4 .product-head .product-hover .product-button > div a {
  color: var(--button-text-btn2); }

@media (max-width: 1024px) {
  .product-wrapper.product-style-4 .product-head .product-hover {
    display: none; } }

.product-wrapper.product-style-4:hover .product-head .product-hover {
  opacity: 1;
  transform: scale(1); }

.product-wrapper .product-head .product-image .featured-img a > span.img-back img {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .35s ease-in-out; }

.product-wrapper.effect-fade_in .product-image .featured-img a:before, .product-wrapper .product-image .featured-img img {
  transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s; }

.product-wrapper.effect-fade_in .product-image .featured-img a:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(var(--overlay-color-rgba), 0.25);
  z-index: 1;
  opacity: 1; }

.product-wrapper.effect-fade_in:hover .product-image .featured-img a:before {
  opacity: 0; }

.product-wrapper.effect-fade_out .product-image .featured-img a:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: filter .6s,opacity .6s,transform .6s,box-shadow .3s;
  background: rgba(var(--overlay-color-rgba), 0.25);
  z-index: 1;
  opacity: 0; }

.product-wrapper.effect-fade_out:hover .product-image .featured-img a:before {
  opacity: 1; }

.product-wrapper.effect-fade_in_back {
  transition: all .35s ease; }

.product-wrapper.effect-fade_in_back:hover .product-head .product-image .featured-img a > span.img-back img {
  opacity: 1; }

.product-wrapper.effect-zoom_in {
  transition: all .35s ease; }

.product-wrapper.effect-zoom_in .product-head .product-image .featured-img a > span.img-back img {
  transform: scale(1.1);
  transform: translate(0);
  left: 0;
  top: 0; }

.product-wrapper.effect-zoom_in:hover .product-head .product-image .featured-img a > span.img-back img {
  opacity: 1;
  transform: scale(1.15); }

.product-wrapper.effect-zoom .product-image .featured-img img {
  transform: scale(1); }

.product-wrapper.effect-zoom:hover .product-image .featured-img img {
  transform: scale(1.12); }

.product-wrapper.effect-zoom_fade .product-image .featured-img a img {
  opacity: 1; }

.product-wrapper.effect-zoom_fade:hover .product-image .featured-img a img {
  opacity: .7;
  transform: scale(1.1); }

.product-wrapper.effect-blur:hover .product-image .featured-img img {
  filter: blur(5px); }

.product-wrapper.effect-glow:hover .product-image .featured-img img {
  filter: brightness(1.1); }

.product-wrapper.effect-color .product-image .featured-img img {
  filter: grayscale(100%); }

.product-wrapper.effect-color:hover .product-image .featured-img img {
  filter: grayscale(0); }

.product-wrapper.effect-grayscale:hover .product-image .featured-img img {
  filter: grayscale(100%); }

.swatch .swatch-element .crossed-out, .swatch input {
  display: none; }

.swatch {
  margin: 1em 0; }

.swatch .header {
  margin: .5em 0; }

.swatch label {
  border-radius: 2px;
  float: left;
  min-width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid #ccc;
  background-color: #ddd;
  font-size: 13px;
  text-align: center;
  line-height: 16px;
  white-space: nowrap;
  text-transform: uppercase; }

.swatch-element label {
  padding: 0 10px; }

.color.swatch-element label {
  padding: 0; }

.swatch input:checked + label {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
  border-color: transparent; }

.swatch .swatch-element {
  float: left;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  margin: 0 15px 10px 0;
  position: relative; }

.crossed-out {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.swatch .swatch-element.soldout .crossed-out {
  display: block; }

.swatch .swatch-element.soldout label {
  filter: alpha(opacity=60);
  -khtml-opacity: .6;
  -moz-opacity: .6;
  opacity: .6; }

.swatch .tooltip {
  text-align: center;
  background: #5f6572;
  color: #fff;
  bottom: 100%;
  padding: 5px 15px;
  display: block;
  position: absolute;
  white-space: nowrap;
  left: 49% !important;
  left: -31px;
  margin-bottom: 8px;
  filter: alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transform: translateX(-50%);
  transition: all .25s ease-out;
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  box-sizing: border-box; }

.swatch .tooltip:before {
  bottom: -10px;
  content: " ";
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%; }

.swatch .tooltip:after {
  -webkit-border-start: solid transparent 5px;
  border-inline-start: solid transparent 5px;
  -webkit-border-end: solid transparent 5px;
  border-inline-end: solid transparent 5px;
  border-top: 5px solid #5f6572;
  bottom: -5px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0; }

.swatch.error p {
  margin: .7em 0; }

.swatch.error p:first-child {
  margin-top: 0; }

.swatch.error p:last-child {
  margin-bottom: 0; }

.swatch.error code {
  font-family: monospace; }

@media (min-width: 1025px) {
  .swatch .swatch-element:hover .tooltip {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transform: translateX(-50%); }
  .swatch.error {
    background-color: #e8d2d2 !important;
    color: #333 !important;
    padding: 1em;
    border-radius: 5px; } }
