.custom-item-inner-video .home-video .video {
  transition: all .35s ease 0s; }

.custom-content {
  flex-wrap: wrap; }

.align-center {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.custom-content {
  display: flex; }

.custom-content-width {
  overflow: hidden;
  cursor: pointer; }

.custom-content-width .col-md-12 {
  padding: 0; }

.custom-content-wrapper.custom-content-margin-top {
  margin-top: 30px; }

.custom-content-wrapper.custom-content-margin-bottom {
  margin-bottom: 30px; }

.custom-content-wrapper.only-min-height .custom-item.col-md-12 {
  position: relative; }

@media (max-width: 767px) {
  .custom-content-wrapper.only-min-height .custom-item.col-md-12 {
    min-height: auto !important; } }

.custom-content-wrapper.only-min-height .custom-item.col-md-12 .custom-item-inner {
  width: 100%;
  padding: 0; }

.custom-content-wrapper.only-min-height .custom-item.col-md-12 .custom-item-inner.custom-item-inner-text .custom-block-heading-text {
  margin: 0 auto;
  padding-bottom: 35px;
  text-align: center; }

.custom-content-wrapper.only-min-height .custom-item.col-md-12.align-center .custom-item-inner {
  text-align: center;
  padding: 0 10px; }

.custom-content-wrapper.only-min-height .custom-item.col-md-12.align-left .custom-item-inner {
  text-align: start; }

.custom-content-wrapper.only-min-height .custom-item.col-md-12.align-right .custom-item-inner {
  text-align: end; }

.custom-content-header {
  margin: 0 auto 3%; }

.custom-item-inner-collection, .custom-item-inner-html {
  display: block; }

.custom-block-body-text, .custom-block-heading-text {
  margin-left: auto;
  margin-right: auto;
  font-weight: 400; }

.custom-block-heading-text {
  font-weight: 700; }

.custom-block-body-text p {
  margin: 0;
  line-height: 24px; }

.custom-content {
  width: 100%;
  width: auto;
  padding: 0;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch; }

.custom-content .info {
  padding: 15px 20px; }

.custom-content .custom-block-heading-text {
  margin: 0 auto 3%; }

.custom-item {
  -moz-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 0 30px; }

.custom-item-inner {
  position: relative;
  max-width: 100%; }

.custom-item-inner.custom-item-inner-bgimage {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 4%; }

.custom-item-inner.custom-item-inner-bgimage .custom-block-heading-text {
  max-width: 100%; }

.custom-item-inner .custom-block-image {
  margin-top: -76px; }

.custom-item-inner-collection .info > a, .custom-item-inner-product .info > a {
  text-transform: uppercase;
  font-family: var(--font-heading); }

@media (max-width: 479px) {
  .custom-item-inner-collection .info > a, .custom-item-inner-product .info > a {
    text-transform: none; } }

.custom-item-inner-collection .info .product-author, .custom-item-inner-product .info .product-author {
  color: var(--body-light-color);
  font-size: calc(var(--body-font-size) - 3px);
  text-transform: uppercase;
  padding: 0 0 5px;
  font-weight: 500; }

.custom-item-inner-collection .info .product-name, .custom-item-inner-product .info .product-name {
  color: var(--body-general-color);
  font-family: var(--font-standard);
  margin: 0 0 5px;
  font-weight: 600; }

.align-bottom, .align-center {
  text-align: center; }

.align-top {
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  align-self: flex-start; }

.align-center {
  align-self: center; }

.align-bottom {
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  align-self: flex-end; }

.custom-item-inner-video .home-video {
  overflow: hidden;
  position: relative; }

.custom-item-inner-video .home-video .image-layer {
  position: relative; }

.custom-item-inner-video .home-video .image-layer:before {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(var(--main-color), 0.8);
  z-index: 1; }

@media (max-width: 767px) {
  .custom-item-inner-video .home-video .image-layer img {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; } }

.custom-item-inner-video .home-video .image-layer .button-text-wrapper {
  position: absolute;
  display: block;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
  color: color-contrast(var(--main-color));
  text-align: center; }

.custom-item-inner-video .home-video .image-layer .button-text-wrapper > div:not(:first-child) {
  margin-top: 20px; }

@media (max-width: 575px) {
  .custom-item-inner-video .home-video .image-layer .button-text-wrapper > div:not(:first-child) {
    margin-top: 0; } }

.custom-item-inner-video .home-video .image-layer .button-text-wrapper .text {
  font-size: calc(var(--size-h1) + 4px);
  line-height: 1.5; }

@media (max-width: 767px) {
  .custom-item-inner-video .home-video .image-layer .button-text-wrapper .text {
    font-size: 5vw; } }

.custom-item-inner-video .home-video .image-layer .button-text-wrapper .b-pause, .custom-item-inner-video .home-video .image-layer .button-text-wrapper .b-play {
  border: none;
  background: none;
  padding: 0;
  color: inherit; }

.custom-item-inner-video .home-video .image-layer .button-text-wrapper .b-pause i, .custom-item-inner-video .home-video .image-layer .button-text-wrapper .b-play i, .custom-item-inner-video .home-video .image-layer .button-text-wrapper .static-control i {
  font-size: 70px;
  line-height: 100%; }

@media (max-width: 575px) {
  .custom-item-inner-video .home-video .image-layer .button-text-wrapper .b-pause i, .custom-item-inner-video .home-video .image-layer .button-text-wrapper .b-play i, .custom-item-inner-video .home-video .image-layer .button-text-wrapper .static-control i {
    font-size: 50px; } }

.custom-item-inner-video .home-video .video {
  position: absolute;
  display: block;
  right: 50%;
  top: 50%;
  transform: translate(50%, 50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -9;
  visibility: hidden; }

.custom-item-inner-video .home-video.is_play .video {
  z-index: 3;
  visibility: visible; }

.custom-item-inner-video .home-video.is_play .image-layer .button-text-wrapper {
  z-index: 4; }

.custom-item-inner-video .home-video.is_play .image-layer .button-text-wrapper .text {
  display: none; }
