.home-slideshow .cameracurrent .camera_caption > div, .home-slideshow .flex-active-slide .camera_caption > div {
  opacity: 1; }

.btn-pagination .swiper-pagination-bullet, .img-thumb, .swiper-button-white {
  transition: all .35s ease 0s; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .main-nav li a {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.home-slideshow .swiper-slide, .slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .main-nav li a {
  display: flex; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .main-nav {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0; }

.vertical-menu .labels-wrapper .menu-label {
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px; }

.container-box > div .button-link .slider-button {
  border-radius: 999px 999px 999px 999px;
  -moz-border-radius: 999px 999px 999px 999px;
  -webkit-border-radius: 999px 999px 999px 999px; }

.btn-pagination .swiper-pagination-bullet, .img-thumb, .swiper-button-white {
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%; }

.bc-wrapper {
  position: relative;
  z-index: 1; }

@media (min-width: 1025px) {
  .bc-wrapper .swiper-button-white, .bc-wrapper .swiper-pagination-bullet {
    opacity: 0; } }

.bc-wrapper:hover .swiper-button-white {
  opacity: 1 !important; }

.bc-wrapper:hover .swiper-button-white.swiper-button-disabled {
  opacity: 0 !important; }

.bc-wrapper:hover .swiper-pagination-bullet {
  opacity: 1 !important; }

.bc-wrapper:hover .video-slide .video {
  z-index: 0; }

.bc-wrapper.full-height .img-style-full_screen {
  height: 100%; }

.bc-wrapper.full-height .home-slideshow-wrapper, .bc-wrapper.full-height .swiper-slide {
  min-height: 100vh; }

.bc-wrapper.boxed {
  margin: 0 auto;
  padding: 0 15px; }

@media (min-width: 1200px) {
  .bc-wrapper.boxed {
    width: 1200px; } }

@media (max-width: 1199px) and (min-width: 992px) {
  .bc-wrapper.boxed {
    width: 980px; } }

@media (max-width: 991px) and (min-width: 768px) {
  .bc-wrapper.boxed {
    width: 768px; } }

@media (max-width: 767px) {
  .bc-wrapper.boxed {
    width: 100%; } }

.bc-wrapper.boxed .container {
  max-width: 100%; }

@media (min-width: 768px) {
  .bc-wrapper.boxed .container {
    padding: 0 85px; } }

.bc-wrapper:not(.slide-height-auto) .swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover"; }

.bc-wrapper.slide-height-full_screen .swiper-slide a > * {
  height: 100%; }

.video-slide {
  position: absolute;
  width: 100%;
  height: 100%; }

.video-slide .video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 3; }

.video-slide .video::-webkit-media-controls {
  display: none; }

.container-box {
  position: absolute;
  min-width: 50%;
  max-width: 100%;
  word-break: break-word; }

.container-box > div {
  background: transparent;
  line-height: 120%;
  position: relative;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

.container-box > div b, .container-box > div strong {
  display: block; }

.container-box > div.heading {
  margin: 0 auto 2%; }

@media (max-width: 1199px) and (min-width: 576px) {
  .container-box > div.heading {
    font-size: 2vw !important; } }

@media (max-width: 575px) {
  .container-box > div.heading {
    font-size: 4vw !important; } }

.container-box > div.subheading {
  margin: 0 auto 2%; }

@media (max-width: 1199px) and (min-width: 576px) {
  .container-box > div.subheading {
    font-size: 4.2vw !important; } }

@media (max-width: 575px) {
  .container-box > div.subheading {
    font-size: 5vw !important; } }

.container-box > div.subheading label {
  color: var(--main-color);
  font-weight: inherit; }

@media (max-width: 1199px) and (min-width: 576px) {
  .container-box > div.cation {
    font-size: 2.2vw !important; } }

@media (max-width: 575px) {
  .container-box > div.cation {
    font-size: 3vw !important;
    display: none !important; } }

.container-box > div.buttons {
  margin-top: 4%; }

.container-box > div.buttons .button-link:first-child {
  -webkit-padding-end: var(--padding-inset-lg);
  padding-inline-end: var(--padding-inset-lg); }

.container-box > div .button-link {
  display: inline-block; }

.container-box > div .button-link .slider-button {
  display: inline-block;
  padding: 15px 65px;
  line-height: 28px;
  font-family: var(--font-standard);
  position: relative;
  height: 60px;
  border: none; }

@media (max-width: 1439px) {
  .container-box > div .button-link .slider-button {
    padding: 10px 30px;
    height: 50px; } }

@media (max-width: 1199px) {
  .container-box > div .button-link {
    display: none; } }

.home-slideshow .swiper-slide {
  margin: 0 auto;
  overflow: hidden;
  height: auto; }

.home-slideshow .swiper-slide a div:not(.img-style-auto) img {
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover";
  height: 100%; }

.home-slideshow .swiper-slide a > img {
  visibility: hidden; }

.home-slideshow .swiper-slide > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  background: var(--background-pre-load); }

@media (min-width: 768px) {
  .home-slideshow .swiper-slide .img-desk {
    opacity: 1; }
  .home-slideshow .swiper-slide .img-mobi {
    opacity: 0; } }

@media (max-width: 767px) {
  .home-slideshow .swiper-slide .img-desk {
    opacity: 0; }
  .home-slideshow .swiper-slide .img-mobi {
    opacity: 1; } }

@media (min-width: 1025px) {
  .home-slideshow .swiper-slide.has-video:hover .container {
    z-index: 4; } }

.home-slideshow .swiper-slide.has-video iframe {
  position: absolute;
  width: 100%;
  height: 100%; }

.home-slideshow .swiper-slide .container-box {
  opacity: 0; }

.home-slideshow .swiper-slide.swiper-slide-active {
  opacity: 1 !important; }

.home-slideshow .swiper-slide.swiper-slide-active > a:before {
  content: ""; }

.home-slideshow .swiper-slide.swiper-slide-active .container-box {
  opacity: 1; }

.home-slideshow .swiper-content {
  z-index: 3;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 20%; }

.home-slideshow .cameracurrent .camera_caption > div, .home-slideshow .flex-active-slide .camera_caption > div {
  transition: all .5s ease 0s; }

.slideshow-catalog-wrapper {
  position: relative; }

.slideshow-catalog-wrapper .swiper-content {
  top: 0;
  bottom: 0; }

.slideshow-catalog-wrapper.layout-full {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0; }

.slideshow-catalog-wrapper .container-fluid {
  -webkit-padding-start: 5%;
  padding-inline-start: 5%;
  -webkit-padding-end: 5%;
  padding-inline-end: 5%; }

.slideshow-catalog-wrapper .full {
  position: relative; }

.slideshow-catalog-wrapper .full > .container {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
  z-index: 4; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none {
  padding-top: 30px; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .head {
  font-size: var(--size-h3);
  font-weight: 600;
  cursor: pointer; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .navbar-collapse {
  position: absolute;
  display: block;
  left: 0;
  top: 0; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .main-nav {
  border: 0;
  width: 330px;
  -ms-box-shadow: 0 0 14px rgba(var(--dark-color), 0.1);
  box-shadow: 0 0 14px rgba(var(--dark-color), 0.1); }

@media (max-width: 1199px) {
  .slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .main-nav {
    width: 280px; } }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .main-nav li {
  font-weight: 500; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .main-nav li a {
  width: 100%;
  justify-content: space-between; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .main-nav li.view-all a {
  justify-content: flex-start;
  color: var(--main-color); }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .main-nav li.view-all a i {
  -webkit-margin-start: -4px;
  margin-inline-start: -4px;
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
  font-size: var(--font-small-icon); }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .sidemenu-holder .navigation .navbar .main-nav > li.dropdown > .dropdown-menu {
  -webkit-margin-start: 28px;
  margin-inline-start: 28px;
  padding: 15px 20px;
  top: -5px; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .sidemenu-holder .navigation .navbar .main-nav .bp-item {
  margin-bottom: 20px; }

.slideshow-catalog-wrapper .full .d-lg-block.d-none .vertical-menu .sidemenu-holder .navigation .navbar .main-nav .bp-item .bp-content-inner {
  padding-top: 10px; }

.navigator-style-2 .button-wrapper .swiper-button-next {
  right: 8% !important;
  top: auto;
  bottom: 5%;
  margin: 0; }

.navigator-style-2 .button-wrapper .swiper-button-prev {
  left: auto !important;
  top: auto;
  bottom: 5%;
  right: 8%;
  -webkit-margin-end: 80px;
  margin-inline-end: 80px; }

.btn-pagination {
  width: 100%;
  text-align: center; }

.btn-pagination .swiper-pagination {
  width: 100%;
  z-index: 4;
  position: absolute;
  display: block;
  left: 0;
  bottom: 5%; }

.btn-pagination .swiper-pagination-bullet {
  display: inline-block;
  background: rgba(var(--main-color), 0.5);
  width: 12px;
  height: 12px;
  margin: 0 5px; }

.btn-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active, .btn-pagination .swiper-pagination-bullet:hover {
  background: var(--main-color); }

.img-thumb {
  z-index: 5;
  opacity: 0;
  background-position: 50%;
  display: block;
  top: 0; }

.img-thumb, .swiper-button-white {
  width: 50px;
  height: 50px;
  position: absolute; }

.swiper-button-white {
  z-index: 4;
  display: inline-block;
  background-image: none;
  border: none;
  text-align: center;
  background: var(--light-color);
  color: var(--main-color);
  -ms-box-shadow: 0 0 18px rgba(var(--dark-color), 0.16);
  box-shadow: 0 0 18px rgba(var(--dark-color), 0.16);
  transform: translateY(-50%); }

@media (max-width: 767px) {
  .swiper-button-white {
    width: 30px;
    height: 30px; } }

.swiper-button-white:before {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  width: 100%;
  height: 100%;
  font-size: var(--font-icon);
  font-family: arenafont; }

@media (max-width: 767px) {
  .swiper-button-white:before {
    line-height: 30px;
    font-size: var(--body-font-size) 2px; } }

.swiper-button-white.swiper-button-prev {
  background-image: none;
  left: 15px; }

.swiper-button-white.swiper-button-prev:before {
  content: "\e82f"; }

.swiper-button-white.swiper-button-next {
  background-image: none;
  right: 15px; }

.swiper-button-white.swiper-button-next:before {
  content: "\e82c"; }

.swiper-button-white.swiper-button-disabled {
  cursor: default;
  opacity: 0 !important; }

@media (min-width: 1025px) {
  .swiper-button-white:hover {
    background: var(--main-color); } }

.home-slideshow-wrapper {
  overflow: hidden; }

.vertical-menu .labels-wrapper {
  position: absolute;
  display: block;
  top: 2px;
  right: 0;
  z-index: 2; }

.vertical-menu .labels-wrapper .menu-label {
  display: block;
  font-size: 10px;
  font-weight: 500;
  padding: 0 8px;
  line-height: 18px;
  white-space: nowrap;
  font-family: var(--font-standard); }

.vertical-menu .labels-wrapper .menu-label.label-new {
  background: var(--label-new-bg); }

.vertical-menu .labels-wrapper .menu-label.label-hot {
  background: var(--label-hot-bg); }

.vertical-menu .labels-wrapper .menu-label.label-sale {
  background: var(--label-sale-bg); }
