.product-slider-section .spc-block .block-countdown .wrapper-countdown .countdown-row {
  -ms-justify-content: center;
  justify-content: center;
  display: flex; }

.product-slider-section .spc-block .block-countdown .wrapper-countdown .countdown-section {
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px; }

@media (min-width: 1440px) {
  .product-slider-section[data-section-type=product-grid-v2] .f-column.pos-left .spc-block {
    -webkit-margin-start: calc(-50vw - var(--width-container)/2*-1 + -5px);
    margin-inline-start: calc(-50vw - var(--width-container)/2*-1 + -5px); }
  .product-slider-section[data-section-type=product-grid-v2] .f-column.pos-right .spc-block {
    -webkit-margin-end: calc(-50vw - var(--width-container)/2*-1 + -5px);
    margin-inline-end: calc(-50vw - var(--width-container)/2*-1 + -5px); } }

@media (min-width: 992px) and (max-width: 1439px) {
  .product-slider-section[data-section-type=product-grid-v2] .f-column.pos-left .spc-block {
    -webkit-margin-start: calc(-50vw - -480px);
    margin-inline-start: calc(-50vw - -480px); }
  .product-slider-section[data-section-type=product-grid-v2] .f-column.pos-right .spc-block {
    -webkit-margin-end: calc(-50vw - -480px);
    margin-inline-end: calc(-50vw - -480px); } }

.product-slider-section .spc-block {
  padding-bottom: var(--padding-inset-lg);
  overflow: hidden;
  position: relative; }

.product-slider-section .spc-block .product-grid {
  margin: 0 0 50px; }

.product-slider-section .spc-block.spc-type-image .block-countdown > p {
  padding: 20px 0;
  margin: 0; }

.product-slider-section .spc-block .product-wrapper {
  margin-bottom: 0; }

.product-slider-section .spc-block .block-countdown {
  background: var(--product-wrapper-bg);
  padding: 0 var(--padding-inset-sm) var(--padding-inset-sm); }

.product-slider-section .spc-block .block-countdown .wrapper-countdown .countdown-section {
  border: 1px solid var(--body-light-color);
  width: auto;
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  min-width: 65px; }

@media (max-width: 1199px) {
  .product-slider-section .spc-block .block-countdown .wrapper-countdown .countdown-section {
    margin: 0 4px;
    min-width: 60px; } }

.product-slider-section .spc-block .block-countdown .wrapper-countdown .countdown-section .countdown-amount {
  font-size: var(--size-h3);
  color: var(--main-color);
  display: block;
  margin-bottom: 5px;
  line-height: 1; }

.product-slider-section .spc-block .block-countdown .wrapper-countdown .countdown-section .countdown-period {
  font-size: var(--body-font-size);
  line-height: 1; }

.product-slider-section .spc-block.image-height-fill .image-item, .product-slider-section .spc-block.image-height-fill .image-item span {
  height: 100%; }

.product-slider-section .spc-block.image-height-fill .image-item span img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover"; }

.product-slider-section .product-slider-content .image-height-fill .image-item, .product-slider-section .product-slider-content .image-height-fill span {
  height: 100%; }

.product-slider-section .product-slider-content .image-height-fill span img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  font-family: "object-fit: cover"; }

.product-slider-section .product-slider-content .f-column .image-height-fill, .product-slider-section .product-slider-content .l-column .image-height-fill {
  height: 100%; }

@media (max-width: 991px) {
  .product-slider-section .product-slider-content .owl-controls .owl-nav {
    display: none; }
  .product-slider-section .product-slider-content .view-all {
    width: 100%;
    padding-bottom: var(--padding-inset-md); } }

@media (max-width: 575px) {
  .product-slider-section .product-slider-content > div .row {
    -webkit-margin-start: -7.5px;
    margin-inline-start: -7.5px;
    -webkit-margin-end: -7.5px;
    margin-inline-end: -7.5px; }
  .product-slider-section .product-slider-content > div .row > div {
    padding: 0 7.5px; } }

@media (max-width: 575px) {
  .product-slider-section .product-slider-content > .row {
    -webkit-margin-start: -7.5px;
    margin-inline-start: -7.5px;
    -webkit-margin-end: -7.5px;
    margin-inline-end: -7.5px; }
  .product-slider-section .product-slider-content > .row > div {
    padding: 0 7.5px; } }

@media (max-width: 991px) {
  .product-slider-section .product-slider-content .f-column, .product-slider-section .product-slider-content .l-column {
    width: 100% !important; } }

.product-grid-item, .products-grid-item {
  display: flex; }
