.display-style-1 .widget-partner .partner-item:hover, .display-style-2 .widget-partner .partner-item img {
  transition: all .35s ease 0s; }

.display-style-1 .widget-partner {
  flex-wrap: wrap;
  display: flex;
  position: relative;
  background: var(--body-second-color);
  border: 1px solid var(--body-border-color);
  overflow: hidden;
  width: 100%; }

.display-style-1 .widget-partner > .row {
  margin: 0 -1px -1px; }

.display-style-1 .widget-partner > .row > div {
  padding: 10px; }

.display-style-1 .widget-partner > .row > div.partner-item {
  -webkit-border-start: 1px solid var(--body-border-color);
  border-inline-start: 1px solid var(--body-border-color);
  border-bottom: 1px solid var(--body-border-color); }

@media (max-width: 767px) and (min-width: 576px) {
  .display-style-1 .widget-partner > .row > div.partner-item {
    -moz-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; } }

@media (max-width: 575px) {
  .display-style-1 .widget-partner > .row > div.partner-item {
    -moz-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.333333%; } }

.display-style-1 .widget-partner .partner-item:hover {
  opacity: .7; }

.display-style-1 .owl-item .partner-item {
  position: relative; }

.display-style-1 .owl-item .partner-item:before {
  content: "";
  height: 150%;
  width: 100%;
  background: var(--body-border-color);
  position: absolute;
  display: block;
  top: 0;
  left: -1px; }

.display-style-2 .title-wrapper {
  text-align: center; }

.display-style-2 .title-wrapper:after {
  content: none; }

.display-style-2 .title-wrapper .title {
  font-style: normal;
  padding: 0; }

.display-style-2 .title-wrapper .title:after {
  content: none; }

.display-style-2 .widget-partner > .partner-item {
  display: none; }

.display-style-2 .widget-partner .partner-item {
  margin-bottom: 30px; }

@media (max-width: 767px) {
  .display-style-2 .widget-partner .partner-item {
    margin-bottom: 15px; } }

.display-style-2 .widget-partner .partner-item img {
  border: 3px solid transparent; }
