.home-special-products .modal .modal-dialog .close {
  opacity: 1;
  transition: all .35s ease 0s; }

.special-product-item .media {
  flex-wrap: wrap; }

.special-product-item, .special-product-item .media {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.special-product-item, .special-product-item .media .pc-inner .product-button, .special-products-list, .swiper-container-horizontal {
  display: flex; }

.special-product-item .bg-img span img {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0; }

.home-special-products .modal .modal-dialog .close, .special-product-item .media .pc-inner .product-button .product-add-cart a, .special-product-item .media .pc-inner .product-button .product-button__sharing > i {
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%; }

.home-special-products .modal .modal-dialog .close {
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0;
  text-align: center;
  cursor: pointer;
  z-index: 9999;
  color: var(--body-general-color);
  background: var(--body-background-color);
  position: absolute;
  display: block;
  top: -15px;
  left: -15px;
  -ms-box-shadow: 0 0 10px rgba(var(--dark-color-rgba), 0.5);
  box-shadow: 0 0 10px rgba(var(--dark-color-rgba), 0.5); }

.home-special-products .modal .modal-dialog .close i, .home-special-products .modal .modal-dialog .close svg {
  display: none; }

.home-special-products .modal .modal-dialog .close:before {
  content: "\e831";
  font-family: arenafont;
  font-size: 14px;
  color: inherit;
  display: block; }

.home-special-products .modal .modal-dialog .close:hover {
  background: var(--main-color);
  color: var(--light-color); }

.special-products-list, .swiper-container-horizontal {
  overflow: hidden; }

.special-products-list {
  position: relative; }

.special-product-item {
  background: var(--background-pre-load); }

@media (min-width: 768px) {
  .special-product-item {
    width: 700px; } }

@media (min-width: 992px) {
  .special-product-item {
    width: 930px; } }

@media (min-width: 1200px) {
  .special-product-item {
    width: 1170px; } }

@media (min-width: 1600px) {
  .special-product-item {
    width: 1410px; } }

@media (max-width: 767px) {
  .special-product-item {
    width: 100vw; } }

.special-product-item .bg-img {
  position: relative;
  height: 100%;
  width: 100%; }

.special-product-item .bg-img span {
  height: 100%;
  min-height: 180px; }

.special-product-item .bg-img span img {
  height: 100%; }

.special-product-item .media {
  width: 80%;
  padding: 15px; }

@media (max-width: 991px) {
  .special-product-item .media {
    width: 100%; } }

@media (max-width: 479px) {
  .special-product-item .media {
    padding: 15px 25px; } }

.special-product-item .media .product-image {
  text-align: center; }

.special-product-item .media .product-image img {
  -ms-box-shadow: 0 0 24px rgba(var(--dark-color-rgba), 0.34);
  box-shadow: 0 0 24px rgba(var(--dark-color-rgba), 0.34); }

.special-product-item .media .pc-inner h3 {
  margin: 0 auto 5px;
  line-height: 1.2;
  font-size: var(--size-h1);
  letter-spacing: .8px;
  font-weight: 600; }

@media (max-width: 1025px) {
  .special-product-item .media .pc-inner h3 {
    font-size: 3vw; } }

@media (max-width: 479px) {
  .special-product-item .media .pc-inner h3 {
    font-size: 5vw; } }

.special-product-item .media .pc-inner h3 a {
  text-transform: uppercase; }

.special-product-item .media .pc-inner .product-price {
  font-size: calc(var(--size-h3) + 1px);
  padding: 0 15px 15px 0;
  display: inline-block; }

@media (max-width: 479px) {
  .special-product-item .media .pc-inner .product-price {
    padding: 0 10px 10px 0;
    font-size: 14px; } }

.special-product-item .media .pc-inner .product-price .price-sale {
  -webkit-padding-start: 10px;
  padding-inline-start: 10px; }

.special-product-item .media .pc-inner .product-review {
  display: inline-block;
  position: relative;
  top: -2px; }

@media (max-width: 767px) and (min-width: 480px) {
  .special-product-item .media .pc-inner .product-review {
    display: none; } }

.special-product-item .media .pc-inner .product-vendor {
  line-height: 1.5;
  margin-bottom: var(--padding-xxs); }

.special-product-item .media .pc-inner .product-vendor .product-vendor__name {
  font-size: var(--size-h4);
  text-transform: uppercase;
  -webkit-margin-start: var(--padding-inset-xs);
  margin-inline-start: var(--padding-inset-xs); }

.special-product-item .media .pc-inner .product-button .btn-play {
  padding: 8px 30px; }

@media (max-width: 479px) {
  .special-product-item .media .pc-inner .product-button .btn-play {
    padding: 6px 20px;
    height: 42px; } }

.special-product-item .media .pc-inner .product-button .btn-play i {
  -webkit-margin-start: var(--padding-inset-sm);
  margin-inline-start: var(--padding-inset-sm);
  font-size: var(--font-icon); }

.special-product-item .media .pc-inner .product-button .product-add-cart {
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  -webkit-margin-start: var(--padding-inset-md);
  margin-inline-start: var(--padding-inset-md); }

@media (max-width: 479px) {
  .special-product-item .media .pc-inner .product-button .product-add-cart {
    width: 42px;
    height: 42px;
    line-height: 42px; } }

.special-product-item .media .pc-inner .product-button .product-add-cart a {
  display: block;
  height: 100%;
  font-size: var(--font-icon); }

.special-product-item .media .pc-inner .product-button .product-button__sharing {
  -webkit-margin-start: var(--padding-inset-md);
  margin-inline-start: var(--padding-inset-md); }

.special-product-item .media .pc-inner .product-button .product-button__sharing > i {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: var(--font-icon); }

@media (max-width: 479px) {
  .special-product-item .media .pc-inner .product-button .product-button__sharing > i {
    width: 42px;
    height: 42px;
    line-height: 42px; } }

.special-product-item .media .pc-inner .product-button .product-button__sharing .share-links {
  display: none; }

.special-product-item .media .pc-inner .product-button .product-button__sharing .share-links li {
  -webkit-margin-end: var(--padding-inset-xs);
  margin-inline-end: var(--padding-inset-xs); }

.special-product-item .media .pc-inner .product-button .product-button__sharing .share-links li a {
  padding: 5px;
  width: 42px;
  height: 42px; }

.special-product-item .media .pc-inner .product-button .product-button__sharing.opened .share-links {
  position: absolute;
  display: block;
  padding-top: 20px; }

.special-product-item .media .pc-inner .spr-badge-starrating {
  -webkit-margin-end: var(--padding-inset-xs);
  margin-inline-end: var(--padding-inset-xs); }

.special-product-item .media .pc-inner .product-author {
  font-weight: 300;
  font-size: calc(var(--body-font-size) + 4px);
  padding: 0 0 25px; }

.special-product-item .media .pc-inner .btn {
  -ms-box-shadow: 0 0 24px rgba(var(--dark-color-rgba), 0.34);
  box-shadow: 0 0 24px rgba(var(--dark-color-rgba), 0.34);
  border: none;
  font-size: calc(var(--body-font-size) + 2px);
  letter-spacing: .36px; }

@media (max-width: 1025px) {
  .special-product-item .media .pc-inner .btn {
    font-size: 14px;
    padding: 6px 20px;
    min-width: 150px; } }

@media (max-width: 479px) {
  .home-special-products.show-product-images-true .bg-img, .home-special-products.show-product-images-true .bg-img span img {
    min-height: 640px; } }

.home-special-products.show-product-images-true .product-image {
  -moz-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%; }

@media (max-width: 991px) {
  .home-special-products.show-product-images-true .product-image {
    -moz-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; } }

@media (max-width: 479px) {
  .home-special-products.show-product-images-true .product-image {
    -moz-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 300px; } }

.home-special-products.show-product-images-true .product-content {
  padding: 0 30px 0 50px;
  -moz-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%; }

@media (max-width: 1199px) {
  .home-special-products.show-product-images-true .product-content {
    padding: 0 30px; } }

@media (max-width: 991px) {
  .home-special-products.show-product-images-true .product-content {
    -moz-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%; } }

@media (max-width: 479px) {
  .home-special-products.show-product-images-true .product-content {
    max-width: 100%;
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 20px 0 0; } }

@media (min-width: 576px) {
  .home-special-products .modal .modal-dialog {
    max-width: 800px; } }

.home-special-products .modal .modal-dialog .modal-body {
  padding: 15px !important;
  background: #e2e2e2; }

.home-special-products .modal .modal-dialog .modal-body audio {
  width: 100%; }
