.blog-container-02 .blog-content .post-item-inner .post__titlle-link {
  display: flex; }

.blog-container-02 {
  position: relative;
  padding: var(--padding-inset-xs) 0; }

.blog-container-02 .video-wrapper {
  height: 100%;
  -ms-box-shadow: 0 0 5px 5px rgba(var(--dark-color), 0.2);
  box-shadow: 0 0 5px 5px rgba(var(--dark-color), 0.2); }

.blog-container-02 .video-wrapper .inline-YTPlayer {
  height: 100%; }

.blog-container-02 .video-wrapper .inline-YTPlayer .player {
  height: 100% !important; }

.blog-container-02 .video-wrapper iframe {
  margin: 0 !important;
  -webkit-margin-start: 0 !important;
  margin-inline-start: 0 !important;
  width: 100% !important;
  height: 100% !important; }

@media (max-width: 991px) {
  .blog-container-02 .blog-content {
    padding-top: 15px; } }

.blog-container-02 .blog-content .post-item-inner {
  margin-bottom: 15px;
  border: 1px solid var(--body-border-color);
  box-shadow: unset;
  background: none; }

.blog-container-02 .blog-content .post-item-inner .post-content .info .post-title {
  font-weight: 700;
  flex: 1;
  -webkit-padding-end: var(--padding-inset-sm);
  padding-inline-end: var(--padding-inset-sm);
  margin: 0;
  line-height: 1.5;
  font-size: calc(var(--size-h4) - 2px); }

@media (max-width: 479px) {
  .blog-container-02 .blog-content .post-item-inner .post-content .info .post-title {
    margin-bottom: 11px; } }

.blog-container-02 .blog-content .post-item-inner .post__titlle-link {
  align-items: center; }

@media (max-width: 479px) {
  .blog-container-02 .blog-content .post-item-inner .post__titlle-link {
    display: block; } }

.blog-container-02 .blog-content .post-item-inner .post__titlle-link .link-to-post {
  text-transform: capitalize;
  margin-top: 0; }

.blog-container-02 .blog-content .post-item-inner .post__titlle-link .link-to-post i:before {
  content: "\e82f"; }

.blog-container-02 .blog-content .blog-item:last-of-type .post-item-inner {
  margin-bottom: 0; }
