.hp-tabs-section .nav-tab-wrapper .nav-tabs.has-title-border .nav-item a {
  transition: all .35s ease 0s; }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2, .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-head, .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product__buttons-price .product-price {
  flex-wrap: wrap; }

.hp-tabs-section .tab-style-1 .nav-tab-wrapper {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2, .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-head, .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product__buttons-price .product-price, .hp-tabs-section .nav-tab-wrapper {
  display: flex; }

.hp-tabs-section .nav-tab-wrapper .nav-tabs .nav-link {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0; }

.hp-tabs-section .nav-tab-wrapper {
  padding-bottom: var(--padding-inset-lg);
  position: relative; }

.hp-tabs-section .nav-tab-wrapper .title-wrapper {
  padding-bottom: 0; }

.hp-tabs-section .nav-tab-wrapper .nav-tabs {
  flex: 1;
  border: none;
  position: relative; }

.hp-tabs-section .nav-tab-wrapper .nav-tabs .nav-link {
  color: var(--body-light-color);
  font-weight: 400;
  font-size: var(--size-h4);
  border: none;
  background: none;
  transition: unset;
  padding: var(--padding-inset-xxs) 0;
  position: relative; }

.hp-tabs-section .nav-tab-wrapper .nav-tabs .nav-link.active, .hp-tabs-section .nav-tab-wrapper .nav-tabs .nav-link:hover {
  color: var(--main-color); }

@media (max-width: 767px) {
  .hp-tabs-section .nav-tab-wrapper .nav-tabs .nav-link {
    font-size: 14px; } }

.hp-tabs-section .nav-tab-wrapper .nav-tabs.has-title-border .nav-item {
  margin: 0; }

.hp-tabs-section .nav-tab-wrapper .nav-tabs.has-title-border .nav-item a {
  -webkit-padding-start: var(--padding-inset-sm);
  padding-inline-start: var(--padding-inset-sm);
  -webkit-padding-end: var(--padding-inset-sm);
  padding-inline-end: var(--padding-inset-sm);
  border: 1px solid transparent;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px; }

.hp-tabs-section .nav-tab-wrapper .nav-tabs.has-title-border .nav-item:hover a, .hp-tabs-section .nav-tab-wrapper .nav-tabs.has-title-border .nav-item a.active {
  border: 1px solid var(--main-color); }

.hp-tabs-section .tab-content {
  position: relative; }

.hp-tabs-section .tab-content .tab-pane {
  height: 0;
  z-index: -9;
  width: 100%;
  opacity: 0;
  position: absolute;
  display: block;
  right: 0;
  top: 0; }

.hp-tabs-section .tab-content .tab-pane.show {
  opacity: 1;
  height: auto;
  z-index: 999;
  position: static; }

.hp-tabs-section .tab-content .tab-pane .product__buttons {
  position: relative; }

.hp-tabs-section .tab-content .tab-pane .product__buttons .share-links a i {
  color: var(--light-color) !important; }

.hp-tabs-section .tab-style-1 .nav-tab-wrapper .nav-tabs li {
  padding: 0 15px; }

.hp-tabs-section .tab-style-1 .nav-tab-wrapper .nav-tabs.has-title-border li {
  padding: 0; }

.hp-tabs-section .tab-style-1 .nav-tab-wrapper .nav-tabs.has-title-border li a {
  -webkit-padding-start: var(--padding-lg);
  padding-inline-start: var(--padding-lg);
  -webkit-padding-end: var(--padding-lg);
  padding-inline-end: var(--padding-lg); }

.hp-tabs-section .tab-style-1 .nav-tab-wrapper .nav-tabs li:first-child {
  -webkit-padding-start: 0;
  padding-inline-start: 0; }

.hp-tabs-section .tab-style-1 .nav-tab-wrapper .nav-tabs li:last-child {
  -webkit-padding-end: 0;
  padding-inline-end: 0; }

.hp-tabs-section .tab-style-2 .nav-tabs li {
  display: block;
  padding: var(--padding-inset-xxs) 0; }

.hp-tabs-section .tab-style-2 .nav-tabs li a.active, .hp-tabs-section .tab-style-2 .nav-tabs li a:hover {
  font-weight: 500; }

@media (max-width: 767px) {
  .hp-tabs-section .tab-style-2 .nav-tabs li a {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0; } }

.hp-tabs-section .tab-style-2 .nav-tabs.has-title-border li a.active, .hp-tabs-section .tab-style-2 .nav-tabs.has-title-border li a:hover {
  font-weight: inherit; }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2 {
  transition: all .15s ease-in-out;
  padding: var(--padding-inset-xs) var(--padding-inset-sm);
  margin-bottom: 15px; }

@media (max-width: 1024px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    -webkit-padding-end: 0;
    padding-inline-end: 0; } }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-head {
  -moz-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%; }

@media (max-width: 991px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-head {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-head .product-image {
  width: 120px;
  margin: 0; }

@media (max-width: 1199px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-head .product-image {
    width: 90px; } }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-content {
  flex: 1;
  -webkit-padding-start: var(--padding-inset-sm);
  padding-inline-start: var(--padding-inset-sm); }

@media (max-width: 1199px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-content {
    padding-top: 0;
    padding-bottom: 0; } }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-content .product-name a {
  white-space: normal; }

@media (max-width: 767px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product-content .product-vendor {
    margin-bottom: 0; } }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product__buttons-price {
  -moz-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  padding-top: var(--padding-xs); }

@media (max-width: 1199px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product__buttons-price {
    padding-top: 0; } }

@media (max-width: 991px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product__buttons-price {
    -moz-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product__buttons-price .product-price {
  flex-direction: row-reverse;
  align-items: center; }

@media (max-width: 991px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product__buttons-price .product-price {
    justify-content: flex-end; } }

.hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product__buttons-price .product-price .price-compare {
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: var(--padding-inset-xs);
  padding-inline-end: var(--padding-inset-xs); }

@media (max-width: 1199px) and (min-width: 992px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2 .product__buttons-price .product-price .price-compare {
    -webkit-padding-end: 0;
    padding-inline-end: 0; } }

@media (min-width: 1024px) {
  .hp-tabs-section .hp-tabs-list .product-wrapper-style-2:hover {
    background: var(--product-wrapper-bg);
    -ms-box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.12);
    box-shadow: 0 0 18px rgba(var(--dark-color-rgba), 0.12); } }
