.cart-sb #cart-info .items-inner {
  opacity: 0; }

.cart-sb.opened #cart-info .items-inner, .cart-sb.opened .c-close {
  opacity: 1; }

.cart-sb .cart-sb-title .c-close {
  transition: all .35s ease 0s; }

.cart-sb #cart-info .total {
  -ms-justify-content: space-between;
  justify-content: space-between; }

.cart-sb #cart-info .items-inner, .cart-sb #cart-info .total {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  display: flex; }

.cart-sb .wrap-total .sb-progress, .cart-sb .wrap-total .sb-progress-bar, .cart-sb .wrap-total .sc-progress-bar {
  border-radius: 999px 999px 999px 999px;
  -moz-border-radius: 999px 999px 999px 999px;
  -webkit-border-radius: 999px 999px 999px 999px; }

.cart-sb .wrap-total .sb-progress {
  background: rgba(var(--dark-color-rgba), 0.2);
  margin: 10px 0;
  height: 14px;
  position: relative;
  text-align: center; }

.cart-sb .wrap-total .sb-progress-bar, .cart-sb .wrap-total .sc-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
  background: var(--main-color);
  height: 14px;
  margin: 0;
  line-height: 14px;
  background-image: linear-gradient(to top right, rgba(255, 255, 255, 0.15) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0.15) 75%, transparent 0, transparent);
  background-size: 40px 40px;
  -webkit-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
  transition: width .4s ease-in-out; }

.cart-sb {
  margin: 0;
  padding: 34px;
  width: 370px;
  background: var(--body-second-color);
  transition: all .35s ease;
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  text-align: start;
  color: var(--body-title-color); }

@media (max-width: 370px) {
  .cart-sb {
    width: 100%;
    padding: 0 5%; } }

.cart-sb #cart-info .cart-item-empty {
  padding: 10px 20px; }

.cart-sb #cart-info .cart-item-empty p {
  margin: 0; }

.cart-sb #cart-info h1 {
  text-transform: none;
  margin: 0;
  padding: 15px 15px 0; }

.cart-sb #cart-info .items-inner {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  padding-bottom: 20px; }

.cart-sb #cart-info .items-inner:not(:last-child):after {
  content: "";
  width: 60%;
  height: 1px;
  background: var(--body-border-color);
  position: absolute;
  display: block;
  left: 0;
  bottom: 0; }

.cart-sb #cart-info .items-inner .cart-item-image {
  float: none;
  vertical-align: middle;
  max-width: 110px;
  padding: 0 20px 0 0;
  text-align: center;
  -moz-flex: 0 0 110px;
  flex: 0 0 110px; }

.cart-sb #cart-info .items-inner .cart-item-info {
  float: none;
  -moz-flex: 1;
  flex: 1; }

.cart-sb #cart-info .items-inner .cart-item-quantity {
  padding: 0 0 8px; }

.cart-sb #cart-info .items-inner .cart-item-quantity span {
  color: var(--body-general-color); }

.cart-sb #cart-info .items-inner .cart-close {
  text-align: end;
  max-width: 30px;
  -moz-flex: 0 0 30px;
  flex: 0 0 30px; }

.cart-sb #cart-info .items-inner .cart-close i {
  color: var(--body-general-color);
  font-size: var(--size-h4); }

.cart-sb #cart-info .items-inner .cart-close:hover i {
  color: var(--main-color); }

.cart-sb #cart-info .items-inner .cart-item-title {
  margin: 0;
  padding: 0 0 15px;
  line-height: 1.2; }

.cart-sb #cart-info .items-inner .cart-item-title a {
  font-size: calc(var(--body-font-size) + 2px);
  color: var(--body-general-color); }

.cart-sb #cart-info .items-inner .cart-item-title a:hover {
  color: var(--main-color); }

.cart-sb #cart-info .items-inner .cart-item-price {
  color: var(--body-price-color);
  line-height: 1.3;
  font-size: var(--body-font-size);
  font-weight: 300; }

.cart-sb #cart-info .total {
  margin-top: 15px;
  width: 100%; }

.cart-sb #cart-info .total > span {
  font-size: var(--size-h3);
  color: var(--body-title-color); }

.cart-sb .action {
  margin: 0;
  padding-bottom: 5px; }

.cart-sb .action .btn {
  width: 100%;
  margin: 20px 0 0; }

.cart-sb {
  padding-top: 0;
  position: fixed;
  top: 0 !important;
  right: 0 !important;
  z-index: 9999999;
  height: 100%;
  display: block;
  overflow-y: auto;
  opacity: 0;
  transform: translate(375px);
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.cart-sb .cart-sb-title {
  padding: 0;
  position: relative;
  background: var(--button-btn1);
  color: var(--button-btn1-contrast);
  margin: 0 -34px; }

@media (max-width: 370px) {
  .cart-sb .cart-sb-title {
    margin-left: -5%;
    margin-right: -5%; } }

.cart-sb .cart-sb-title .c-close {
  font-size: var(--font-small-icon);
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: inherit;
  width: 45px;
  height: 45px;
  line-height: 45px;
  position: absolute;
  display: block;
  left: 10px;
  top: 0; }

.cart-sb .cart-sb-title .c-title {
  color: inherit;
  font-size: var(--size-h4);
  font-weight: 500;
  line-height: 45px;
  text-align: center;
  display: block; }

.cart-sb .cart-order-note {
  display: none; }

.cart-sb .wrap-action {
  position: absolute;
  display: block;
  left: 34px;
  right: 34px;
  bottom: 34px;
  background: var(--body-second-color); }

@media (max-width: 370px) {
  .cart-sb .wrap-action {
    left: 5%;
    right: 5%;
    bottom: 20px; } }

.cart-sb form {
  display: block;
  width: 100%;
  height: 100%; }

.cart-sb .cart-content {
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease-out 0s; }

.cart-sb .cart-order-note .cart-note textarea {
  min-height: 90px; }

.cart-sb #cart-info {
  max-height: calc(100% - 300px);
  border: 0;
  overflow-y: auto; }

.cart-sb #cart-info .items {
  overflow-y: auto;
  padding-top: 20px; }

.cart-sb #cart-info .items-inner {
  transform: translateY(100px); }

.cart-sb #cart-info .animated-0 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; }

.cart-sb #cart-info .animated-1 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.22s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.32s; }

.cart-sb #cart-info .animated-2 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.34s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.44s; }

.cart-sb #cart-info .animated-3 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.46s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.56s; }

.cart-sb #cart-info .animated-4 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.58s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.68s; }

.cart-sb #cart-info .animated-5 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.7s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s; }

.cart-sb #cart-info .animated-6 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.82s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.92s; }

.cart-sb #cart-info .animated-7 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 0.94s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.04s; }

.cart-sb #cart-info .animated-8 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.06s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.16s; }

.cart-sb #cart-info .animated-9 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.18s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.28s; }

.cart-sb #cart-info .animated-10 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.3s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.4s; }

.cart-sb #cart-info .animated-11 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.42s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.52s; }

.cart-sb #cart-info .animated-12 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.54s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.64s; }

.cart-sb #cart-info .animated-13 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.66s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.76s; }

.cart-sb #cart-info .animated-14 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.78s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.88s; }

.cart-sb #cart-info .animated-15 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 1.9s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2s; }

.cart-sb #cart-info .animated-16 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.02s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.12s; }

.cart-sb #cart-info .animated-17 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.14s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.24s; }

.cart-sb #cart-info .animated-18 {
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.26s, opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1) 2.36s; }

.cart-sb #cart-info .cart-item-empty {
  padding-top: 10px;
  text-align: start; }

.cart-sb .cart-order-note {
  padding-top: 15px; }

@media (max-width: 767px) {
  .cart-sb .cart-order-note {
    display: none; } }

.cart-sb .cart-order-note span {
  display: block;
  padding-bottom: 5px;
  font-size: calc(var(--body-font-size) - 1px); }

.cart-sb.opened {
  margin-top: 0 !important;
  opacity: 1; }

.cart-sb.opened, .cart-sb.opened #cart-info .items-inner {
  transform: translate(0); }

.cart-sb.opened .cart-content {
  opacity: 1;
  visibility: visible; }

@media (max-width: 319px) {
  .cart-sb.opened {
    max-width: 250px; } }

.cart-sb .wrap-total {
  margin-top: 20px; }

.cart-sb .wrap-total .sb-progress-bar, .cart-sb .wrap-total .sc-progress-bar {
  color: var(--main-color-contrast); }

.cart-sb .wrap-total .sb-text {
  margin-top: 20px; }

.cart-sb .wrap-total .sb-text span {
  display: inline-block; }
