.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown {
  -ms-justify-content: space-between;
  justify-content: space-between; }

.mobile-layout-bar .m-block-icons {
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.mobile-layout-bar .m-block-icons, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown {
  display: flex; }

.mobile-version .menu-mobile.opened {
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0; }

.mobile-layout-bar .m-block-icons > li.compare-target .number, .mobile-layout-bar .m-block-icons > li.wishlist-target .number {
  border-radius: 50% 50% 50% 50%;
  -moz-border-radius: 50% 50% 50% 50%;
  -webkit-border-radius: 50% 50% 50% 50%;
  position: absolute;
  display: block;
  top: 5px;
  right: -8px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: var(--bg-number-icons);
  text-align: center;
  font-size: calc(var(--body-font-size) - 3px);
  font-weight: 600; }

.mobile-layout-bar {
  position: relative;
  background: var(--header-mobile-bg);
  top: 0;
  width: 100%;
  z-index: 9999;
  padding-bottom: calc(env(safe-area-inset-bottom)/3); }

.mobile-layout-bar.d-lg-none {
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  top: auto;
  border-top: 1px solid rgba(var(--header-mobile-bg-contrast-rgba), 0.2);
  border-bottom: 1px solid rgba(var(--header-mobile-bg-contrast-rgba), 0.2); }

.mobile-layout-bar img {
  width: auto;
  max-width: 100%;
  margin-top: 9px; }

.mobile-layout-bar .m-block-icons {
  width: 100%; }

.mobile-layout-bar .m-block-icons > li {
  -moz-flex: 1;
  flex: 1;
  text-align: center;
  -webkit-border-end: 1px solid rgba(var(--header-mobile-bg-contrast-rgba), 0.2);
  border-inline-end: 1px solid rgba(var(--header-mobile-bg-contrast-rgba), 0.2); }

.mobile-layout-bar .m-block-icons > li.compare-target .number, .mobile-layout-bar .m-block-icons > li.wishlist-target .number {
  color: var(--bg-number-icons-contrast);
  top: -20px;
  right: -18px; }

.mobile-layout-bar .m-block-icons > li.compare-target .compare-icon, .mobile-layout-bar .m-block-icons > li.wishlist-target .wishlist-icon {
  position: relative; }

.mobile-layout-bar .m-block-icons > li > a {
  color: var(--header-mobile-bg-contrast);
  display: block;
  position: relative;
  text-decoration: none;
  height: 55px;
  line-height: 55px; }

.mobile-layout-bar .m-block-icons > li > a i {
  font-size: var(--font-icon); }

.mobile-layout-bar .m-block-icons > li > a .expand i {
  font-size: 14px; }

.mobile-layout-bar .m-block-icons > li:last-child {
  border: none; }

.mobile-layout-bar .cata-toolbar .group-toolbar .grid-list i {
  font-size: 19px; }

.mobile-version .menu-mobile {
  border: 0;
  position: fixed;
  z-index: 999999;
  right: 0;
  opacity: 0;
  top: 0 !important;
  width: 340px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  transform: translate(340px);
  transition: opacity 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

@media (max-width: 812px) {
  .mobile-version .menu-mobile {
    padding-left: env(safe-area-inset-left); } }

@media (max-width: 350px) {
  .mobile-version .menu-mobile {
    width: 100%; } }

@media (max-width: 991px) {
  .mobile-version .menu-mobile {
    left: 0;
    transform: translate(-340px);
    visibility: hidden; } }

.mobile-version .menu-mobile.opened {
  opacity: 1;
  transform: translate(0);
  visibility: visible; }

.mobile-version .menu-mobile.opened .menu-mobile-open {
  transform: translateX(0) !important;
  display: block !important;
  visibility: visible;
  z-index: 999 !important; }

.mobile-version .menu-mobile.opened .menu-mobile-open.sub-open {
  overflow: hidden !important; }

.mobile-version .menu-mobile .mm-wrapper {
  width: 100%;
  height: 100%; }

@media (min-width: 992px) {
  .mobile-version .menu-mobile .mm-wrapper {
    height: calc(100% - 62px); } }

.mobile-version .menu-mobile .mm-wrapper .btn-switch {
  width: 100%;
  text-align: end !important; }

.mobile-version .menu-mobile .mm-wrapper .btn-switch .slider {
  border: 1px solid #222; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse {
  position: relative;
  height: 100%; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .sub-open > .dropdown:not(.back-prev-menu):not(.active), .mobile-version .menu-mobile .mm-wrapper .nav-collapse .sub-open > .mega-sub-link:not(.active), .mobile-version .menu-mobile .mm-wrapper .nav-collapse .sub-open > li:not(.back-prev-menu):not(.active) {
  display: none !important; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav {
  list-style: none;
  height: 100%;
  background: var(--ham-bg-color); }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav.sub-open {
  overflow: hidden; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .mega-sub-link {
  background: var(--ham-bg-color);
  color: var(--ham-bg-color-contrast);
  text-decoration: none; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .expand, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .mega-sub-link .expand, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .mega-sub-link a, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li a {
  color: var(--ham-bg-color-contrast);
  text-decoration: none; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown {
  width: 100%;
  scrollbar-color: var(--main-color var(--body-second-color));
  scrollbar-width: thin; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--body-second-color); }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown ul::-webkit-scrollbar {
  width: 6px;
  background-color: var(--body-second-color); }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown ul::-webkit-scrollbar-thumb {
  background-color: var(--main-color); }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown .expand {
  position: relative; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown .expand:before {
  content: "\e817";
  font-family: arenafont;
  font-size: 16px;
  line-height: 50px;
  padding: 0 15px;
  position: absolute;
  display: block;
  top: 0;
  right: 0; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown-menu {
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: unset;
  opacity: 1;
  display: block;
  min-height: auto !important;
  top: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: all .35s ease-out 0s;
  transform: translateX(100%);
  z-index: 1;
  background: var(--ham-bg-color); }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav > .back-prev-menu > span:not(.m-close) {
  display: block;
  padding: 15px 50px;
  font-size: 18px;
  line-height: 20px; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav > .back-prev-menu > span:not(.m-close):before {
  display: none; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .back-prev-menu {
  background: var(--main-color) !important;
  color: var(--main-color-contrast) !important;
  border-bottom: none;
  width: 100%;
  position: relative;
  text-align: center;
  text-transform: capitalize; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .back-prev-menu .m-close {
  background: var(--main-color);
  color: var(--main-color-contrast);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: right;
  font-size: 18px; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .back-prev-menu .expand {
  font-size: 18px;
  color: var(--main-color-contrast);
  padding: 15px 15px 15px 0;
  line-height: 20px;
  width: 100%;
  display: block; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .back-prev-menu .expand:before {
  content: "\e82a";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-padding-start: var(--padding-inset-sm);
  padding-inline-start: var(--padding-inset-sm);
  z-index: 1;
  text-align: start;
  width: 100%;
  color: inherit; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav > li > a {
  font-family: var(--font-heading);
  font-size: var(--body-font-size) 2px; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-col {
  position: static;
  padding: 0; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-col:not(:last-child) .mega-sub-link {
  border-bottom: 1px solid var(--body-border-color); }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .mega-sub-link {
  position: unset; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .mega-sub-link:not(:last-child), .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li:not(:last-child) {
  border-bottom: 1px solid var(--body-border-color); }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .expand, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .mega-sub-link .expand, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .mega-sub-link a, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li a {
  font-size: var(--body-font-size); }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li .mega-sub-link > a, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li > a {
  line-height: 19px;
  padding: 15px;
  display: table-cell;
  width: 80%; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-0, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-1, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-3 {
  border-bottom: none !important; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-0 > a, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-0 > span, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-1 > a, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-1 > span, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-3 > a, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-3 > span {
  display: none !important; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-0 > .dropdown-menu, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-1 > .dropdown-menu, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-3 > .dropdown-menu {
  transform: translateX(0);
  position: static;
  height: auto !important;
  min-height: auto !important;
  border-top: 1px solid var(--body-border-color);
  margin-top: -1px; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-0 > .dropdown-menu .back-prev-menu, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-1 > .dropdown-menu .back-prev-menu, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-3 > .dropdown-menu .back-prev-menu {
  display: none !important; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-sub-link.no-title-2.banners {
  border-top: 1px solid var(--body-border-color) !important;
  margin-top: -1px; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .dropdown:hover, .mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav li:hover {
  cursor: pointer; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .labels-wrapper {
  display: none; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-menu .dropdown-menu .featured-img img:hover {
  opacity: 1; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-menu .dropdown-menu .product-button a {
  color: var(--button-btn1-contrast);
  background: var(--button-btn1); }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-menu .back-prev-menu .expand {
  color: var(--main-color-contrast);
  line-height: 20px;
  font-size: 18px;
  padding: 15px;
  display: block; }

.mobile-version .menu-mobile .mm-wrapper .nav-collapse .main-nav .mega-menu .row {
  margin: 0;
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: auto;
  display: block; }

.mobile-version .menu-mobile .mm-wrapper .bp-item {
  padding: 15px; }

.mobile-version .menu-mobile .mm-wrapper .bp-item .sb-product-content {
  padding: 15px 0 0; }

.mobile-version .menu-mobile .mm-wrapper .bp-item .sb-product-content .bp-content-inner, .mobile-version .menu-mobile .mm-wrapper .bp-item .sb-product-content .product-name {
  padding: 0; }

.mobile-version .menu-mobile .mm-wrapper .bp-item .sb-product-content .bp-content-inner a, .mobile-version .menu-mobile .mm-wrapper .bp-item .sb-product-content .product-name a {
  font-size: var(--product-font-size);
  color: var(--ham-bg-color-contrast); }

.mobile-version .menu-mobile .mm-wrapper .bp-item .sb-product-content .sb-review {
  display: none; }

.mobile-version .menu-mobile .mm-wrapper .bp-item .sb-product-content .price, .mobile-version .menu-mobile .mm-wrapper .bp-item .sb-product-content .price-sale {
  color: var(--body-price-sale-color);
  font-size: var(--product-price-size); }

.mobile-version .menu-mobile .mm-wrapper .bp-item .sb-product-content .price-compare {
  color: var(--body-price-color);
  font-size: var(--body-font-size);
  text-decoration: line-through;
  -webkit-padding-start: var(--padding-inset-xs);
  padding-inline-start: var(--padding-inset-xs); }

.mobile-version .menu-mobile .mm-wrapper .product-wrapper {
  border: none;
  margin: 0;
  padding: 15px; }

.mobile-version .menu-mobile .mm-wrapper .product-wrapper .label-brand-logo, .mobile-version .menu-mobile .mm-wrapper .product-wrapper .product-add-cart, .mobile-version .menu-mobile .mm-wrapper .product-wrapper .product-button, .mobile-version .menu-mobile .mm-wrapper .product-wrapper .product-description, .mobile-version .menu-mobile .mm-wrapper .product-wrapper .product-vendor, .mobile-version .menu-mobile .mm-wrapper .product-wrapper .swatch-wrapper {
  display: none; }

.mobile-version .menu-mobile .mm-wrapper .product-wrapper .product-price-review-wrapper {
  margin: 0;
  border: none;
  padding: 0; }

.mobile-version .menu-mobile .mm-wrapper .product-wrapper .product-content {
  padding-top: 15px; }

.mobile-version .menu-mobile .mm-wrapper .product-wrapper .product-content .product-name {
  padding: 0; }
