{% if settings.use_noti_product_slider %}
  <script type="text/javascript">
    function _createAndInit() {
      $.getJSON('http://freegeoip.net/json/', function(data){ 
        var html = '<select class="crs-country" data-region-id="list-state" data-default-value="' + data.country_name + '"></select>' + '<select id="list-state"></select>';
        document.getElementById('country-target').innerHTML = html;

        window.crs.init();

        var optionValues = [];

        $('#list-state option').each(function() {
          optionValues.push($(this).val());
        });

        optionValues.sort(function() {return 0.5 - Math.random();}); 
        var arrayLength = optionValues.length;

        $('.noti-state').html(optionValues[0])

        var $owl = $( '.np-slider' );
        var j = 0;

        $owl.on('changed.owl.carousel', function(event) {
          j = j + 1;
          $('.noti-state').html(optionValues[j]);
          
          var _time = Math.floor(Math.random() * 48) + 1;
          
          if (_time > 23){
            _time = Math.floor(_time / 24);
            $('.noti-time').html( _time + ' day ago' );
          }
          
          else {$('.noti-time').html( _time + ' hours ago' );}
          
          setTimeout(function(){
            $('.noti-product-slider').addClass('d-none');
          }, 5000);
          
          setTimeout(function(){
            $('.noti-product-slider').removeClass('d-none');
          }, 15000);
          
        })

      });
    }
  </script>

  <div class="noti-product-slider d-visibility{% unless settings.use_noti_product_slider_mobile %} hide-mobile{% endunless %}">
    {% assign _case = settings.noti_product_data %}

    {% if _case == 'collection' %}
      {% assign collection = settings.noti_slider_collection %}

      {% if collection != blank %}
        {% assign collection = collections[settings.noti_slider_collection] %}

        {% if collection and collection.all_products_count > 1 %}
          <div class="np-slider">
            {% for product in collection.products limit: 10 %}
              {% include 'product-item' %}
            {% endfor %}
          </div>
        {% endif %}

      {% endif %}
    
      <div id="country-target" class="d-none"></div>

      <script type="text/javascript">
        jQuery(document).ready(function($){
          
          _createAndInit();

          function random(owlSelector){
            owlSelector.children().sort(function(){
              return Math.round(Math.random()) - 0.5;
            }).each(function(){
              $(this).appendTo(owlSelector);
            });
          }

          var $owl = $( '.np-slider' );
          $owl.on('initialize.owl.carousel', function(event){
            var selector = $('.np-slider');
            random(selector);
            setTimeout(function(){
              $('.noti-product-slider').removeClass('d-visibility');
            }, 5000);
          });
          var _rtl      = _bc_config.enable_rtl == 'true' ? true    : false;
          jQuery(".np-slider").length && jQuery('.np-slider').owlCarousel({
            rtl         : _rtl
            ,autoplay		: true
            ,autoplayTimeout: 15000
            ,smartSpeed		: 0
            ,loop			: true
            ,nav			: false
            ,dots 			: false
            ,items			: 1
            ,mouseDrag 		: false
            ,touchDrag 		: false
          });
        })
      </script>

    {% else %}
      {% assign _querry = "" %} 
      {% assign _search_uri = shop.secure_url | append:"/search?type=product&q=" %}

      {% assign _all_vendors = "" %}
      {% assign _all_handle = "" %}

      {% capture current_product_vendor %}{{ product.vendor}}{% endcapture %}
      {% capture current_product_handle %}{{ product.handle}}{% endcapture %}

        {% if current_product_vendor != blank %}
          {% unless _all_vendors contains current_product_vendor %}
            {% assign _all_vendors = _all_vendors | append:current_product_vendor | append:"|"  %}
          {% endunless %} 
        {% endif %}

        {% unless _all_handle contains current_product_handle %}
            {% assign _all_handle = _all_handle | append:current_product_handle | append:"|"  %}
        {% endunless %} 


      {% assign _vendor_array = _all_vendors | split: '|' %}
      {% assign _handle_array = _all_handle | split: '|' %}

      {% if _case == "vendors" %}

        {% if _vendor_array.size > 0 %}
          {% for _vendor in _vendor_array %}

            {%if _querry == "" %}
                {% assign _querry = _querry | append:" vendor:" | append: _vendor  %}
            {% else %} 
                {% assign _querry = _querry | append:" OR vendor:" | append:_vendor  %}
            {% endif %}  

          {% endfor %}
        {% endif %}

      {% endif %}	

      {% unless _vendor_array.size < 1 %}

      {% for _handle in _handle_array %}
        {% assign _querry = _querry | append:" NOT handle:" | append:_handle  %}
      {% endfor %}

      {% assign _search_uri = _search_uri | append:_querry  %}

      <div class="np-slider"></div>
      <div id="country-target" class="d-none"></div>

      <script>
      //<![CDATA[
        jQuery(document).ready(function($) {

                var _callback_uri = "{{_search_uri}}";
                if (location.protocol !== 'https:') {
                   _callback_uri = _callback_uri.replace("https:", "http:");
                }
          
                _createAndInit();

                jQuery.ajax({
                  type: 'GET',     
                  url: _callback_uri,
                  success: function ( json_reponse ) {
                    var _result_wrapper = jQuery(json_reponse).find(".page-search .cata-product")
                         ,_is_found      = _result_wrapper.length > 0 ? true : false;;

                    if( _is_found ){
                      jQuery(".np-slider").html( _result_wrapper.html() );
                      if( !jQuery(".np-slider").hasClass("owl-loaded") ){
                        setTimeout(function(){

                          {% if settings.currency_type == '2' %}
                            currenciesCallbackSpecial('.np-slider span.money');
                          {% endif %}

                          var _rtl      = _bc_config.enable_rtl == 'true' ? true    : false;
                          jQuery('.np-slider').owlCarousel({
                            rtl         : _rtl
                            ,autoplay		: true
                            ,autoplayTimeout: 15000
                            ,smartSpeed		: 0
                            ,loop			: true
                            ,nav			: false
                            ,dots 			: false
                            ,items			: 1
                            ,mouseDrag 		: false
                            ,touchDrag 		: false
                          });
                        }, 5000);
                      }
                    }else{
                      console.log('no realted result found');
                    }
                  }     
                });       

        });
      //]]>
      </script> 

      {% endunless %}
    {% endif %}

  </div>
{% endif %}