
.group-toolbar {
    @extend %flexbox;
    @extend %align-items-center;
    @extend %justify-content-between;   
    .filter-icon {        
      cursor: pointer;
      font-size: var(--size-h4);
      color: var(--body-light-color);
      @extend %flexbox;
      @extend %align-items-center;
      @extend %transition-ease;
      @media (max-width: 991px) {
        color: var(--header-mobile-bg-contrast);
      }
      @media (max-width: 479px) {
        font-size: 14px;
      }
      i {
        @include margin-end(var(--padding-inset-xxs));
        font-weight: 400;
        font-size: 16px;
        @media (min-width: 992px) {
        //   color: rgba(var(--body-general-color-rgba) 0.5);
        }       
        &:before {
          position: static;
        }
      }
      &:hover {
        @media (min-width: 1025px) {
          color: var(--body-title-color);
        }
      }
    }
  }
  .cata-toolbar {
    margin: 0 0 20px;
    width: 100%;  
    position: relative;  
    @media (max-width: 991px) {
      margin: 0;
      padding: 10px;
    }
    .group-gl {
      float: right;
      margin: 0 0 10px 0;
    }
    .grid-list {        
      @extend %flexbox;
      @extend %align-items-center;
      .grid, .list {
        text-align: center;      
        cursor: pointer;      
        color: rgba(var(--body-general-color-rgba), 0.5);
        @include padding-end(var(--padding-inset-sm)); 
        @media (max-width: 991px) {
          height: 26px;        
          color: rgba(var(--header-mobile-bg-contrast-rgba), 0.5);
        }
        @media (max-width: 374px) {
          @include padding-end(var(--padding-inset-xs));
        }
        i {
          font-size: var(--font-small-icon);
          display: block;
          &:before {
            width: auto;
          }
        }
        &.active {
          background: none;
          opacity: 1;
          @media (min-width: 992px) {
            color: var(--main-color); 
          }       
        }
        &:hover {
          background: none;
          @media (min-width: 1025px)  {
            color: var(--main-color);   
          }
        }  
      } 
    }
    .group-toolbar {    
      >div~.grid-list {
        .grid, .list {
          @include padding-start(var(--padding-inset-sm));
          @include padding-end(0);
          @media (max-width: 374px) {
            @include padding-start(var(--padding-inset-xs));
            @include padding-end(0);
          }
        }
      }
    }
    .filter {
      @include margin-end(40px);
      padding-bottom: 20px;
      margin-bottom: -1px;
      &:hover {
        > .dropdown-menu {
          display: block;
          z-index: 11;
        }
      }
      > a {
        border: 1px solid var(--body-border-color);
        padding: 9px 20px;
        font-size: 14px;
        display: inline-block;
        width: 140px;
        text-align: center;
        i {
          float: right;
          margin-top: 4px;
        }
        &:hover{
          text-decoration: none;
          color: var(--body-link-color);
        }
      }
      > .dropdown-menu {
        right: auto;
        left: 15px;
        width: 100%;
        padding: 25px 30px;
      }
      .clear-filter{
        display: none;
      }
    }
    .sort-by {    
      color: var(--body-general-color);
      line-height: 28px;  
      > label{
        @include margin-end(var(--padding-xxs));
        vertical-align: top;
        margin-bottom: 0;
        display: inline-block;
      }
      .sort-by-inner {      
        position: relative;      
        white-space: nowrap;
        @extend %align-items-center;
        @extend %flexbox;
        @media (max-width: 991px) {       
          select {
            height: 40px;
            line-height: 38px;
            max-width: 100%;
            color: var(--header-mobile-bg-contrast);
          }
          &:before {
            content: '\e817';
            @include font-family;
            @include ab(n,n,n,15px);
            color: var(--header-mobile-bg-contrast);
          }
        }
        @media (max-width: 400px) { 
          .sort-by-title {
            display: none;
          }
        }
        label {        
          margin: 0 10px 0 0;
          color: var(--body-general-color);
          line-height: 28px;
          font-size: var(--size-h4);
          letter-spacing: 0.72px;
        }
        #cata_sort_by {
          float: right;
          position: static;
          &:after {
            content: none;
          }
          button {
            float: left;
            border: none;
            padding: 0 5px 0 0;
            background: none;
            text-align: start;
            line-height: 28px;
            white-space: nowrap;
            font-size: var(--size-h4);
            cursor: pointer;
            @media (max-width: 350px) {
              font-size: var(--body-font-size);
            }
            a {
              color: rgba(var(--body-general-color-rbga), 0.5);
              letter-spacing: 0.72px;       
            }
            span {
              padding: 0 10px;
              float: left;            
              @media (max-width: 350px) {
                padding: 0;
              }
              &.visible-xs {
                padding-top: 0;
              }
            }
            i{
              float:right;
              text-align: end;
              padding: 0;
              content: none;
              color: var(--body-light-color);
              font-size: 14px;
            }
          }
        }      
      }
      &.has-border {
        #cata_sort_by {
          border: 1px solid var(--body-light-color);
          padding: 5px;
          @extend %border-radius-5;
        }
      }
      #sort_by_box {
        width: auto;
        min-width: 0;
        background: var(--light-color);
        padding: 10px 18px;
        display: block;
        visibility: hidden;
        z-index: -99;
        list-style: none;
        @include ab(100%, -1px, n, -1px);
        @include translate(0%, 10px);
        @extend %opacity-zero;
        @include  transition(all 0.35s ease);
        @include box-shadow(0 0 18px rgba(var(--dark-color-rgba), 0.21));
        @media (max-width: 991px) {
          @include translate(0%, -100%);
        }
        li{
          padding: 0;
          text-align: start;
          margin-bottom: 0;        
          a {
            padding: 4px 0;
            line-height: 20px;
            display: block;
            transition: none;
            font-size: calc(var(--body-font-size) - 1px);
            color: var(--body-general-color);
          }
          &:hover {
            @media (min-width: 1025px) {
              a{
                color: var(--main-color);
              }
            }
          }
          &.active {
            a{
              cursor: default;
              color: var(--main-color);
            }
          }        
        }
        @media (max-width: 479px) {
          padding: 10px;
          li {
            a {
              font-size: 12px;
            }
          }
        }
      }
      &.opened {
        #sort_by_box {
          visibility: visible;
          z-index: 99;
          @extend %opacity;
          @include box-shadow(0 0 18px rgba(var(--dark-color-rgba), 0.16));
          @media (max-width: 991px) {
            @include translate(0%, -110%);
          }
        }
      }
    }
    .top-pagination-holder {
      float: right;
      margin: 5px 0;
      > span {
        float: left;
        line-height: 40px;
        padding: 0 7px 0 0;
      }
      .pagination {
        float: left;
      }
    }
    .visible-xs{
      cursor: pointer;
    }
  }