/*sell-people*/
.popup-sell-people {
    @include border-radius(5px, 5px, 5px, 5px);
    @include box-shadow(0 0 5px 0 #c6c6c6);
    width: 350px;
    display: table;
    vertical-align: middle;
    position: fixed;
    z-index: 9999;
    display: none;
    @media (max-width: 399px) {
      width: 100%;    
    }
    &.show {
      display: block;
    }
    &.bottom-left {
      bottom:10px;
      left:10px;
      @media (max-width: 991px) {
        bottom: 64px;
      }
      @media (max-width: 414px) {
        left: 0;
      }
    }
    &.bottom-right {
      bottom: 10px;
      right: 10px;
      @media (max-width: 991px) {
        bottom: 64px;
      }
    }
    &.top-left {
      top:10px;
      left:10px;
    }
    &.top-right {
      top: 10px;
      right: 10px;
    }
    .img-user {
      width: 80px;
      display: table-cell;
      vertical-align: middle;
      img {
        width: 100%;
        @include border-radius(5px, 0, 0, 5px);
      }
    }
    .text-detail {
      display: table-cell;
      vertical-align: middle;
      padding: 10px 15px;
      .sell-text {
        margin: 0;
        line-height: 20px;
        font-size: var(--body-font-size);
        font-weight: normal;
        color: var(--body-general-color);
      }
    }
  }