.product-price {  
    font-size: var(--product-price-size);  
    letter-spacing: 0.4px;
    font-weight: var(--product-price-weight);
    .price {
      font-size: inherit;
      color: var(--body-price-sale-color);
    }
    .price-sale {
      font-size: inherit;
      color: var(--body-price-sale-color);   
    }
    .price-compare {
      text-decoration: line-through;
      color: var(--body-price-color);
      font-size: calc(var(--product-price-size) - 4px);
      @include padding-start(6px); 
    }
    &.has-border {
      min-width: 90px;
      text-align: center;
      @media (max-width: 479px) {  
        padding: 4px 5px;    
        .price-sale {
          font-size: 14px;
        }
        .price-compare {
          font-size: 10px;
          @include padding-start(0);
        }
      }
    }
}