#scroll-to-top {
    @extend %transition-ease;
    @extend %opacity-zero;
    -moz-backface-visibility: hidden;   
    position: fixed;
    right: 15px;
    bottom: 10px;
    z-index: 1000;
    display: block;
    cursor: pointer;
    text-align: center;
      &.on {
        bottom: 10%;
        @extend %opacity;
        @media (max-width: 991px) {
          bottom: 70px;
        }
      }
      i {
        display: none;
      }
      a {
        position: relative;
        width: 45px;
        height: 45px;
        line-height: 45px;
        display: block;
        border: 2px solid var(--main-color);
        color: var(--main-color);             
        background: var(--body-background-color);          
        @extend %transition-ease;
        @extend %border-radius-circle;
        &:before {
          content: "\e83c";
          font-size: var(--font-small-icon);
          padding: 0;
          width: 100%;
          height: 100%;
          line-height: 43px;
          text-align: center;
          color: inherit;
          @extend %font-family;
          display: block;        
        }
        &:hover {
          text-decoration: none;
          background: var(--main-color);
          color: var(--main-color-contrast);
        }      
      } 
} 