#searchModal {
    @extend %flexbox;
    @extend %align-items-center;
    background: rgba(var(--dark-color-rgba), 0.76) none repeat scroll 0 0;
    position: fixed;    
    height: 100%;  
    top: 0;
    left: 0;
    display: none;
    padding: 5% 0;
    z-index: 9999;  
    #searchModal[aria-hidden="false"] {
      z-index: 99999;
    } 
    .modal-dialog {
      width: 90%;
      max-width: 580px;
      min-width: 290px;
      height: 100%;
      padding: 0;
      margin: 0 auto;    
      position: relative;
      z-index: 3;         
      @extend %flexbox;
      @extend %align-items-center;
      .modal-content {
        background: var(--body-second-color);
        padding: 5%;
        border: none;      
        @extend %border-radius-reset;
        &.s-loading {
          .navbar-form {
            &:before {
              z-index: 5;
              font-size: var(--font-small-icon);
              vertical-align: middle;
              font-family: "arenafont";
              content: "\e89c";            
              color: var(--font-small-icon);
              width: 40px;
              height: 50px;
              text-align: center;
              line-height: 50px;
              @include ab(0px, n, n, 0);
              @extend %animation-fa-spin;           
            }
            .search-icon {
              @extend %opacity-zero;
            }
          }
        }
      }
      button.close {      
        @extend %btn-close;
      }
      h3 {
        margin: 0;
        padding: 0 0 15px;
        font-size: var(--size-h4);
      }
      .navbar-form {
        padding: 0;
        margin: 0;
        position: relative;
        .form-control {
          width: 100%;                     
          font-weight: 300;
          @include padding-end(45px);
        }
        .search-icon {
          border: none;
          padding: 0;
          margin: 0;
          background: none;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;       
          z-index: 8; 
          @include ab(0, n, n, 0);        
          i {
            font-size: var(--font-icon);
            color: var(--body-general-color);
          }
          &:hover {
            i {
              color: var(--main-color);
            }
          }
        }
      }    
    }
    #result-ajax-search {
      text-align: start;
      width: 100%;
      padding: 0;
      margin: 15px 0 0;
      display: none;
      border-bottom: 1px solid var(--body-border-color);
      overflow: hidden;
      @extend %box-shadow-reset;
      ul {
        margin: 0;
        padding: 0 15px;
        max-height: 450px;
        overflow: auto;
        background: var(--light-color);
        width: 100%;
        li {
          display: block;
          overflow: hidden;
          padding: 10px 0;
          &:not(:last-child) {
            border-bottom: 1px solid var(--body-border-color);
          }
          .search-item-img {
            float: right;
            margin: 0 0 0 15px;
          }
          .search-item-title {
            display: block;
            line-height: 1.4;
            margin: 0 0 5px 115px;
            font-size: var(--product-font-size);
            .marked {
              color: var(--main-color);
            }
            &:hover {
              color: var(--main-color);
            }
          }
          .price-compare {
            margin: 0 0 0 10px;
            text-decoration: line-through;
            color: var(--body-price-color);
            font-size: var(--product-price-size);
          }
          p {
            margin: 0;
          }
          &:hover {
            background: none;
          }
        }
      }
    }
  }