.page-cart {
    padding-bottom: 60px;
    .cart-empty-wrapper {
      padding-top: 50px;
      @media (max-width: 767px) {
        padding-top: 30px;
      }
      >a {
        color: var(--main-color);      
        border-bottom: 1px solid currentColor;
        font-size: calc(var(--body-font-size) + 2px);
      }
    }
    #shipping-calculator {
      @media (max-width: 991px) {
        padding-bottom: var(--padding-inset-xs);
      }
      .shipping-calculator-form {
        padding-top: 15px;        
        .control-wrapper {
          select, input[type="text"] {
            @extend %border-radius-5;
          }
          &:last-child {
            padding-top: 0;
          }
        }
        &:not(.show) {
          @media (min-width: 768px) {
            display: block;
          }
        }       
      }
    }
    .cart-clear {
      @include flexbox;
      justify-content: space-between;
    }
    .cart-order-note {
      padding-bottom: var(--padding-lg);
      .cart-note {
        padding-top: 15px;
      }
      textarea {
        width: 100%;
        min-height: 120px;
      }
    }
    .payment-image {
      padding-bottom: var(--padding-inset-xs);
    }
    .free-shipping {
      @media (max-width: 767px) {
        padding-top: 25px;
      }
      .text {
        font-size: var(--body-font-size);
        padding-bottom: 15px;
      }
      .progress {
        @extend %load_progressbar;
        margin: 0 0 20px;
      }
      .progress-bar  {
        @extend %per_progressbar;
        color: var(--main-color-contrast);
      }
      .text span {
        font-weight: 700;
      }
    }
    .cart-total {
      @extend %flexbox;
      justify-content: space-between;
      padding-bottom: var(--padding-sm);
      font-size: var(--size-h4);
      >div {
        .money {
          font-weight: 600;
        }
      }
    }
    .checkout-wrapper {
      input[type="checkbox"] {
        margin-bottom: 1px;
      }
      .checkout-button {
        @media (min-width: 1440px) {
          @include flexbox;
          padding-top: 40px;
          .cart-clear {
            flex: 1;
            @include margin-start(var(--padding-inset-xxs));
            a {
              padding: 9px;
              width: 100%;
            }
          }
          >a {
            flex: 1;
            padding: 9px;
            @include margin-end(var(--padding-inset-xxs));
          }
        }
        @media (max-width: 1439px) {
          padding-top: 20px;
          .cart-clear {
            margin-top: 20px;
            a {
              width: 100%;
            }
          }
          >a {
            width: 100%;
          }
        }
      }
    }
    .action {
      [type=button], [type=reset], [type=submit], button {
        -webkit-appearance: none;
      }
      .cart-remove-icon {
        font-size: var(--size-h4);
      }
    }
    tr {
      .item-name-inner {
        @include flexbox;
        @include align-items(center);
      }
      .item-name {        
        .item-title {
          font-size: var(--product-font-size);
          font-weight: var(--product-title-weight);
          @media (max-width: 991px) {
            @include padding-start(var(--padding-inset-xs));
            font-size: 14px;
          }
          @media (max-width: 767px) {
            display: none;
          }
        }
        .item-image {
          position: relative;
          &:before {
            content: '';
            display: block;
            @if var(--productImageRatioPercentage) == 'auto' {
              padding-bottom: 100%;
              } @else if var(--productImageRatioPercentage) == false {
                padding-bottom: 0%;
                } @else {
                  padding-bottom: var(--productImageRatioPercentage);
                }
              }
              img {
                height: 100%;
                @if var(--productImageAutoCrop) == false {
                  object-fit: contain;
                  font-family: "object-fit: contain";
  
                } @else {
                  object-fit: cover;
                  font-family: "object-fit: cover";
            }
          }
        }
      }
      .author-item {
        font-size: var(--body-font-size);
        @media (max-width: 991px) {
          font-size: 12px;
        }
      }
      .item-price, .item-total {
        font-size: var(--size-h4);
        color: var(--body-title-color);
        font-weight: var(--product-price-weight);
      }
      .item-qty {
        input {
          border: 0;
          @extend %border-radius-reset;
        }
      }
      @media (max-width: 767px) {
        &.cart-item {
          @include flexbox;
          align-items: center;
          @include box-shadow(0 0 2px var(--body-border-color));
          padding: 5px;
          margin-bottom: 15px;
        }
        td {
          padding: 0;
          border: 0;
        }
        .item-name {
          width: 90px;
          .item-image {
            width: 90px!important;
          }
        }
        .item-qty {
          text-align: start !important;
          @include padding-start(var(--padding-inset-sm));
          flex: 1;
          .qty-wrapper {
            @include flexbox;
            border: 1px solid var(--body-border-color);
            width: 100px;
            margin: 5px 0;
            @include border-radius(5px, 5px, 5px, 5px);
            input {
              width: 34px!important;
              padding: 5px!important;
              height: 30px;
              text-align: center;
            }
            .qty-inner {
              @include flex-box(32px);
              @include flexbox;
              justify-content: center;
              align-items: center;
              height: 30px;
              background: rgba(var(--body-border-color-rgba), 0.3);
            }
          }
        }
        .action {
          text-align: end!important;
          border: 0;
          @include flex-box(35px);
          .cart-remove-icon {
            background: var(--main-color);
            color: var(--main-color-contrast);
            font-size: 14px;
            padding: 3px 2px;
            @include border-radius(5px, 5px, 5px, 5px);
          }
        }
      }
    }
    @media (max-width: 575px) {
      .cart-clear {
        a {
          padding: 9px 15px;
        }
      }
    }
    @media (max-width: 369px) {
      .cart-clear {
        a {
          padding: 9px;
          font-size: 13px;
        }
      }
    }
    .sidebar-cart {
      border: 1px solid var(--body-border-color);
      padding: var(--padding-inset-md);
      .title-summary {
        font-size: calc(var(--size-h4) + 2px);
        font-weight: calc(var(--body-weight) + 100);
        padding-bottom: var(--padding-xs);
      }
      .checkout-wrapper {
        .btn {
          margin-top: var(--padding-md);
          width: 100%;
        }
      }
      .payment-image {
        padding-bottom: var(--padding-xs);
        border-top: 1px solid var(--body-border-color);
        margin-top: 20px;
        >span {
          padding: var(--padding-md) 0;
          display: block;
          font-size: var(--size-h4);
          text-align: center;
          font-weight: calc(var(--body-weight) + 100);
        }
      }
    }
    &.cart-style-book {
      table tr th, table tr td {
        text-align: center;
      }
      .table-items {
        padding-bottom: 30px;
        @media (max-width: 767px) {
          padding-bottom: 10px;
        }
      }
      .cart-table .table-items~.cart-clear {
        padding-bottom: 50px;
        @media (max-width: 767px) {
          padding-bottom: 30px;
        }
        >a {
          display: none;
        }
      }
      tr {
        .item-name {        
          .item-image {
            width: 70px;
            min-width: 70px;
          }
          .item-title {
            @include padding-start(var(--padding-inset-lg));
            text-align: start;
          }
        }
        .item-qty {
          input {
            width: 55px;
            text-align: center;
            font-size: var(--size-h4);
            @media (max-width: 991px) {
              width: 50px;
              padding: 10px;
            }
          }
          .qty-inner {
            font-size: var(--size-h4);
            cursor: pointer;
            .qty-down {            
              i {
                &:before {
                  content: "\e80a";
                  @extend %font-family;
                }
              }
            }
            .qty-up {
              i {
                &:before {
                  content: "\e83c";
                  @extend %font-family;
                }
              }
            }
          }
        }
      }
    }
    &.cart-style-art {
      @media (min-width: 768px) {
      .table-items {
        border: 1px solid var(--body-border-color);
        padding: var(--padding-inset-md);
      }      
        tr {
          @include flexbox;
          border-bottom: 1px solid var(--body-border-color);
          margin-bottom: var(--padding-inset-md);
          padding-bottom: var(--padding-inset-md);
          align-items: center;
          position: relative;
          td {
            padding: 0;
            border: 0;
          }
          .item-name {
            @include flex-box(60%);
            .item-image {
              width: 160px;
            }
            .item-title {
              @include padding-start(var(--padding-inset-sm));
            }
          }
          .item-qty {
            @include flex-box(20%);
            display: flex;
            align-items: center;
            .qty-wrapper {
              @include flexbox;
              align-items: center;
              width: 115px;
              border: 1px solid var(--body-border-color);
              >span {
                flex: 1;
                cursor: pointer;
                >span {
                  height: 45px;
                  width: 100%;
                  @include flexbox;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
            input {
              border-radius: 0;
              width: 40px;
              padding: 5px;
              text-align: center;
            }
          }
          .item-total {
            @include flex-box(20%);
            .action {
              @include ab(0,n,n,0);
              background: var(--main-color-text);
              border-radius: 50%;
              width: 25px;
              height: 25px;
              line-height: 25px;
              @include padding-start(2px);
              a {
                color: var(--main-color-text-contrast);
                .cart-remove-icon {
                  font-size: 14px;
                }
              }
              &:hover {
                background: var(--main-color);
                a {
                  color: var(--main-color-contrast);
                }
              }
            }
            .label-price {
              display: inline-block;
              float: left;
              text-align: end;
              .label {
                font-weight: var(--body-weight);
              }
              >span {
                display: block;
              }
            }
          }
        }
        .cart-clear {
          a {
            background: none;
            border: 0;
            padding: 10px 0;
            color: var(--body-title-color);
            text-transform: capitalize;
            box-shadow: unset;
            &:hover {
              background: none;
              box-shadow: unset;
              border: 0;
              color: inherit;
            }
          }
          >a {
            &:before {
              content: '\e82f';
              @include font-family;
              @include padding-start(var(--padding-inset-xs));
              font-weight: 900;
            }
          }
        }
      }
      .cart-order-note {
        padding-top: 30px;
      }
      .sidebar-cart {
        .checkout-wrapper {
          .btn {
            @extend %border-radius-reset;
          }
        }
        #shipping-calculator {
          .control-wrapper {
            .get-rates {
              @extend %border-radius-reset;
            }
          }
        }
      }
      .cart-clear {
        a {
          @extend %border-radius-reset;
        }
      }
    }
    &.cart-style-music {
      @media (max-width: 1199px) and (min-width: 768px) {
        .cart-item {
          td {
            padding: 10px;
            .item-image {
              width: 110px;
            }
          }
        }
      }
      @media (min-width: 768px) {
        .item-name {
          .item-image {
            width: 200px;
          }
          .item-title {
            @include padding-start(var(--padding-inset-sm));
            flex: 1;
          }
        }
        .item-price, .item-total {
          text-align: center;
        }
        .item-qty {
          .quantity {
            @include flexbox;
            justify-content: center;
          }
          .qty-wrapper {
            @include flexbox;
            border: 1px solid var(--body-border-color);
            width: 120px;
            @include border-radius(5px, 5px, 5px, 5px);
            input {
              width: 38px !important;
              padding: 5px !important;
              height: 45px;
              text-align: center;
            }
            .qty-inner {
              @include flex-box(40px);
              @include flexbox;
              justify-content: center;
              align-items: center;
              height: 45px;
              cursor: pointer;
            }
          }
        }
        .table-items {
          padding-bottom: 30px;
        }
        .cart-table > .cart-clear {
          padding-bottom: 40px;
        }
      }
      .cart-clear {
        a {
          @include border-radius(5px, 5px, 5px, 5px);
        }
      } 
      #shipping-calculator, .checkout-button {
        .get-rates, >a {
          @include border-radius(5px, 5px, 5px, 5px);
        }
      }
      @media (max-width: 767px) {
        .table-items {
          padding-bottom: 10px;
        }
        .cart-table > .cart-clear {
          padding-bottom: 20px;
        }
      }
    }
    &.cart-style-video {
      @media (min-width: 768px) {
        .table-items {
          border: 1px solid var(--body-border-color);
          padding: var(--padding-inset-md);
          margin-bottom: var(--padding-inset-lg);
          tr {
            @include flexbox;
            position: relative;
            .item-name-inner {
              align-items: flex-start;
            }
            td {
              padding: 0;
              border: 0;
              text-align: end;
            }
            &:not(:last-child) {
              border-bottom: 1px solid var(--body-border-color);
              margin-bottom: var(--padding-inset-md);
              padding-bottom: var(--padding-inset-md);
            }
          }
        }
        .item-name {
          position: relative;
          @include flex-box(90%);
          .action {
            @include ab(-12px,-12px,n,n);
            z-index: 1;
            background: var(--body-border-color);
            @include border-radius(50%, 50%, 50%, 50%);
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            .cart-remove-icon {
              font-size: 12px;
              color: var(--body-border-color-contrast);
            }
          }
          .item-image {
            width: 180px;
          }
          .item-title {
            @include padding-start(var(--padding-inset-md));
          }
        }
        .item-total {
          @include flex-box(10%);
        }
      }
      .checkout-wrapper, .control-wrapper {
        .get-rates, .btn {
          @include border-radius(5px, 5px, 5px, 5px);
        }
      }
      .checkout-wrapper {
        @media (max-width: 1199px) and (min-width: 992px) {
          .btn {
            padding: 9px 5px;
          }
        }
      }
      .cart-clear {
        padding-bottom: 40px;
        @media (max-width: 767px) {
          padding-bottom: 20px;
        }
        a {
          background: none;
          box-shadow: unset;
          border: none;
          color: inherit;
          padding: 0;
          text-transform: capitalize;
          &:hover {
            color: var(--main-color);
          }
        }
        >a {
          text-decoration: underline; 
        }
      }
      .sidebar-cart {
        border: 0;
        padding: 0;
        .sidebar-order-summary {
          border: 1px solid var(--body-border-color);
          padding: var(--padding-inset-md);
        }
        .payment-image {
          margin: 0;
          border: 0;
        }
      }
    }
    &.cart-style-game {
      @media (min-width: 768px) {
        .table-items {
          padding-bottom: 30px;
        }
        tr {
          @include flexbox; 
          align-items: center;
          border-bottom: 1px solid var(--body-border-color);
          position: relative;
          .item {
            @include flex-box(50%);
          }
          .price {
            @include flex-box(15%);
          }
          .qty {
            @include flex-box(20%);
          }
          .total-price {
            @include flex-box(15%);
          }
          td,th {
            border: 0;
            padding: var(--padding-inset-md) 0 40px;
          }
        }
        .item-name {
          @include flex-box(50%);
          .item-image {
            width: 90px;
          }
          .item-title {
            @include padding-start(var(--padding-inset-sm));
          }
        }
        .item-price {
          @include flex-box(15%);
          text-align: center;
        }
        .item-qty {
          @include flex-box(20%);
          display: flex;
          justify-content: center;
          align-items: center;
          .qty-wrapper {
            @include flexbox;
            align-items: center;
            width: 115px;
            border: 1px solid var(--body-border-color);
            @include border-radius(5px, 5px, 5px, 5px);
            >span {
              flex: 1;
              >span {
                height: 45px;
                width: 100%;
                @include flexbox;
                justify-content: center;
                align-items: center;
              }
            }
          }
          input {
            border-radius: 0;
            width: 40px;
            padding: 5px;
            text-align: center;
            height: 45px;
          }
        }
        .item-total {
          @include flex-box(15%);
          .action {
            @include ab(n,n,15px,0);
            .cart-remove-icon {
              color: var(--body-light-color);
              font-size: 12px;
              font-weight: calc(var(--body-weight) - 100);
              align-items: center;
              display: flex;
              i {
                background: var(--body-border-color);
                @include border-radius(50%, 50%, 50%, 50%);
                color: var(--body-border-color-contrast);
                @include margin-end(6px);
                font-size: 10px;
                padding: 1px 0;
                width: 18px;
                height: 18px;
                line-height: 17px;           
              }
            }
            &:hover {
              .cart-remove-icon {
                color: var(--main-color);
                i {
                  background: var(--main-color);
                  color: var(--main-color-contrast);
                }
              }
            }
          }
        }
      }
      .sidebar-cart {
        border: 0;
        padding: 0;
        .sidebar-order-summary {
          border: 1px solid var(--body-border-color);
          @include border-radius(10px, 10px, 10px, 10px);
          >div {
            padding: var(--padding-inset-md);
          }
          .title-summary {
            background: var(--main-color);
            color: var(--main-color-contrast);
            @include border-radius(10px, 10px, 0, 0);
          }
          .cart-total {
            padding-bottom: 0;
          }
          .checkout-wrapper {
            text-align: center;
            .terms-conditions {
              text-align: start;
            }
            >a {
              width: auto;
              text-transform: capitalize;
            }
          }
        }
        .payment-image {
          border: 0;
          margin: 0;
        }
        .control-wrapper {
          .get-rates {
            width: auto;
            margin: 0 auto;
          }
        }
      }
      .cart-clear  {
        padding-bottom: 40px;
        @media (max-width: 767px) {
          padding-bottom: 20px;
        }
      }
    }
    .hide-mobile {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
.page-cart {
  .cart-heading {
    display: none;
  }
}
@media (max-width: 767px) {
  .page-cart {
    .cart-heading {
      display: block;
    }
    .mobile-fixed {
      display: none;
      &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 15px;
        display: block;
        z-index: 999;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        background: var(--body-second-color);
        @include box-shadow(0 0 15px var(--body-border-color));
      }
      .btn {
        width: 100%;
      }
      .terms-conditions {
        padding-bottom: 15px;
        text-align: start;
      }
    }
  }
}
.border-radius {
  @media (max-width: 767px) {    
    .page-cart {
      .cart-item {
        @include border-radius(5px, 5px, 5px, 5px);
      }
    }
  }
}

.control-wrapper {
  display: block;
  clear: both;  
  input , select {
    display: block;
    clear: both;
    margin-bottom: 20px;
    width: 100%;            
}
}